@charset "utf-8";/*이 css문서는 utf-8방식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* CDN방식은 폰트를 다른 홈페이지에 업로드하고 가져다 쓰는 방식이다. 
(홈페이지에 웹폰트파일을 포함할 필요 없음) */
/* 본고딕 CDN방식으로 사용할 때 
폰트를 정의하는 font-face가 입력된 css를 import 불러다가 사용하는 방식을 많이 씀
장점은 간단하지만 단점은 google이 서비스를 중단하면 사용 못함
그래서 font파일을 저장해서 사용하기도 함. */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 500;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1280px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다 브라우저 넓이가 작을 때
    가로스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김.
    가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스 하기 위해서 최소 넓이를 입력 */
}

/*640px 이하일 때 스타일 - 640이하는 모바일 초과는 탭 */
@media screen and (max-width:640px) {
    html, body {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.2;
    }
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 20px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    }
    #wrap { /*id="wrap"에 적용되는 스타일 */
        min-width: auto;
        /* 홈페이지의 최소넓이를 제한하지 않음 */
    }    
} /*media*/

.header {
    /* fixed 브라우저 위치가 고정 - 스크롤을 내리던 말던 무조건 body랑만 정렬 */
    position: fixed;/*위에 고정값*/
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(237, 237, 237, 0.4);
}
.header .logo {
    float: left;
    margin-top: 21px;
}
.header .logo a {
    display: block;
    width: 163px;
    height: 48px;
    background: url(../images/logo.svg)no-repeat center center/contain;
    /*영역의 넓이와 높이에 이미지가 안짤리고 꽉차게 나오기*/
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    float: left;
    margin-left: 135px;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth01 {
    display: flex;
}
.header .gnb ul.depth01 > li {
    width: 210px;
    text-align: center;
}
.header .gnb ul.depth01 > li > a {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 100px; 
}
.header .gnb ul.depth01 > li:hover > a {
    color: #075F63;
}
.header .gnb ul.depth01 > li:hover > a > span {
    position: relative;
}
.header .gnb ul.depth01 > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: calc(50% - 50px);
    width: 100%;
    height: 10px;
    background-color: #075F63;
    content: "";
}
.header .gnb ul.depth02 {
    display: none; 
    margin-top: 28px;
}
.header .gnb ul.depth02 > li > a {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    display: block; /*a의 영역을 넓게 하려고*/
    color: #1d1d1d;
}
.header .gnb ul.depth02 > li > a:hover {
    font-weight: 700;
}
.header .tnb {
    float: right;
    display: flex;
    margin-top: 40px;
}
.header .tnb .login, .header .tnb .lang {
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 26px;
    height: 26px;
    padding-left: 40px;
} 
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' viewBox='0 -960 960 960' width='25' fill='%23fff'%3E%3Cpath d='M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
}
.header .tnb .lang  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20' fill='%23fff'%3E%3Cpath d='M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z'/%3E%3C/svg%3E");
}
/*header가 상단에 고정되었을 때*/
.header.fixed {
    background-color: rgba(244, 244, 244);
    color: #1d1d1d;
    border-bottom: 1px solid #ededed;
}
.header.fixed .logo a {
    background: url(../images/logo_c.svg)no-repeat center center/contain;
}
.header.fixed .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' viewBox='0 -960 960 960' width='25' fill='%231d1d1d'%3E%3Cpath d='M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
}
.header.fixed .tnb .lang  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20' fill='%231d1d1d'%3E%3Cpath d='M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z'/%3E%3C/svg%3E");
}
/*메뉴에 마우스를 오버했을 때 */
.header.menu_over {
    color: #1d1d1d;
}
.header.menu_over::after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 458px;
    background-color: #f4f4f4;
    content: "";
}
.header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(237, 237, 237, 0.4);
    content: "";
}
.header.menu_over .logo a {
    background: url(../images/logo_c.svg)no-repeat center center/contain;
}
.header.menu_over .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' viewBox='0 -960 960 960' width='25' fill='%231d1d1d'%3E%3Cpath d='M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
}
.header.menu_over .tnb .lang  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20' fill='%231d1d1d'%3E%3Cpath d='M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z'/%3E%3C/svg%3E");
}
.header.menu_over .gnb ul.depth02 {
    display: block;
}
@media screen and (max-width:640px) {
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 6px;
    }
    .header .logo a {
        width: 106px;
        height: 35px;
    }
    .header .gnb {
        float: right;
        margin-left: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        width: 80px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='18' viewBox='0 0 26 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0625 17.0973C0.761458 17.0973 0.509115 16.9943 0.305469 16.7883C0.101823 16.5823 0 16.327 0 16.0225C0 15.718 0.101823 15.4648 0.305469 15.2629C0.509115 15.0611 0.761458 14.9602 1.0625 14.9602H24.4375C24.7385 14.9602 24.9909 15.0632 25.1945 15.2692C25.3982 15.4752 25.5 15.7305 25.5 16.035C25.5 16.3395 25.3982 16.5927 25.1945 16.7946C24.9909 16.9964 24.7385 17.0973 24.4375 17.0973H1.0625ZM7.0625 9.61725C6.76146 9.61725 6.50911 9.51425 6.30547 9.30825C6.10182 9.10223 6 8.84696 6 8.54243C6 8.23789 6.10182 7.98469 6.30547 7.78285C6.50911 7.581 6.76146 7.48008 7.0625 7.48008H24.4375C24.7385 7.48008 24.9909 7.58308 25.1945 7.78908C25.3982 7.9951 25.5 8.25038 25.5 8.5549C25.5 8.85945 25.3982 9.11264 25.1945 9.31448C24.9909 9.51633 24.7385 9.61725 24.4375 9.61725H7.0625ZM1.0625 2.13717C0.761458 2.13717 0.509115 2.03417 0.305469 1.82817C0.101823 1.62215 0 1.36687 0 1.06235C0 0.757804 0.101823 0.504609 0.305469 0.302765C0.509115 0.100922 0.761458 0 1.0625 0H24.4375C24.7385 0 24.9909 0.102999 25.1945 0.308998C25.3982 0.515021 25.5 0.770294 25.5 1.07482C25.5 1.37936 25.3982 1.63256 25.1945 1.8344C24.9909 2.03624 24.7385 2.13717 24.4375 2.13717H1.0625Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute; /*header를 중심으로 정렬*/
        right: 0;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px auto;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb .gnb_close {
        width: 80px;
        height: 80px;
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0625 17.0973C0.761458 17.0973 0.509115 16.9943 0.305469 16.7883C0.101823 16.5823 0 16.327 0 16.0225C0 15.718 0.101823 15.4648 0.305469 15.2629C0.509115 15.0611 0.761458 14.9602 1.0625 14.9602H24.4375C24.7385 14.9602 24.9909 15.0632 25.1945 15.2692C25.3982 15.4752 25.5 15.7305 25.5 16.035C25.5 16.3395 25.3982 16.5927 25.1945 16.7946C24.9909 16.9964 24.7385 17.0973 24.4375 17.0973H1.0625ZM7.0625 9.61725C6.76146 9.61725 6.50911 9.51425 6.30547 9.30825C6.10182 9.10223 6 8.84696 6 8.54243C6 8.23789 6.10182 7.98469 6.30547 7.78285C6.50911 7.581 6.76146 7.48008 7.0625 7.48008H24.4375C24.7385 7.48008 24.9909 7.58308 25.1945 7.78908C25.3982 7.9951 25.5 8.25038 25.5 8.5549C25.5 8.85945 25.3982 9.11264 25.1945 9.31448C24.9909 9.51633 24.7385 9.61725 24.4375 9.61725H7.0625ZM1.0625 2.13717C0.761458 2.13717 0.509115 2.03417 0.305469 1.82817C0.101823 1.62215 0 1.36687 0 1.06235C0 0.757804 0.101823 0.504609 0.305469 0.302765C0.509115 0.100922 0.761458 0 1.0625 0H24.4375C24.7385 0 24.9909 0.102999 25.1945 0.308998C25.3982 0.515021 25.5 0.770294 25.5 1.07482C25.5 1.37936 25.3982 1.63256 25.1945 1.8344C24.9909 2.03624 24.7385 2.13717 24.4375 2.13717H1.0625Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='42' viewBox='0 -960 960 960' width='42' fill= '%233d3d3d'%3E%3Cpath d='M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z'/%3E%3C/svg%3E");
        background-size: 35px auto;
    }
    .header.menu_open .gnb .gnb_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;   
        background-color: #fff;
    } /* 메뉴가 열렸을 때 background색을 깔아주는 용도*/
    .header.menu_open .gnb .gnb_wrap::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 100vh; 
        background-color: #075F63;
        content: "";
    }
    .header .gnb ul.depth01 {
        display: none;
    }
    /* 메뉴가 열렸을 때 스크롤을 함*/
    .header.menu_open .gnb ul.depth01 { /*1차메뉴 보임 */
        display: block;
        color: #1d1d1d;
        overflow-y: scroll;
        margin-top: 70px;
        height: calc(100vh - 50px); 
        padding: 0 46px;
        /* 상단에 스크롤 될 영역 빼고 높이를 꽉 채워줘야함 */
    }
    .header .gnb ul.depth01 > li {
        width: auto;
        text-align: left;
    }
    .header .gnb ul.depth01 > li > a {
        font-size: 22px;
        font-weight: 700;
        line-height: 80px; 
        padding: 0 5px;
        position: relative;
    }
    .header .gnb ul.depth01 > li > a:after {
        position: absolute;
        right: 0;
        top: 31px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%233d3d3d'%3E%3Cpath d='M480-362q-8 0-15-2.5t-13-8.5L268-557q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-373q-6 6-13 8.5t-15 2.5Z'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
    }
    .header .gnb ul.depth01 > li.sub_open > a:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%233d3d3d'%3E%3Cpath d='M480-529 324-373q-11 11-28 11t-28-11q-11-11-11-28t11-28l184-184q6-6 13-8.5t15-2.5q8 0 15 2.5t13 8.5l184 184q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-529Z'/%3E%3C/svg%3E");
    }
    .header .gnb ul.depth01 > li:hover > a {
        color: inherit;
    }
    .header .gnb ul.depth01 > li:hover > a > span::after {
        display: none;
    }
    .header .gnb ul.depth02 {
        margin-top: 0;
        padding: 20px 0;
        background-color: #f4f4f4;
        border-radius: 10px;
    }
    .header .gnb .sub_open ul.depth02 {
        display: block;
    }
    .header .gnb ul.depth02 > li > a {
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        padding-left: 24px;
    }
    .header .tnb { /*로그인라인 숨김*/
        display: none;
    }
    
}/*media*/
.visual {
    /*background 사이즈 조절
    cover는 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경에 이미지
    contain 영역에 이미지가 꽉차게 - 이미지 일부가 안짤리고 배경이 일부가 빔 - 배경에 로고 */
    background: url(../images/visual_bg.png) no-repeat center center/cover;
    color: #fff;
    position: relative;
}
/*visual의 높이가 브라우저의 높이에 따라서 바뀜 
    그래서 h2태그가 위에서 부터으 여백이 때에 따라 달라짐
    --->고정값으로 줄 수가 없음 
    사이즈가 변경될 때 가운데는 바뀌지 않음
    h2태그는 원래 디자인 자체가 visual영역에 위아래 가운데 디자인
    코딩도 위아래 가운데에서부터 시작해서 여백을 줘야함*/
.visual .wrapper {
    height: 100vh; /*브라우저 높이와 동일한 높이*/
    min-height: 400px; /*최소높이*/
    position: relative;
}
.visual .inner {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    text-align: right;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.05em;
}

@media screen and (max-width:640px) {
    .visual .wrapper {
        height: 300px; /*브라우저 높이와 동일한 높이*/
        min-height: auto; /*최소높이*/
    }
    .visual .inner {
        position: relative;
        right: auto;
        top: auto;
        transform: translate(0,0);
        padding-top: 80px; 
    }
    .visual h2 {
        font-size: 20px;
        line-height: 1.4;
    }
}/*media*/

.service {
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translate(-50%,0);
    z-index: 100;
    border-radius: 50px;
    width: 1356px;
    background-color: #f4f4f4;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.1);
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 500;
}
.service h2 {
    display: none;
}
.service ul {
    display: flex;
    padding: 35px 0 35px 0;
}
.service ul li {
    width: 16.66%;
}
.service ul li a {
    padding-top: 80px;
    text-align: center;
    display: block;
    position: relative;
    margin: 0 30px;
}
.service ul li a::before {
    position: absolute;
    left: calc(50% - 26px);
    top: 5%;
    content: "";
    width: 53px;
    height: 50px;
    z-index: 50;
}
.service ul li a::after {
    position: absolute;
    left: calc(50% - 30px);
    top: 0;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #ededed;
}
.service ul li.service01 a::before {
    background: url(../images/service01.svg)no-repeat center center;
}
.service ul li.service02 a::before {
    background: url(../images/service02.svg)no-repeat center center;
}
.service ul li.service03 a::before {
    background: url(../images/service03.svg)no-repeat center center;
}
.service ul li.service04 a::before {
    background: url(../images/service04.svg)no-repeat center center;
}
.service ul li.service05 a::before {
    background: url(../images/service05.svg)no-repeat center center;
}
.service ul li.service06 a::before {
    background: url(../images/service06.svg)no-repeat center center;
}
@media screen and (max-width:640px) {
    .service {
        position: relative;
        left: auto;
        bottom: auto;
        transform: translate(0,0);
        z-index: 0;
        border-radius: 0;
        width: 100%;
        background-color: #ededed;
        box-shadow: none;
        font-size: 13px;
        font-weight: 700;
    }
    .service ul {
        flex-wrap: wrap;
        padding: 23px 0 0 0;
    }
    .service ul li {
        width: 33.33%;
        padding-bottom: 25px
    }
    .service ul li a {
        padding-top: 70px;
        margin: 0;
    }
    .service ul li a::before {
        left: calc(50% - 25px);
        top: 3px;
        width: 51px;
        height: 51px;
    }
    .service ul li a::after {
        left: calc(50% - 25px);
        top: 3px;
        width: 51px;
        height: 51px;
        background-color: #f8f8f8;
    }
    .service ul li.service01 a::before {
        background-size: 33px auto;
    }
    .service ul li.service02 a::before {
        background-size: 25px auto;
    }
    .service ul li.service03 a::before {
        background-size: 42px auto;
    }
    .service ul li.service04 a::before {
        background-size: 35px auto;
    }
    .service ul li.service05 a::before {
        background-size: 30px auto;
        padding-top: 5px;
    }
    .service ul li.service06 a::before {
        background-size: 37px auto;
    }
}/*media*/

.biz h2 {
    margin: 90px 0 63px 0;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #075F63;
}

.biz ul {
    display: flex;
    justify-content: space-between;
}
.biz ul li a {
    width: 308px;
    height: 320px;
    display: block;
    border-radius: 20px;
    padding: 30px 25px 0 29px;
    color: #fff;
    position: relative; /*more정렬의 기준*/
    /*높이를 주었다면 밑의 여백은 주지 않음*/
}
.biz ul li.biz01 a {
    background-color: #FA5A5D;
}
.biz ul li.biz02 a {
    background-color: #FFBA00;
}
.biz ul li.biz03 a {
    background-color: #49BEB6;
}
.biz ul li.biz04 a {
    background-color: #075F63;
}
.biz ul li a::after {
    position: absolute;
    content: "";
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*after 선택자에 준 넓이에 딱 맞게 배경이미지 사이즈 조정 (높이는 비율에 맞게 조정)*/
}
.biz ul li.biz01 a::after {
    width: 126px;
    height: 117px;
    right: 10px;
    bottom: 0;
    background-image: url(../images/biz01.svg);
    opacity: 10%;
}
.biz ul li.biz02 a::after {
    width: 90px;
    height: 157px;
    right: 25px;
    bottom: -11px;
    background-image: url(../images/biz02.svg);
    opacity: 20%;
}
.biz ul li.biz03 a::after {
    width: 196px;
    height: 113px;
    right: -50px;
    bottom: -5px;
    background-image: url(../images/biz03.svg);
    opacity: 15%;
}
.biz ul li.biz04 a::after {
    width: 110px;
    height: 130px;
    right: 11px;
    bottom: -15px;
    background-image: url(../images/biz04.svg);
    opacity: 10%;
}

.biz ul li a h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 19px;
}
/*위에 배치된 h3/p 문장의 길이가 길거나 짧아도 디자인 동일한 위치에 배치되어야함.
    상단여백으로 배치 x
    position: absolute로 배치해야됨.
    (위 컨텐츠를 */
.biz ul li a .more {
    position: absolute;
    left: 29px;           
    bottom: 32px;
    border: 1px solid rgba(237,237,237,0.6);
    border-radius: 30px;
    padding: 10px 28px 12px 14px;
    display: block;     
}
.biz ul li a .more:hover {
    border: 1px solid rgba(255,255,255);
    background-color: #fff;
    color: #1d1d1d;
}
.biz ul li a .more::after {
    position: absolute;
    right: 8px;
    top: 13px;
    width: 18px;
    height: 18px;
    background: url(../images/biz_more.svg) no-repeat center center;
    content: "";
}
.biz ul li a .more:hover::after {
    background: url(../images/more_b.svg) no-repeat center center;
}
@media screen and (max-width:640px) {
    .biz h2 {
        margin: 55px 0 24px 0;
        font-size: 22px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li a {
        width: auto; /*a에 display: block;있기 때문에 넓이를 auto를 주면 100%가 적용됨*/
        height: 120px;
        padding: 20px 0 0 30px; 
        margin-bottom: 10px;
    }
    .biz ul li a::after {
        background-position: center center;
    }
    .biz ul li.biz01 a::after {
        width: 50px;
        height: 68px;
        right: 45px;
        bottom: 25px;
        opacity: 80%;
    }
    .biz ul li.biz02 a::after {
        width: 42px;
        height: 79px;
        right: 53px;
        bottom: 25px;
        opacity: 80%;
    }
    .biz ul li.biz03 a::after {
        width: 84px;
        height: 48px;
        right: 30px;
        bottom: 35px;
        opacity: 80%;
    }
    .biz ul li.biz04 a::after {
        width: 58px;
        height: 74px;
        right: 46px;
        bottom: 25px;
        opacity: 80%;
    }
    .biz ul li a h3 {
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 1.2;
    }
    .biz ul li a p {
        display: none;
    }
    .biz ul li a .more {
        font-size: 11px;
        left: 28px;           
        bottom: 20px;
        padding: 5px 19px 5px 9px;    
    }
    .biz ul li a .more::after {
        right: 8px;
        top: 9px;
        width: 8px;
        height: 8px;
    }
}/*media*/

.notice .inner {
    position: relative;
}
.notice h2 {
    margin: 90px 0 63px 0;
    font-size: 45px;
    font-weight: 700;   
    letter-spacing: -0.05em;
    color: #075F63;
}
.notice ul li {
    border: 1px solid rgba(187,187,187);
    border-radius: 50px;
    margin-bottom: 5px;
}
.notice ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 70px;
    font-size: 18px;
    /*공지사항에 행간을 높이값으로 주면 높이도 들어가고 글자도 높이에 */
    padding: 0 55px 0 45px;
}
.notice ul li a em {
    color: #fff;
    line-height: 29px;
    padding: 3px 9px;
    border-radius: 50px;
}
.notice ul li.notice01 a em {
    background-color: #FFBA00;
}
.notice ul li.notice02 a em {
    background-color: #49BEB6;
}
.notice ul li a strong {
    color: #2d2d2d;
    width: 850px;
    /*글자가 들어갈 수 있는 최대 넓이 지정
    날짜는 자리수가 딱 정해져 있음
    왼쪽에 장학공지/일반공지도 자리수가 정해져있음
    하지만 제목은 입력한 대로 길수도 있고 짧을 수도 있음
    그래서 글자가 들어갈 수 있는 최대 넓이를 제한 
    그 넓이를 넘어가면 제목을 잘라버리기 위해서*/
    white-space: nowrap; /*줄바꿈 금지*/
    overflow: hidden;/*넘치는 글자 숨김*/
    text-overflow: ellipsis; /* 글자가 반잘리는 현상 막기 */
    /* 글자 끝에 ...추가, 글자가 반이 짤려서 나타날 수 있기 때문에 이 현상을 막고...을 추가하는 방법
    점...(3개)를 2개로 변경 불가, 점 삭제 불가*/
}
.notice ul li a span {
    color: #888888;
}
.notice .more {
    position: absolute;
    right: 5px;           
    top: 25px;
}
.notice .more a {
    border: 1px solid rgba(61,61,61);
    border-radius: 30px;
    padding: 10px 30px 12px 15px;
    display: block;  
}
.notice .more::after {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 18px;
    height: 18px;
    background: url(../images/more_b.svg) no-repeat center center;
    /*pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
    contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령*/
    content: "";
}
@media screen and (max-width:640px) {
    .notice h2 {
        margin: 55px 0 24px 0;
        font-size: 22px;
    }
    .notice ul li {
        border: 0;
        border-bottom: 1px solid rgba(102,102,102,0.2);
        border-radius: 0;
        margin-bottom: 0;
    }
    .notice ul li a {
        line-height: 35px;
        font-size: 11px;
        font-weight: 400;
        padding: 0;
    }
    .notice ul li a em {
        display: none;
    }
    .notice ul li a strong {
        color: #2d2d2d;
        font-size: 13px;
        width: calc(100% - 84px);
        /* 모바일에서는 제목의 넓이가 디바이스의 넓이에 따라 바뀜
        그래서 오른쪽 날짜와 여백값을 100%에서 빼줌
        (날짜와 여백은 고정값이니깐.)*/
    }
    .notice ul li a span {
        font-size: 11px;
    }
    .notice .more {
        position: relative;
        right: auto;           
        top: auto;
        margin-top: 35px;
        text-align: center;
    }
    .notice .more a {
        padding: 8px 35px 8px 17px;
        display: inline-block;
    }
    .notice .more::after {
        right: calc(50% - 35px);
        top: 13px;
        width: 8px;
        height: 8px;
    }
}

.webzine {
    padding: 130px 0 183px 0;
    /*background때문에 여백을 padding으로 줌
    padding은 내부여백이라 background가 padding 영역까지 배치가능*/
    background: url(../images/webzine_bg.svg) no-repeat center top 220px/ 2061px auto;
}
.webzine .inner {
    display: flex;
    justify-content: space-between;
    /*타이틀과 ul을 나란히 배치하기 위해*/
    position: relative;
}
.webzine h2 {
    margin: 0 0 16px 0;
    font-size: 45px;
    font-weight: 700;   
    letter-spacing: -0.05em;
    color: #075F63;
}
.webzine strong {
    font-size: 28px;
    letter-spacing: -0.05em;
    color: #3d3d3d;
}
.webzine ul {
    display: flex;
    /*ul은 감싸는 요소가 display:flex를 줬기 때문에 넓이가 100%가 아님 
    그래서 justify-content로 사이에 여백을 주려고 해도 줄 여백이 없음 (넓이가 없어서)
    li한테 여백을 줘야함*/
}
.webzine ul li {
    width: 308px;
    margin-left: 16px;
    text-align: center;
    display: block;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    /*a 안에 있는 이미지는 border-radius 영역 밖으로 나옴 
    그럼 해결방법 1. 이미지에 border-radius를 또 주는 방법
    2.overflow: hidden;으로 border-radius밖으로 나온 이미지 숨기기*/
}
.webzine ul li a strong {
    font-size: 15px;
    padding: 10px 0 16px 0;
    display: block;
    /*제목 1줄로 자르기 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; */
}
.webzine .more {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 170px;
}
.webzine .more a {
    padding-right: 18px;
    display: block;
    position: relative;
}
.webzine .more a::after {
    position: absolute;
    right: -5px;
    top: 2px;
    width: 18px;
    height: 18px;
    background: url(../images/more_b.svg) no-repeat center center;
    content: "";
}

@media screen and (max-width:640px) {
    .webzine {
        padding: 47px 0 0 0;
        background-position: center top 190px;
        background-size: 385px auto;
    }
    .webzine .inner {
        display: block;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end;
    }
    .webzine .tit br {
        display: none;
    }
    .webzine .tit h2 {
        margin: 0 5px 0 0;
        font-size: 22px;
    }
    .webzine .tit strong {
        font-size: 13px;
        font-weight: 700;
    }
    .webzine ul {
        justify-content: space-between;
        /*넓이가 100%*/
        margin-top: 20px;
    }
    .webzine ul li {
        /* 100% 나누기 li 수 = 50% 사이 여백의 합 16px 나누기 li 수 = 8px*/
        width: calc(50% - 8px);
        margin-left: 0;
    }
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a img {
        width: 100%;
        /*감싸는 요소의 넓이에 맞게 */
    }
    .webzine ul li a strong {
        font-size: 11px;
        padding: 5px 10px 7px 10px; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .webzine .more {
        position: relative;
        right: auto;           
        top: auto;
        margin-top: 35px;
        text-align: center;
    }
    .webzine .more a {
        border: 1px solid rgba(255,255,255);
        border-radius: 30px;
        color: #fff;
        font-size: 11px;
        padding: 8px 35px 8px 17px;
        display: inline-block;
    }
    .webzine .more a::after {
        right: calc(50% - 35px);
        top: 12px;
        background: url(../images/biz_more.svg) no-repeat center center;
        width: 8px;
        height: 8px;
    }
}
/*footer한테는 높이를 주면 안된다. 그러면 모바일이랑 꼬임
모바일에서는 높이가 계속 바뀜 그래서 높이를 안주고 위아래 여백을 padding으로 주는 편*/
.footer {
    background-color: #075F63;
    color: #fff;
    padding-bottom: 100px;
}
.footer .footer_top {
    border-bottom: 1px solid rgba(237,237,237,0.2);
}
.footer .footer_top .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}
.footer .footer_top .f_nav ul {    
    display: flex;
    font-weight: 400;
}
.footer .footer_top .f_nav ul li {
    margin-right: 35px;
    /*모바일에서는 꼭 오른쪽에 여백이 들어가야함
    두줄로 바뀔 때 오른쪽에 여백이 있어야 왼쪽 정렬 잘됨*/
    position: relative;
}
.footer .footer_top .f_nav ul li::after {
    position: absolute;
    right: -17px;
    top: 9px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: rgba(237, 237, 237, 0.4);
    content: "";
}
.footer .footer_top .f_nav ul li:last-child {
    margin-right: 0;
}
.footer .footer_top .f_nav ul li:last-child::after {
    display: none;
}
.footer .footer_top .f_nav ul li.privacy {
    font-weight: 700;
}
.footer .footer_btm {
    padding-top: 20px;
}
.footer .footer_btm .f_info {
    margin-bottom: 35px;
    line-height: 1.5;
}
.footer .footer_btm .f_info span br {
    display: none;
}
.footer .footer_btm .f_info span {
    margin-right: 35px;
    font-weight: 400;
}
.footer .footer_btm .f_info strong {
    font-weight: 700;
}
.footer .footer_btm .copyright {
    color: rgba(237,237,237,0.6);
    font-weight: 400;
}

@media screen and (max-width:640px) {
    .footer {
        padding-top: 110px;
        padding-bottom: 40px;
    }
    .footer .footer_top {
        border-top: 1px solid rgba(237,237,237,0.2);    
    }
    .footer .footer_top .inner {
        flex-wrap: wrap;
        padding-top: 27px;
        padding-bottom: 17px; 
    }
    .footer .footer_top .f_logo img {
        width: 140px;
        display: block;
    }
    .footer .footer_top .f_nav ul {    
        flex-wrap: wrap;
        padding-top: 35px;
    }
    .footer .footer_top .f_nav ul li {
        margin-right: 20px;
        /*모바일에서는 꼭 오른쪽에 여백이 들어가야함
        두줄로 바뀔 때 오른쪽에 여백이 있어야 왼쪽 정렬 잘됨*/
    }
    .footer .footer_top .f_nav ul li::after {
        right: -11px;
        top: 7px;
        width: 1px;
        height: 1px;
    }
    .footer .footer_top .f_nav ul li:nth-child(3)::after {
        display: none;
    }
    .footer .footer_btm {
        padding-top: 17px;
    }
    .footer .footer_btm .f_info {
        margin-bottom: 25px;
    }
    .footer .footer_btm .f_info span br {
        display: block;
    }
}