@charset "utf-8";/*이 css문서는 utf-8방식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* CDN방식은 폰트를 다른 홈페이지에 업로드하고 가져다 쓰는 방식이다. 
(홈페이지에 웹폰트파일을 포함할 필요 없음) */
/* 본고딕 CDN방식으로 사용할 때 
폰트를 정의하는 font-face가 입력된 css를 import 불러다가 사용하는 방식을 많이 씀
장점은 간단하지만 단점은 google이 서비스를 중단하면 사용 못함
그래서 font파일을 저장해서 사용하기도 함. */

@font-face {
    font-family: 'Eulyoo1945';
    font-weight: 400;
    font-style: normal;
    src: local('Eulyoo1945 Regular'), url(../fonts/Eulyoo1945-Regular.woff2) format('woff2'), url(../fonts/Eulyoo1945-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Eulyoo1945', serif; /* serif - 명조 sans-serif 고딕 */
    font-weight: 700;
    font-style: normal;
    src: local('Eulyoo1945 SemiBold'), url(../fonts/Eulyoo1945-SemiBold.woff2) format('woff2'), url(../fonts/Eulyoo1945-SemiBold.woff) format('woff');
}
*::selection {
    background-color: #503C33;
    color: #fff;
}
*::-moz-selection { /*호환성을 위한 코드*/
    background-color: #503C33;
    color: #fff;
}

html, body {
    font-family: 'Eulyoo1945';
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 400;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1280px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다 브라우저 넓이가 작을 때
    가로스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김.
    가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스 하기 위해서 최소 넓이를 입력 */
    /*overflow: hidden; sticky 사용할 때는 쓰면 안됨*/
}

/*640px 이하일 때 스타일 - 640이하는 모바일 초과는 탭 */
@media screen and (max-width:640px) {
    html, body {
        font-size: 13px;
    }
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 20px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    }
    #wrap { /*id="wrap"에 적용되는 스타일 */
        min-width: auto;
        /* 홈페이지의 최소넓이를 제한하지 않음 */
    }    
} /*media*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    transition: 0.5s;
    /*header에 나중에 마우스를 올리거나 class가 추가되거나 변화가 생겨서 스타일이 변경된다면 그 때 천천히 변경해*/
}
.header .inner {
    display: flex;
    justify-content: space-between;
}
.header .logo {
    margin: 34px 0 0 0;
}
.header .logo a {
    width: 144px;
    height: 40px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
.header .gnb {
    margin: 0 0 0 150px;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth01 {
    display: flex;
}
.header .gnb ul.depth01 > li {
    width: 220px;
}
.header .gnb ul.depth01 > li > a {
    display: block; /*width 100%*/
    line-height: 100px; /*높이 100px에 글자는 위아래 가운데*/
    font-size: 20px;
    font-weight: 700;
}
.header .gnb ul.depth02 {
    margin: 22px 0 0 0;
    display: none;
}
.header .gnb ul.depth02 > li > a {
    display: block;
    font-size: 18px;
    line-height: 60px;
}
.header .tnb {
    display: flex;
}
.header .tnb .login, .header .tnb .search {
    width: 28px;
    height: 24px;
    margin: 38px 0 0 5px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
} 
.header .tnb .login {
    background-size: 26px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23fff'%3E%3Cpath d='M480-504.615q-49.5 0-84.75-35.25T360-624.615q0-49.501 35.25-84.751 35.25-35.25 84.75-35.25t84.75 35.25Q600-674.116 600-624.615q0 49.5-35.25 84.75T480-504.615ZM200-215.384v-65.847q0-24.769 14.423-46.346 14.423-21.577 38.808-33.5 56.615-27.154 113.307-40.731Q423.231-415.385 480-415.385q56.769 0 113.462 13.577 56.692 13.577 113.307 40.731 24.385 11.923 38.808 33.5Q760-306 760-281.231v65.847H200Zm40-40.001h480v-25.846q0-13.307-8.577-25-8.577-11.692-23.731-19.769-49.384-23.923-101.836-36.654Q533.405-375.385 480-375.385q-53.405 0-105.856 12.731Q321.692-349.923 272.308-326q-15.154 8.077-23.731 19.769-8.577 11.693-8.577 25v25.846Zm240-289.23q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 369.23Z'/%3E%3C/svg%3E");
}
.header .tnb .search {
    background-size: 24px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23fff'%3E%3Cpath         d='M779.385-153.846 528.923-404.307q-30 25.538-69 39.538-39 14-78.385 14-96.1 0-162.665-66.529-66.566-66.529-66.566-162.577t66.529-162.702q66.529-66.654 162.577-66.654 96.049 0 162.702 66.565Q610.769-676.101 610.769-580q0 41.692-14.769 80.692-14.769 39-38.769 66.693l250.462 250.461-28.308 28.308ZM381.538-390.769q79.616 0 134.423-54.808Q570.769-500.385 570.769-580q0-79.615-54.808-134.423-54.807-54.808-134.423-54.808-79.615 0-134.423 54.808Q192.308-659.615 192.308-580q0 79.615 54.807 134.423 54.808 54.808 134.423 54.808Z'/%3E%3C/svg%3E");
}
/* 브라우저가 스크롤 되었을 때 디자인 변경 */
.header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
.header.fixed .logo a {
    background-image: url(../images/logo_b.svg);
    transition: 0.5s;
}
.header.fixed .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%231d1d1d'%3E%3Cpath d='M480-504.615q-49.5 0-84.75-35.25T360-624.615q0-49.501 35.25-84.751 35.25-35.25 84.75-35.25t84.75 35.25Q600-674.116 600-624.615q0 49.5-35.25 84.75T480-504.615ZM200-215.384v-65.847q0-24.769 14.423-46.346 14.423-21.577 38.808-33.5 56.615-27.154 113.307-40.731Q423.231-415.385 480-415.385q56.769 0 113.462 13.577 56.692 13.577 113.307 40.731 24.385 11.923 38.808 33.5Q760-306 760-281.231v65.847H200Zm40-40.001h480v-25.846q0-13.307-8.577-25-8.577-11.692-23.731-19.769-49.384-23.923-101.836-36.654Q533.405-375.385 480-375.385q-53.405 0-105.856 12.731Q321.692-349.923 272.308-326q-15.154 8.077-23.731 19.769-8.577 11.693-8.577 25v25.846Zm240-289.23q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 369.23Z'/%3E%3C/svg%3E");
    transition: 0.5s;
}
.header.fixed .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%231d1d1d'%3E%3Cpath         d='M779.385-153.846 528.923-404.307q-30 25.538-69 39.538-39 14-78.385 14-96.1 0-162.665-66.529-66.566-66.529-66.566-162.577t66.529-162.702q66.529-66.654 162.577-66.654 96.049 0 162.702 66.565Q610.769-676.101 610.769-580q0 41.692-14.769 80.692-14.769 39-38.769 66.693l250.462 250.461-28.308 28.308ZM381.538-390.769q79.616 0 134.423-54.808Q570.769-500.385 570.769-580q0-79.615-54.808-134.423-54.807-54.808-134.423-54.808-79.615 0-134.423 54.808Q192.308-659.615 192.308-580q0 79.615 54.807 134.423 54.808 54.808 134.423 54.808Z'/%3E%3C/svg%3E");
    transition: 0.5s;
}
@media screen and (max-width:640px) {
    .header {
        height: 50px;
        background-color: #fff;
    }
    .header .inner {
        display: flex;
        justify-content: space-between;
    }
    .header .logo {
        margin: 14px 0 0 0;
    }
    .header .logo a {
        width: 90px;
        height: 26px;
        background: url(../images/logo_b.svg) no-repeat center center / contain;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        position: absolute;/*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-color: #805C4C;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 38px auto;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23fff'%3E%3Cpath d='M200-380v-40h560v40H200Zm0-160v-40h560v40H200Z'/%3E%3C/svg%3E");
    }
    .header .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23fff'%3E%3Cpath d='M256-213.847 213.847-256l224-224-224-224L256-746.153l224 224 224-224L746.153-704l-224 224 224 224L704-213.847l-224-224-224 224Z'/%3E%3C/svg%3E");
    }
    .header .gnb ul.depth01 {
        display: none;
    }
    .header .gnb ul.depth02 {
        margin: 22px 0 0 0;
        display: none;
    }
    .header .gnb ul.depth02 > li > a {
        display: block;
        font-size: 18px;
        line-height: 60px;
    }
    .header .tnb {
        display: none;
    }
}
.visual {
    position: relative;
}
.visual .swiper { 
    height: 750px;
} /* 팝업의 높이가 됨 */
.visual .swiper-slide img { 
     display:block; width:100%; height:100%; object-fit:cover; 
} /* 팝업 안에 이미지를 넣었다면 이미지를 꽉차게 나타나게 하기 위해서 해당 스타일을 넣어줌 object-fit 상세설명 */
.visual .swiper .prev, .visual .swiper .next {
    position: absolute; /*swiper 기준*/
    z-index: 10;
    top: 357px;
    width: 100px;
    height: 37px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 0;
    font-size: 0;
}
.visual .swiper .prev {
    left: 8%;
    background-image: url("data:image/svg+xml,%3Csvg width='104' height='37' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.587 1L3 36H103' stroke='white' stroke-opacity='0.4' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.visual .swiper .next {
    right: 8%;
    background-image: url("data:image/svg+xml,%3Csvg width='104' height='37' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='white' stroke-opacity='0.4' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
}
.visual .swiper .pagination {
    position: absolute;
    z-index: 10;
    left: calc(50% - 55px);
    bottom: 47px;
    width: auto;
}
.visual .swiper .pagination .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 1;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    outline: 0;
}
.visual .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .swiper .stop, .visual .swiper .play {
    position: absolute;
    z-index: 10;
    left: calc(50% + 15px);
    bottom: 47px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7px auto;
    line-height: 0;
    font-size: 0;
}
.visual .swiper .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='10' rx='1' fill='white'/%3E%3Crect x='6' width='2' height='10' rx='1' fill='white'/%3E%3C/svg%3E ");
}
.visual .swiper .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 4.13397C8.16667 4.51887 8.16667 5.48113 7.5 5.86603L1.5 9.33013C0.833333 9.71503 -4.47338e-07 9.2339 -4.13689e-07 8.4641L-1.10848e-07 1.5359C-7.71986e-08 0.766098 0.833333 0.284973 1.5 0.669873L7.5 4.13397Z' fill='%23D9D9D9'/%3E%3C/svg%3E ");
}
.visual .swiper-slide {
    position: relative;
}
.visual .swiper-slide .visual_txt_inner {
    position: absolute;
    left: calc(50% - 640px);
    top: 0;
    z-index: 10;
    width: 1280px;
}
.visual .swiper-slide .visual_txt01 h2 {
    margin: 290px 0 0 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 120px;
}
.visual .swiper-slide .visual_txt01 strong {
    color: #fff;
}
.visual .swiper-slide .visual_txt01 span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 120px;
    display: block;
    text-align: right;
    margin-top: -50px;
}
.visual .swiper-slide .visual_txt02 h2 {
    position: absolute;
    z-index: 10;
    width: 1280px;
    left: calc(50% - 330px);
    top: 360px;
    color: #fff;
    font-size: 40px;
}
.visual .swiper-slide .visual_txt02 strong {
    position: absolute;
    z-index: 10;
    width: 1280px;
    left: calc(50% + 81px);
    top: 450px;
    color: rgba(255, 255, 255, 0.04);
    font-size: 120px;
}
/*.visual .swiper-slide .visual_txt02 strong::after {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 176px;
    left: 0;
    top: 0;
    content: "";
    background: url(../images/visual_text02.svg) no-repeat center center ;수정중
}*/
.visual .swiper-slide .visual_txt03 h2 {
    position: absolute;
    z-index: 10;
    width: 1280px;
    left: calc(50% - 640px);
    top: 310px;
    color: #fff;
    font-size: 50px;
}
.visual .visual_txt {
    position: absolute;
    left: calc(50% + 454px);
    top: 177px;
    z-index: 10;
    width: 1280px;
    font-size: 20px;
    color: #fff;
}
.visual .visual_txt h2 {
    margin-top: 20px;
    position: relative;
}
.visual .visual_txt h2::before {
    position: absolute;
    right: calc(100% - 202px);
    top: -19px;
    z-index: 20;
    width: 205px;
    height: 5px;
    content: "";
    background-color: #fff;
}
@media screen and (max-width:1700px) {
    .visual .swiper .prev, .visual .swiper .next {
        top: 335px;
        width: 72px;
        height: 25px;
    }
    .visual .swiper .prev {
        left: 5px;
    }
    .visual .swiper .next {
        right: 5px;
    }
}
@media screen and (max-width:1400px) {
    .visual .swiper .prev, .visual .swiper .next {
        display: none;
    }
}
@media screen and (max-width:640px) {
    .visual .swiper { 
        height: 314px;
    } /* 팝업의 높이가 됨 */
    .visual .swiper .pagination {
        position: absolute;
        z-index: 10;
        left: calc(50% - 55px);
        bottom: 17px;
        width: auto;
    }
    .visual .swiper .pagination .swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        border: 0.5px solid #fff;
        width: 6px;
        height: 6px;
        outline: 0;
    }
    .visual .swiper .stop, .visual .swiper .play {
        left: calc(50% + 15px);
        bottom: 20px;
        width: 10px;
        height: 10px;
        border: 0.5px solid #fff;
        background-size: 3.5px auto;
    }
    .visual .swiper-slide .visual_txt_inner {
        left: 20px;
        width: calc(100% - 40px);
    }
    .visual .swiper-slide .visual_txt01 h2 {
        left: calc(50% - 162px);
        top: 50%;
        font-size: 30px;
    }
    .visual .swiper-slide .visual_txt01 strong {
        left: calc(50% - 58px);
        top: 50%;
        font-size: 30px;
    }
    .visual .swiper-slide .visual_txt01 span {
        left: calc(50% + 48px);
        top: 190px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
    }
    .visual .swiper-slide .visual_txt02 h2 {
        left: calc(50% - 118px);
        top: 215px;
        font-size: 18px;
    }
    .visual .swiper-slide .visual_txt03 h2 {
        left: calc(50% - 160px);
        top: 145px;
        font-size: 18px;
    }
    .visual .visual_txt {
        left: auto;
        right: 20px;
        top: 72px;
        width: auto;
        font-size: 11px;
    }
    .visual .visual_txt h2::before {
        right: 0;
        top: -3px;
        width: 100%;
        height: 2px;
    }
}/*media*/

.book {
    margin: 108px 0 0 0;
    overflow: hidden;
}
/*
    왼쪽에 tit이 작게 있고 
    오른쪽에 list가 콘텐츠 영역 (wrapper) 밖으로 나가야함
    그럼 tit에 아무리 넓이를 줘도 tit의 공간이 확보가 안됨
    flex는 무조건 공간에 구겨서라도 넣으려고 하기 때문에
    왼쪽에 있는 요소를 float: left를 줘서 부요요소로 만듬
    (오른쪽있는 list는 tit를 인식하지 못함 tit은 공간을 차지하지 않음)
    list는 왼쪽에 놓고 넓이를 list의 왼쪽 margin으로 준다
*/
.book .book_wrap {
    position: relative;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    font-size: 60px;
    letter-spacing: -0.05em;
    font-weight: 700;
    margin-bottom: 13px;
}
.book .tit p {
    font-size: 20px;
}
.book .list {
    margin: 0 0 0 327px;
}
.book .list ul {
    display: flex;
    justify-content: space-between;
    /*list의 사이즈가 콘텐츠 영역의 넓이보다 큼
    그럼 정상적으로 나타나려면 ul의 넓이를 줘야함
    li하나의 넓이 299px * li갯수 4 = 1196
    li 사이의 여백 28px * li갯수 (4 - 1) = 3 =84
    넓이와 여백의 합 = 1196 + 84 = 1280px
    */
    width: 1280px;
}
.book .list ul li { 
    width: 299px;
}
.book .list ul li a {
    display: block;
    transition: 0.5s;
}
.book .list ul li a span {
    display: block; /*width 100%*/
    height: 445px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06) ;
    overflow: hidden; /*이미지가 확대되었을 때 밖으로 나가는 것 막기*/
    transition: 0.5s;
}
.book .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .list ul li a:hover {
    transform: translate(-10px,-10px); /*마우스가 오버하면 움직임*/
}
.book .list ul li a:hover span {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.3) ;
}
/*.book .list ul li a:hover span img {
    transform: scale3d(1.1, 1.1 ,1);
    
}*/
.book .list ul li a h3 {
    font-size: 22px;
    font-weight: 700; 
    margin: 22px 0 0 0;
    white-space: nowrap; /*줄바꿈금지*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a strong {
    display: block;
    margin: 8px 0 30px 0;
    white-space: nowrap; /*줄바꿈금지*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    /*여러줄로 줄수를 제한하는 경우*/
    line-height: 1.4;
    height: 4.1em; /*행간 줄수*/
    overflow: hidden;
}
.book .more {
    position: absolute;
    left: 0;
    top: 322px;
}
.book .more a {
    padding: 16px 54px 11px 5px;
    position: relative;
    font-size: 16px;
    color: #503C33;
    transition: 0.5s;
}
.book .more a::after {
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 100%;
    border: 1px solid #7F5B4B;
    width: 40px;
    height: 40px;
    content: "";
    transition: 0.5s;
}
.book .more a::before {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    content: "";
    background-size: 20px 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='%237F5B4B' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
.book .more a:hover::after {
    background-color: #7F5B4B;
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear
    
}
.book .more a:hover::before {
    z-index: 20;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='white' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(10px, 0) }
    100% { transform:translate(0, 0) }
}

@media screen and (max-width:640px) {
    .book {
        margin: 0;
        padding: 35px 0 30px 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit br {
        display: none;
    }
    .book .tit h2 {
        font-size: 26px;
        margin-bottom: 2px;
    }
    .book .tit p {
        font-size: 13px;
    } 
    .book .list {
        margin: 17px 0 0 0;
        overflow-x: auto; /*좌우로 넘치면 스크롤하라는 뜻 */
    }
    .book .list ul {
        /*list의 사이즈가 콘텐츠 영역의 넓이보다 큼
        그럼 정상적으로 나타나려면 ul의 넓이를 줘야함
        li하나의 넓이 169px * li갯수 4 = 676
        li 사이의 여백 18px * li갯수 (4 - 1) = 3 =54
        넓이와 여백의 합 = 676 + 54 = 730px
        */
        width: 730px;
    }
    .book .list ul li { 
        width: 169px;
    }
    .book .list ul li a span {
        height: 251px;
    }
    .book .list ul li a h3 {
        font-size: 16px;
        margin: 10px 0 0 0;
    }
    .book .list ul li a strong {
        margin: 6px 0 15px 0;
    }
    .book .list ul li a p {
        height: 4em; /*행간 줄수*/
    }
    .book .more {
        /*pc버전에서는 left로 배치, 모바일에서는 right로 배치
        left와 right가 동시에 선언되면 적용안됨
        그래서 left를 auto로 해제하고 right를 줘야함*/
        left: auto;
        top: auto;
        position: relative;
        text-align: center;
        margin-top: 58px;
    }
    .book .more a {
        padding: 5px 29px 10px 5px;
        margin-bottom: 20px;
        font-size: 13px;
    }
    .book .more a::after {
        right: 0;
        top: 1px;
        border: 0.5px solid #7F5B4B;
        width: 22px;
        height: 22px;
    }
    .book .more a::before {
        right: 2px;
        top: 2px;
        width: 22px;
        height: 22px;
        background-size: 11px 4px;
    }
}

.interview {
    background-color: #f4f4f4;
    margin: 108px 0 0 0;
    position: relative;
    padding: 0 0 163px 0;
}
.interview .inner {
    position: relative;
}
.interview .tit {
    padding: 90px 0 0 0;
    text-align: center;
}
.interview .tit h2 {
    font-size: 60px;
    letter-spacing: -0.05em;
    font-weight: 700;
}
.interview .tit p {
    font-size: 20px;
    margin: 6px 0 150px 0;
}
.interview .tit strong {
    font-size: 145px;
    font-weight: 700;
    color: rgba(102, 102, 102, 0.05);
    position: absolute;
    left: 0;
    top: 210px;
    display: block;
    width:100%; white-space:nowrap; animation:rolling; animation-duration:15s; animation-timing-function:linear; animation-iteration-count:infinite;
}
@keyframes rolling {
    0% { transform:translate(0, 0) }
    100% { transform:translate(-1500px, 0) } /* 글자가 움직여서 처음과 동일한 위치가 되는 값 (동일한 문장을 여러번 쓰기 때문에 3-4번째 문장이 다시 시작하는 위치로 하면 됨) */
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*두번째 li에 상단여백을 줘서 내림 
    모든 li가 길이가 늘어남 
    두번째 li 상단여백 + li 길이만큼 늘어남 
    flex는 모든 li 요소의 길이를 동일하게 맞추려고 함 
    원래 li의 길이대로만 나타나게 하려면 반드시 align-items 속성을 줘야함 (어떤 값이든 상관없음) */
}
.interview .list ul li {
    width: 408px;
    position: relative;
}
.interview .list ul li:nth-child(2) {
    margin: 40px 0 0 0;
}
.interview .list ul li a {
    display: block;
}
.interview .list ul li a .photo {
    border-radius: 80px 0 80px 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden; /*이미지를 감싸는 요소에 border-radius를 주는 경우에는 overflow: hidden; 줘야한다*/
}
.interview .list ul li:nth-child(2) a .photo  {
    border-radius: 0 80px 0 80px;
}
.interview .list ul li a .photo img {
    filter: grayscale(100%); /*흑백*/
    transition: 0.2s;
}
.interview .list ul li a .cnt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px;
}
.interview .list ul li a .cnt h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.interview .list ul li a .cnt p {
    display: none;
}
.interview .list ul li a .cnt span {
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 -960 960 960' width='40' fill='%23fff'%3E%3Cpath d='M460-460H240v-40h220v-220h40v220h220v40H500v220h-40v-220Z'/%3E%3C/svg%3E");
}
@media screen and (min-width:641px) { 
    /*li에 active 들어갔을 때 스타일이 바뀌는 건 pc에서만 적용되는 스타일 모바일에서는 기본 스타일만 존재함.
    미디어쿼리를 min-width:640px - 브라우저 사이즈 641px 이상에서만 해당스타일이 선언되게 지정*/
    /* 오버되었을 때 */
    .interview .list ul li.active a .photo {
        box-shadow: 0px 10px 25px 0px rgba(24, 17, 78, 0.08);
    }
    .interview .list ul li.active a .photo img {
        filter: grayscale(0); /*컬러로 변환*/
    }
    .interview .list ul li.active a .cnt {
        width: calc(100% - 47px);
        color: #262626;
        padding: 30px 47px 54px 47px;
        bottom: -86px;
        display: block; /*flex해제*/
        background-color: #EBE4D4;
        border-radius: 50px 0 50px 0;
    }
    .interview .list ul li:nth-child(2).active a .cnt {
        border-radius:  0 50px 0 50px;
    }
    .interview .list ul li.active a .cnt h3 {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.05em;
    }
    .interview .list ul li.active a .cnt p {
        display: block;
        margin: 15px 0;
        /*콘텐츠를 3줄로 제한*/
        line-height: 1.4;
        height: 5.6em;
        overflow: hidden;
    }
    .interview .list ul li.active a .cnt span {
        font-size: 15px;
        line-height: 1.4;
        width: auto;
        height: auto;
        background: none; /*배경삭제*/   
        display: block; /*넓이 100%*/
        text-align: right;
        position: relative;
    }
    .interview .list ul li.active a .cnt span::after {
        position: absolute;
        left: 90px;
        bottom: -10px;
        width: calc(100% + 1em);
        /*6em이라는 단위는 글자 6글자의 넓이
        반응형에서 글자의 크기가 변경되면 px로 한경우 계속 글자가 바뀔 때마다
        넓이를 변경해야함
        하지만 em이라는 단위를 사용하면 글자크기가 줄어도 변경 안해도됨.
        글자의 크기가 상대크기로 글자수의 넓이를 줌*/
        height: 4px;
        padding: 0 27px 11px 4px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 107px 6px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='107' height='6' viewBox='0 0 107 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M101.357 1L105 5H1' stroke='%23262626' stroke-opacity='0.8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
} /*media*/
.interview .more {
    position: absolute;
    right: 0;
    top: 173px;
}
.interview .more a {
    padding: 16px 54px 11px 5px;
    position: relative;
    font-size: 16px;
    color: #503C33;
    transition: 0.5s;
}
.interview .more a::after {
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 100%;
    border: 1px solid #7F5B4B;
    width: 40px;
    height: 40px;
    content: "";
    transition: 0.5s;
}
.interview .more a::before {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    content: "";
    background-size: 20px 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='%237F5B4B' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
.interview .more a:hover::after {
    background-color: #7F5B4B;
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear
    
}
.interview .more a:hover::before {
    z-index: 20;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='white' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear
}
@media screen and (max-width:640px) {
    .interview {
        margin: 0;
        padding: 0 0 34px 0;
    }
    .interview .tit {
        padding: 30px 0 0 0;
        text-align: left;
    }
    .interview .tit h2 {
        font-size: 26px;
        letter-spacing: -0.05em;
    }
    .interview .tit p {
        font-size: 13px;
        margin: 6px 0 30px 0;
    }
    .interview .tit strong {
        display: none;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2), .interview .list ul li:nth-child(3) {
        display: none;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0); /*흑백*/
        width: 100%;/*감싸는 영역의 넓이에 꽉 맞게 사이즈 조정*/
    }
    .interview .list ul li a .cnt {
        bottom: 0;
        display: block;
        padding: 36px 24px 32px 25px;
        background-color: #A17C4B;
        border-radius: 50px 0 50px;
        height: 180px;
    }
    .interview .list ul li a .cnt h3 {
        font-size: 18px;
    }
    .interview .list ul li a .cnt p {
        display: block;
        line-height: 1.2;
        height: 2.4em;
        overflow: hidden;
        margin: 10px 0;
    }
    .interview .list ul li a .cnt span {
        display: block;
        font-size: 13px;
        line-height: 1.2;
        width: auto;
        height: auto;
        background: none;
        padding: 11px 0 0 180px;
    }
    .interview .list ul li a .cnt span::after {
        position: absolute;
        left: 85px;
        bottom: 40px;
        width: calc(100% + 1em);
        /*6em이라는 단위는 글자 6글자의 넓이
        반응형에서 글자의 크기가 변경되면 px로 한경우 계속 글자가 바뀔 때마다
        넓이를 변경해야함
        하지만 em이라는 단위를 사용하면 글자크기가 줄어도 변경 안해도됨.
        글자의 크기가 상대크기로 글자수의 넓이를 줌*/
        height: 4px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 200px auto;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='150' height='4' viewBox='0 0 107 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M101.357 1L105 5H1' stroke='%23fff' stroke-opacity='0.8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
    .interview .more {
        /*pc버전에서는 left로 배치, 모바일에서는 right로 배치
        left와 right가 동시에 선언되면 적용안됨
        그래서 left를 auto로 해제하고 right를 줘야함*/
        left: auto;
        top: auto;
        position: relative;
        text-align: center;
        margin-top: 58px;
    }
    .interview .more a {
        padding: 5px 29px 5px 5px;
        font-size: 13px;
    }
    .interview .more a::after {
        right: 0;
        top: 1px;
        border: 0.5px solid #7F5B4B;
        width: 22px;
        height: 22px;
    }
    .interview .more a::before {
        right: 2px;
        top: 2px;
        width: 22px;
        height: 22px;
        background-size: 11px 4px;
    }
}
.news {
    background: url(../images/news_bg.png)no-repeat center center/cover;
    color: #fff;
    padding: 0 0 27px 0;
    /*타이틀이 스크롤 될 때 padding을 준 값에서부터 올라감 */
}
.news .inner {
    position: relative;
}
.news .tit {
    position: sticky;
    top: 120px;
    /*상단에 고정되었을 때 맨 상단에서부터 (header 무시)
    아래로 배치되고 싶은 값 - 고정되기 전에는 이 값의 영향이 없음
    주의사항 - 감싸는 요소가 overflow: hidden이 있으면 안됨*/
    float: left;
    margin: 140px 0 0 0;
}
.news .tit h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 15px 0;
}
.news .list {
    margin: 0 0 0 447px; /*타이틀과의 여백*/
    padding: 259px 0 0 0;/*list의 상단의 여백*/
}
.news .list ul {
    display: flex;
    flex-wrap: wrap; /*여러줄*/
    justify-content: space-between;
    align-items: flex-start;
}
.news .list ul li {
    width: 387.8px;
    padding-bottom: 93px;
}
.news .list ul li:nth-child(2n) {
    margin-top: -120px;
}
.news .list ul li a span {
    display: block;
    overflow: hidden;
    border-radius: 20px;
    font-size: 0;
    line-height: 0;
}
.news .list ul li a span img {
    transition: 0.5s;
    display: block;
}
.news .list ul li a:hover span img {
    transform: scale3d(1.1,1.1,1);
}
.news .list ul li a strong {
    display: block;
    color: #FF7F40;
    font-size: 18px;
    font-weight: 700;
    margin:15px 0 8px 5px;
}
.news .list ul li a h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 4px;
}
.news .list ul li a p {
    font-size: 15px;
    font-weight: 400;
}
.news .more {
    position: absolute;
    left: 0;
    top: 454px;
}
.news .more a {
    padding: 16px 54px 11px 5px;
    position: relative;
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
}
.news .more a::after {
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    content: "";
    transition: 0.5s;
}
.news .more a::before {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    content: "";
    background-size: 20px 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='%23fff' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
.news .more a:hover::after {
    border: 1px solid #7F5B4B;
    background-color: #7F5B4B;
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
.news .more a:hover::before {
    z-index: 20;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 104 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.413 1L101 36H1' stroke='white' stroke-opacity='0.8' stroke-width='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration:2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@media screen and (max-width:640px) {
    .news {
        padding: 0 0 42px 0;
    }
    .news .tit {
        position: relative;
        top: auto;
        float: none;/*float값 해제*/
        margin: 0 0 0 0;
        padding: 42px 0 0 0;
    }
    .news .tit br {
        display: none;
    }
    .news .tit h2 {
        font-size: 26px;
        margin-bottom: 2px;
    }
    .news .tit p {
        font-size: 13px;
    } 
    .news .list {
        margin: 0; 
        padding: 44px 0 0 0;/*list의 상단의 여백*/
        overflow-x: auto;
    }
    .news .list ul {
        flex-wrap: nowrap; /*여러줄 제거*/
        /*li의 넓이 168px li의 갯수 6개 168*6 = 1008
        li의 사이의 여백 16px li의 갯수 - 1개 16*5=80
        1008+80 = 1088*/
        width: 1088px;
    }
    .news .list ul li {
        width: 168px;
        padding-bottom: 0;
    }
    .news .list ul li:nth-child(2n) {
        margin-top: 0;
    }
    .news .list ul li a span img {
        width: 100%;
    }
    .news .list ul li a strong {
        display: block;
        color: #FF7F40;
        font-size: 13px;
        font-weight: 700;
        margin:15px 0 8px 5px;
    }
    .news .list ul li a h3 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin-bottom: 4px;
        line-height: 1.2;
        height: 2.4em;
        overflow: hidden;
    }
    .news .list ul li a p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        height: 2.4em;
        overflow: hidden;
        margin-top: 12px;
    }
    .news .more {
        /*pc버전에서는 left로 배치, 모바일에서는 right로 배치
        left와 right가 동시에 선언되면 적용안됨
        그래서 left를 auto로 해제하고 right를 줘야함*/
        left: auto;
        top: auto;
        position: relative;
        text-align: center;
        margin-top: 58px;
    }
    .news .more a {
        padding: 5px 29px 5px 5px;
        font-size: 13px;
    }
    .news .more a::after {
        right: 0;
        top: 1px;
        border: 0.5px solid #7F5B4B;
        width: 22px;
        height: 22px;
    }
    .news .more a::before {
        right: 2px;
        top: 2px;
        width: 22px;
        height: 22px;
        background-size: 11px 4px;
    }
}
.footer {
    background-color: #503C33;
    padding: 130px 0;
    color: #fff;
}
.footer .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer .footer_txt {
    font-size: 32px;
}
.footer .footer_txt strong {
    font-weight: 700;
}
.footer .footer_info strong {
    display: block;
    font-size: 28px;
    font-weight: 700;
}
.footer .footer_info span + strong {
    margin-top: 57px;
}
.footer .footer_info span {
    font-size: 15px;
    line-height: 1.4;
    display: block;
}
.footer .footer_info em {
    display: block;
}
.footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;

}