/*태그초기화*/
* {
    padding: 0;   /* 모든 태그의 여백 삭제 */
    margin: 0;
    box-sizing: border-box;
    /* padding하고 border는 넒이를 늘리는 요소인데 
    넓이를 늘리지 않도록 하는 속성 */
}
ul, ol, li {
    list-style: none;
}
a { /* a태그는 파란색에 underline이 기본적으로 생성됨 */
    text-decoration: none; /* underline제거 */
    color: inherit;
}
address, em {
    font-style: normal;
    /* em태그와 address태그는 기본적으로 글자가 기울어짐
    디자인상 기울어짐을 사용하기 위해서 쓰지 않음
    기울어짐 디자인을 하지 않음*/
} 
/*글자를 두껍게하고 글자크기를 조정하는 태그
    BODY가 선언한 속성대로 적용될 수 있도록 초기화
    브라우저가 기본적으로 적용한 스타일 적용되지 않도록 막기*/
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
}
/*button태그는 기본스타일이 많음*/
button {
    background-color: transparent;
    border: 0;
    color: inherit; /*브라우저가 주는 값 삭제*/
    font-family: inherit; /*button은 서체도 바뀜 - 상속*/
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 500;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1280px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다 브라우저 넓이가 작을 때
    가로스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김.
    가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스 하기 위해서 최소 넓이를 입력 */
}

/*640px 이하일 때 스타일 - 640이하는 모바일 초과는 탭 */
@media screen and (max-width:640px) {
    html, body {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.2;
    }
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 20px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    }
    #wrap { /*id="wrap"에 적용되는 스타일 */
        min-width: auto;
        /* 홈페이지의 최소넓이를 제한하지 않음 */
    }    
} /*media*/

.header {
    position: absolute; /*body를 기준*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;/*넓이는 100%*/
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header .gnb {
    float: right;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none;
}
.header .gnb>ul { /*pc에서는 안보임*/
    display: flex;
}
/* 자식 선택자 
    <nav class="gnb">
      <ul> -------------->.gnb>ul {}
        <li>
            <a></a>
            <ul></ul>------------->.gnb>ul>li>ul {}
        </li>
      </ul>
    </nav>
    이렇게 ul 안에 ul이 있는 경우   
    ul을 구분해서 선택하기 위해서 사용하는 방식
    장점은 class명을 많이 주지 않아도 됨
    단점은 구조가 하나만 변경되도 무너짐
      */
.header .gnb>ul>li {
    width: 169px;
    text-align: center;
}
.header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 700;
    line-height: 100px; /*1차 메뉴의 header높이만큼의 가득*/
    display: block; /*넓이 100%*/
}
/* 
<li>
    <a>1차메뉴</a>
    <ul>2차메뉴</ul>
</li>
2차메뉴에도 마우스를 올렸을 때 동일하게 1차 메뉴에 오버 효과를 주기 위해서 
li에 오버했을 때 스타일을 적용*/
.header .gnb>ul>li:hover>a, .header .gnb>ul>li:focus>a {
    color: #0057A8;
}
.header .gnb>ul>li>ul {
    padding-top: 7px;
    display: none;
    /* 2차메뉴는 메뉴에 마우스를 오버했을 때만 나타남 그래서 숨김 처리함 */
}
.header .gnb>ul>li>ul>li>a {
    display: block;
    line-height: 50px;
    font-weight: 16px
}
.header .gnb>ul>li>ul>li>a:hover, .header .gnb>ul>li>ul>li>a:focus {
    color: #0085FF;
}
/*메뉴에 마우스를 오버했을 때 스타일*/
.header.menu_open {
    color: #3d3d3d;
    border-bottom: 0;
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 100px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(102, 102, 102, 0.2);
}
.header.menu_open::after {
    position: absolute;/*header가 기준*/
    left: 0;
    top: 0;
    z-index: -1;
    /*header에 준 z-index보다 높은 숫자*/
    width: 100%;
    height: 376px;
    content: "";
    background-color: rgba(255, 255, 255, 0.9);
    /*header의 모든 요소를 덮게 됨
    header에 있는 모든 요소는 position값이 있어야하고 
    z-index가 이 요소보다는 높아야함.*/
}
.header.menu_open .gnb>ul>li>ul {
    display: block; /*숨겼던 2차 메뉴 보이게끔*/
    z-index: 100;
}
.visual {
    height: 1000px;
    background: url(../images/mesu_visual_bg.png)no-repeat center center/cover;
}

@media screen and (max-width:640px) {
    .header {
        height: 50px;
    }
    .header .gnb .gnb_open {
        display: block;
        background: url(../images/gnb_open.svg)no-repeat center center;
        width: 25.5px;
        height: 17.1px;
        padding: 25px 10px;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb>ul { 
        display: none;
    }
   /*메뉴에 버튼을 눌렀을 때 스타일*/
   /*어차피 메뉴스타일 모바일에서는 안보이다가 메뉴를 클릭해야 나옴 
   그럼 메뉴를 display:none, block 보이고 안보이고 상태만 변환하고 
   기본스타일은 열린 스타일로 적용 */
    .header.menu_mobile .gnb>ul {
        display: block;
    }
    .header.menu_mobile .gnb .gnb_open {
        display: none;
    }
    .header.menu_mobile .gnb .gnb_close {
        display: block;
        background: url(../images/menu_gnb_close.svg)no-repeat center center;
        width: 23px;
        height: 23px;
        font-size: 0;
        line-height: 0;
        position: relative;
        z-index: 102;
        padding: 25px 10px;
    }
    .header .gnb>ul {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 101;
        width: 100%;
        height: 100vh;
        /*높이를 100%를 주면 header가 position이 있어서 
        height를 100vh*/
        background-color: #fff;
        color: #3d3d3d;
        padding: 80px 0 0 30px;
    }
    .header.menu_mobile .gnb>ul>li {
        width: auto;
        text-align: left;
    }
    .header .gnb>ul>li>a {
        font-size: 18px;
        line-height: 50px; /*1차 메뉴의 header높이만큼의 가득*/
        position: relative;
    }
    .header .gnb>ul>li>a::after {
        position: absolute;
        right: 29px;
        top: 17px;
        width: 20px;
        height: 19px;
        background: url(../images/menu_open.svg) no-repeat center center;
        content: "";
    }
    .header .gnb>ul>li>ul {
        margin: 5px 0 5px 20px; 
        display: none; /*2차메뉴는 기본 숨겨진 상태이고 1차메뉴를 클릭했을 때 나타남*/
    }
    .header .gnb>ul>li>ul>li>a {
        line-height: 30px;
        font-weight: 16px
    }
    .visual {
        height: 346px;
    }
}/*media*/

.fix_btn_box {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 5;
    transition: all 0.3s;
}
.fix_btn_box .menu_btn_box {
    background-color: #1E6593;
    width: 70px;
    min-height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 2px;
    box-shadow: 2px 1px 25px rgb(0 0 0 / 25%);
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all .3s
}
.fix_btn_box .menu_btn_box > button {
    display: block; 
    width: 26px; 
    height: 26px;
    position: absolute; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s
}
.fix_btn_box .menu_btn_box > button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='stylus_FILL0_wght300_GRAD0_opsz24' d='M143.122-774.057a1.991,1.991,0,0,1-1.951-.567,1.991,1.991,0,0,1-.567-1.951l1.987-9.54,10.07,10.07Zm9.54-1.987-10.07-10.07,26.655-26.655A4.133,4.133,0,0,1,172.29-814a4.133,4.133,0,0,1,3.043,1.229l3.984,3.984a4.133,4.133,0,0,1,1.229,3.043,4.133,4.133,0,0,1-1.229,3.043Zm19.125-34.221L147.494-786l5.049,5.049,24.27-24.293a.7.7,0,0,0,.206-.514.7.7,0,0,0-.206-.514l-4-4a.7.7,0,0,0-.514-.206A.7.7,0,0,0,171.787-810.265Z' transform='translate(-140.546 813.998)' fill='%23fff'/%3E%3C/svg%3E%0A");
} 
.fix_btn_box .menu_btn_box ul{
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 500ms , opacity .3s; 
    opacity: 0
} 
.fix_btn_box .menu_btn_box ul li a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    font-size: 12px
}
.fix_btn_box .menu_btn_box ul li + li {
    margin-top: 15px
}
.fix_btn_box .menu_btn_box ul li .icon {
    width: 100%; 
    margin-bottom: 15px; 
    color: #fff; 
    width: 26px; 
    height: 30px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    opacity: 0.4; 
    transition: all .3s;
    position: relative;
}
.fix_btn_box .menu_btn_box ul li .icon i::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fix_btn_box .menu_btn_box ul li .icon.i01 i::before {
    background-image: url("data:image/svg+xml,%3Csvg id='quick_ico01' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31' height='37.388' viewBox='0 0 31 37.388'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_325' data-name='사각형 325' width='31' height='37.389' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_168' data-name='그룹 168' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1903' data-name='패스 1903' d='M26.936,16.233H6.581a1.622,1.622,0,0,0,0,3.245H26.936a1.622,1.622,0,0,0,0-3.245m0,2.209H6.581a.587.587,0,1,1,0-1.174H26.936a.587.587,0,0,1,0,1.174' transform='translate(-1.231 -4.03)' fill='%23fff'/%3E%3Cpath id='패스_1904' data-name='패스 1904' d='M26.936,22.561H6.581a1.622,1.622,0,1,0,0,3.245H26.936a1.622,1.622,0,0,0,0-3.245m0,2.209H6.581a.587.587,0,1,1,0-1.174H26.936a.587.587,0,0,1,0,1.174' transform='translate(-1.231 -5.601)' fill='%23fff'/%3E%3Cpath id='패스_1905' data-name='패스 1905' d='M26.936,28.672H6.581a1.622,1.622,0,1,0,0,3.245H26.936a1.622,1.622,0,0,0,0-3.245m0,2.209H6.581a.587.587,0,1,1,0-1.174H26.936a.587.587,0,0,1,0,1.174' transform='translate(-1.231 -7.118)' fill='%23fff'/%3E%3Cpath id='패스_1906' data-name='패스 1906' d='M24.713,6.609h-1.36v1.24a2.5,2.5,0,0,1-.049.489h1.409A4.563,4.563,0,0,1,29.271,12.9V32.743A4.563,4.563,0,0,1,24.713,37.3H6.287a4.563,4.563,0,0,1-4.558-4.558V12.9A4.563,4.563,0,0,1,6.287,8.338H7.7a2.5,2.5,0,0,1-.05-.489V6.609H6.287A6.294,6.294,0,0,0,0,12.9V32.743a6.293,6.293,0,0,0,6.287,6.286H24.713A6.294,6.294,0,0,0,31,32.743V12.9a6.294,6.294,0,0,0-6.287-6.287' transform='translate(0 -1.641)' fill='%23fff'/%3E%3Cpath id='패스_1907' data-name='패스 1907' d='M23.4,9.41H12.681a.977.977,0,0,1-.842-.5h-1.6a2.5,2.5,0,0,0,2.444,2H23.4a2.5,2.5,0,0,0,2.443-2h-1.6a.977.977,0,0,1-.841.5' transform='translate(-2.541 -2.212)' fill='%23fff'/%3E%3Cpath id='패스_1908' data-name='패스 1908' d='M11.675,4.508a.99.99,0,0,1,.989-.989h2.849l.192-.464a2.509,2.509,0,0,1,4.638,0l.192.464h2.849a.991.991,0,0,1,.989.989v.46h1.5v-.46a2.5,2.5,0,0,0-2.493-2.493h-1.88a4.013,4.013,0,0,0-6.961,0h-1.88a2.5,2.5,0,0,0-2.493,2.493v.46h1.5Z' transform='translate(-2.525 0)' fill='%23fff'/%3E%3Cpath id='패스_1909' data-name='패스 1909' d='M29.016,7.849a.957.957,0,0,1-.148.489h1.6a2.488,2.488,0,0,0,.05-.489V6.609h-1.5Z' transform='translate(-7.166 -1.641)' fill='%23fff'/%3E%3Cpath id='패스_1910' data-name='패스 1910' d='M10.221,8.338h1.6a.961.961,0,0,1-.148-.489V6.609h-1.5v1.24a2.5,2.5,0,0,0,.05.489' transform='translate(-2.525 -1.641)' fill='%23fff'/%3E%3Cpath id='패스_1911' data-name='패스 1911' d='M27,38.162H6.43a1.64,1.64,0,1,1,0-3.28H27a1.64,1.64,0,1,1,0,3.28M6.43,35.859a.663.663,0,0,0,0,1.326H27a.663.663,0,0,0,0-1.326Z' transform='translate(-1.189 -8.659)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.fix_btn_box .menu_btn_box ul li .icon.i02 i::before {
    background-image: url("data:image/svg+xml,%3Csvg id='quick_ico02' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34.232' height='33.693' viewBox='0 0 34.232 33.693'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_324' data-name='사각형 324' width='34.233' height='33.693' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='합치기_1' data-name='합치기 1' transform='translate(13.018 12.748)' fill='none'%3E%3Cpath d='M3.732,8.2a1,1,0,0,1-1-1V5.464H1a1,1,0,0,1-1-1V3.732a1,1,0,0,1,1-1H2.732V1a1,1,0,0,1,1-1h.732a1,1,0,0,1,1,1V2.732H7.2a1,1,0,0,1,1,1v.732a1,1,0,0,1-1,1H5.464V7.2a1,1,0,0,1-1,1Z' stroke='none'/%3E%3Cpath d='M 4.463900089263916 7.196300029754639 L 4.463900089263916 4.463900089263916 L 7.196300029754639 4.464000225067139 L 7.196400165557861 3.732400178909302 L 4.463900089263916 3.732400178909302 L 4.464000225067139 1.000000238418579 L 3.732400178909302 0.9999002814292908 L 3.732400178909302 3.732400178909302 L 1.000000238418579 3.732300281524658 L 0.9999002814292908 4.463900089263916 L 3.732400178909302 4.463900089263916 L 3.732300281524658 7.196300029754639 L 4.463900089263916 7.196300029754639 M 4.464000225067139 8.196300506591797 L 3.732300281524658 8.196300506591797 C 3.179700136184692 8.196300506591797 2.732400178909302 7.748100280761719 2.732400178909302 7.196400165557861 L 2.732400178909302 5.463900089263916 L 0.9999002814292908 5.463900089263916 C 0.4473002552986145 5.463900089263916 2.53295894481198e-07 5.016600131988525 2.53295894481198e-07 4.464000225067139 L 2.53295894481198e-07 3.732300281524658 C 2.53295894481198e-07 3.179700136184692 0.4473002552986145 2.732400178909302 0.9999002814292908 2.732400178909302 L 2.732400178909302 2.732400178909302 L 2.732400178909302 0.9999002814292908 C 2.732400178909302 0.4473002552986145 3.179700136184692 2.53295894481198e-07 3.732300281524658 2.53295894481198e-07 L 4.464000225067139 2.53295894481198e-07 C 5.016600131988525 2.53295894481198e-07 5.463900089263916 0.4473002552986145 5.463900089263916 0.9999002814292908 L 5.463900089263916 2.732400178909302 L 7.196400165557861 2.732400178909302 C 7.748100280761719 2.732400178909302 8.196300506591797 3.179700136184692 8.196300506591797 3.732300281524658 L 8.196300506591797 4.464000225067139 C 8.196300506591797 5.016600131988525 7.748100280761719 5.463900089263916 7.196400165557861 5.463900089263916 L 5.463900089263916 5.463900089263916 L 5.463900089263916 7.196400165557861 C 5.463900089263916 7.748100280761719 5.016600131988525 8.196300506591797 4.464000225067139 8.196300506591797 Z' stroke='none' fill='%23fff'/%3E%3C/g%3E%3Cg id='그룹_166' data-name='그룹 166' transform='translate(0 0)'%3E%3Cg id='그룹_165' data-name='그룹 165' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1902' data-name='패스 1902' d='M.706,11.5A3.158,3.158,0,0,0,0,13.486V30.013a3.6,3.6,0,0,0,3.6,3.6l.078.077.077-.077H30.475l.078.077.077-.077h0a3.6,3.6,0,0,0,3.6-3.6V13.486a3.153,3.153,0,0,0-.707-1.991.838.838,0,0,0-.246-.608L17.713.237a.868.868,0,0,0-1.193,0L.952,10.887a.846.846,0,0,0-.246.608M5.9,31.471l6.916-6.917a.43.43,0,0,1,.608,0l3.094,3.093a.842.842,0,0,0,1.193,0l3.093-3.093a.431.431,0,0,1,.609,0l6.916,6.917a.43.43,0,0,1-.3.734H6.206a.43.43,0,0,1-.3-.734M7.72,16.761V11.449a.43.43,0,0,1,.43-.43H26.365a.43.43,0,0,1,.43.43v5.029a.429.429,0,0,1-.126.3l-9.249,9.249a.431.431,0,0,1-.609,0L7.846,17.066a.43.43,0,0,1-.126-.3m25.1-3.275V30.443A1.765,1.765,0,0,1,31.659,32.1a.412.412,0,0,1-.424-.111l-8.628-8.628a.43.43,0,0,1,0-.608L32.64,12.72a1.753,1.753,0,0,1,.183.766M17.367,2.2l13.711,8.983a.43.43,0,0,1,.054.655l-2.59,2.59a.43.43,0,0,1-.734-.3V10.943a.936.936,0,0,0-.936-.936H7.645a.936.936,0,0,0-.937.937v3.468a.43.43,0,0,1-.734.3L3.1,11.843a.432.432,0,0,1,.054-.655L16.866,2.2a.43.43,0,0,1,.5,0M1.41,13.486a1.753,1.753,0,0,1,.183-.766L11.625,22.753a.43.43,0,0,1,0,.608L3,31.989a.411.411,0,0,1-.423.111A1.765,1.765,0,0,1,1.41,30.443Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.fix_btn_box .menu_btn_box ul li .icon.i03 i::before {
    background-image: url("data:image/svg+xml,%3Csvg id='quick_ico03' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.166' height='36.883' viewBox='0 0 22.166 36.883'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_238' data-name='사각형 238' width='22.166' height='36.883' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_122' data-name='그룹 122' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1854' data-name='패스 1854' d='M21.853,13.7a11.084,11.084,0,1,0-21.538,0,16.563,16.563,0,0,0,1.21,4.312C2.614,20.3,7.2,27.855,9.3,31.295c-2.845.362-4.165,1.586-4.165,2.739,0,1.373,1.861,2.849,5.948,2.849s5.948-1.477,5.948-2.849c0-1.153-1.32-2.376-4.165-2.739,2.1-3.44,6.687-10.992,7.776-13.279a16.532,16.532,0,0,0,1.21-4.312m-6.535,20.33c-.115.324-1.547,1.138-4.234,1.138-2.719,0-4.152-.833-4.237-1.127.077-.283,1.245-.982,3.453-1.121l.056.091a.856.856,0,0,0,1.457,0l.056-.092c2.179.138,3.346.821,3.45,1.111m4.865-20.705a.649.649,0,0,0-.014.066A15.222,15.222,0,0,1,19.1,17.28c-1.1,2.309-6.117,10.551-8.015,13.648-1.9-3.1-6.914-11.339-8.014-13.648A15.221,15.221,0,0,1,2,13.395c0-.022-.008-.045-.013-.067a9.372,9.372,0,1,1,18.2,0' transform='translate(0 0)' fill='%23fff'/%3E%3Cpath id='패스_1855' data-name='패스 1855' d='M12.4,6.094a5.948,5.948,0,1,0,5.948,5.948A5.955,5.955,0,0,0,12.4,6.094m0,10.184a4.236,4.236,0,1,1,4.235-4.236A4.24,4.24,0,0,1,12.4,16.278' transform='translate(-1.315 -1.243)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.fix_btn_box .menu_btn_box ul li .icon.i04 i::before {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='31.059' viewBox='0 0 32 31.059'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_151' data-name='사각형 151' width='32' height='31.059' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='quick_ico04' transform='translate(0.189 0.607)'%3E%3Cg id='그룹_55' data-name='그룹 55' transform='translate(-0.189 -0.607)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1714' data-name='패스 1714' d='M37.668,11.5a.924.924,0,1,0,0,1.848,7.742,7.742,0,0,1,7.767,7.7.934.934,0,0,0,1.868,0A9.6,9.6,0,0,0,37.668,11.5' transform='translate(-21.582 -6.189)' fill='%23fff'/%3E%3Cpath id='패스_1715' data-name='패스 1715' d='M38.046,0a.931.931,0,0,0-.935.926.93.93,0,0,0,.935.924A12.312,12.312,0,0,1,50.4,14.092a.934.934,0,0,0,1.868,0A14.172,14.172,0,0,0,38.046,0' transform='translate(-21.803 0.615)' fill='%23fff'/%3E%3Cpath id='패스_1716' data-name='패스 1716' d='M25.99,23.124a5.066,5.066,0,0,0-7.111.353l-.9.991A4.985,4.985,0,0,0,17.2,25.6a16.649,16.649,0,0,1-7.889-7.143,5.012,5.012,0,0,0,1.57-1.16l.9-.99a4.959,4.959,0,0,0-.356-7.047L9.9,7.892a5.067,5.067,0,0,0-7.112.353l-.9.992a5.047,5.047,0,0,0-.357.439A5.865,5.865,0,0,0,.14,15.082a24.12,24.12,0,0,0,21.509,19.28c.239.021.475.032.7.032a6.5,6.5,0,0,0,3.389-.884,5.041,5.041,0,0,0,1.227-.981l.9-.991a4.963,4.963,0,0,0-.356-7.046Zm-17.9-6.063-.276.082a.871.871,0,0,0-.554.489.86.86,0,0,0,.02.732l.128.255a18.322,18.322,0,0,0,9.718,8.837l.238.093a.889.889,0,0,0,.693-.022.877.877,0,0,0,.462-.512l.081-.239a3.218,3.218,0,0,1,.675-1.142l.905-.99a3.3,3.3,0,0,1,4.629-.23l1.526,1.368a3.233,3.233,0,0,1,.233,4.589l-.906.992a3.317,3.317,0,0,1-.822.653,5.007,5.007,0,0,1-3.035.613A22.361,22.361,0,0,1,1.865,14.754a4.156,4.156,0,0,1,.866-3.812.8.8,0,0,0,.085-.082l.04-.044a.825.825,0,0,0,.068-.085,3.267,3.267,0,0,1,.262-.328l.9-.991a3.3,3.3,0,0,1,4.63-.229l1.526,1.367a3.23,3.23,0,0,1,.231,4.59l-.9.99a3.278,3.278,0,0,1-1.483.932' transform='translate(-0.027 -3.29)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.fix_btn_box .menu_btn_box:hover ul{max-height: 400px; opacity: 1}
.fix_btn_box .menu_btn_box:hover >button {opacity: 0;visibility: hidden}
.fix_btn_box .menu_btn_box ul li a:hover .icon {opacity: 1}