.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header .logo {
    padding: 25px 0 22px 0;
    margin-right: 50px;
}
.header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 222px;
    height: 53.37px;
    background: url(../images/common/logo_white.svg) center center /cover ;
}
.header .inner {
    display: flex;
}
.header .gnb {
    margin-right: 100px;
    text-align: center;
}
.header .gnb .depth01 {
    display: flex;
}
.header .gnb .depth01 > li {
    padding: 0 38px;
}
.header .gnb .depth01 > li > a  {
    display: block;
    line-height: 100px;
    font-size: 22px;
    font-weight: 700;
}
.header .gnb .depth01 > li > a > span {
    padding: 8px 20px;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none;
}
.header .gnb .depth02 {
    display: none;
    font-size: 18px;
}
@media screen and (min-width:769px) {
.header.menu_over .gnb .depth01 > li {
    position: relative;
}
.header.menu_over .gnb .depth02 {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    z-index: -1;
    padding: 20px 20px;
    background-color: #44564A;
    border-radius: 18px;
    white-space: nowrap;
}
.header.menu_over .gnb .depth01 > li.on > a > span, .header.menu_over .gnb .depth01 > li > a:hover > span {
    color: #fff;
    background-color: #44564A;
    border-radius: 30px;
}
.header.menu_over .depth01 > li.on > .depth02, .header.menu_over .depth01 > li:hover > .depth02 {
    display: block;
}
.header.menu_over .gnb .depth02 > li > a {
    display: block;
    line-height: 50px;
}
.header.menu_over .gnb .depth02 > li > a:hover {
    font-weight: 700;
} 
}

.header .tnb > ul {
    margin-top: 34px;
    display: flex;
    align-items: center;
}
.header .tnb > ul > li {
    margin-left: 10px;
}
.header .tnb ul li.lang {
    margin-right: 10px;
}
.header .tnb ul li.search {
    margin-right: 30px;
}
.header .tnb .lang {
    position: relative;
}
.header .tnb .lang button {
    padding: 8px 20px 8px 20px;
    display: block;
    position: relative;
}
.header .tnb .lang button::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='global-line' d='M10,18a8,8,0,1,1,8-8A8,8,0,0,1,10,18ZM8.168,16.134A14.32,14.32,0,0,1,6.822,10.8H3.65A6.407,6.407,0,0,0,8.168,16.134ZM8.425,10.8A12.724,12.724,0,0,0,10,16.2a12.724,12.724,0,0,0,1.575-5.4Zm7.926,0H13.178a14.32,14.32,0,0,1-1.346,5.334A6.407,6.407,0,0,0,16.35,10.8ZM3.65,9.2H6.822A14.32,14.32,0,0,1,8.168,3.866,6.407,6.407,0,0,0,3.65,9.2Zm4.775,0h3.151A12.724,12.724,0,0,0,10,3.8,12.724,12.724,0,0,0,8.425,9.2Zm3.407-5.334A14.32,14.32,0,0,1,13.178,9.2H16.35A6.407,6.407,0,0,0,11.832,3.866Z' transform='translate(-2 -2)' fill='%23fff'/%3E%3C/svg%3E ");
}
.header .tnb .lang .close {
    display: none;
}
.header .tnb .lang .open::after, .header .tnb .lang .close::after {
    position: absolute;
    right: 0;
    top: 15px;
    width: 8px;
    height: 6px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.header .tnb .lang .open::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='6' viewBox='0 0 7.4 6'%3E%3Cpath id='arrow-down-s-fill' d='M9.7,16,6,10h7.4Z' transform='translate(-6 -10)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang .close::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='6' viewBox='0 0 7.4 6'%3E%3Cpath id='arrow-down-s-fill' d='M9.7,10,6,16h7.4Z' transform='translate(-6 -10)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang .lang_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 20px;
    padding: 8px 15px;
}
.header .tnb .lang .lang_wrap li a {
    display: block;
    line-height: 1.6;
}
.header .tnb .lang.on .open {
    display: none;
}
.header .tnb .lang.on .close {
    display: block;
}
.header .tnb .lang.on .lang_wrap {
    display: block;
}
.header .tnb ul li.search a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 20.31px;
    height: 20.31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.314' height='20.314' viewBox='0 0 20.314 20.314'%3E%3Cpath id='search-2-line' d='M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16a7,7,0,1,0-7-7A7,7,0,0,0,11,18Zm8.485.071L22.314,20.9,20.9,22.314l-2.828-2.828Z' transform='translate(-2 -2)' fill='%23fff'/%3E%3C/svg%3E ");
}

/*header에 black이라는 클래스가 들어가면*/
.header[data-color='black'] {
    color: #2d2d2d;
}
.header[data-color='black'].menu_over .gnb .depth02 {
    color: #fff;
}
.header[data-color='black'] .logo a  {
    background: url(../images/common/logo_color.svg) center center /cover ;
}
.header[data-color='black'] .tnb .lang button::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='global-line' d='M10,18a8,8,0,1,1,8-8A8,8,0,0,1,10,18ZM8.168,16.134A14.32,14.32,0,0,1,6.822,10.8H3.65A6.407,6.407,0,0,0,8.168,16.134ZM8.425,10.8A12.724,12.724,0,0,0,10,16.2a12.724,12.724,0,0,0,1.575-5.4Zm7.926,0H13.178a14.32,14.32,0,0,1-1.346,5.334A6.407,6.407,0,0,0,16.35,10.8ZM3.65,9.2H6.822A14.32,14.32,0,0,1,8.168,3.866,6.407,6.407,0,0,0,3.65,9.2Zm4.775,0h3.151A12.724,12.724,0,0,0,10,3.8,12.724,12.724,0,0,0,8.425,9.2Zm3.407-5.334A14.32,14.32,0,0,1,13.178,9.2H16.35A6.407,6.407,0,0,0,11.832,3.866Z' transform='translate(-2 -2)' fill='%232d2d2d'/%3E%3C/svg%3E ");
}
.header[data-color='black'] .tnb .lang .open::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='6' viewBox='0 0 7.4 6'%3E%3Cpath id='arrow-down-s-fill' d='M9.7,16,6,10h7.4Z' transform='translate(-6 -10)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
.header[data-color='black'] .tnb .lang .close::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='6' viewBox='0 0 7.4 6'%3E%3Cpath id='arrow-down-s-fill' d='M9.7,10,6,16h7.4Z' transform='translate(-6 -10)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
.header[data-color='black'] .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.314' height='20.314' viewBox='0 0 20.314 20.314'%3E%3Cpath id='search-2-line' d='M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16a7,7,0,1,0-7-7A7,7,0,0,0,11,18Zm8.485.071L22.314,20.9,20.9,22.314l-2.828-2.828Z' transform='translate(-2 -2)' fill='%232d2d2d'/%3E%3C/svg%3E ");
}

@media screen and (max-width:1440px) {
    .header .gnb {
        margin-right: 10px;
    }
}
@media screen and (max-width:1320px) {
    .header .gnb .depth01 > li {
        padding: 0 20px;
    }
}
@media screen and (max-width:1024px) {
    .header {
        padding: 0 0 0 20px;
    }
    .header .logo {
        margin-right: 25px;
        padding: 35px 0 22px 0;
    }
    .header .logo a {
        width: 160px;
        height: 38.47px;
    }
    .header .gnb {
        margin-right: 0px;
    }
    .header .gnb .depth01 > li {
        padding: 0;
    }
    .header .gnb .depth01 > li > a {
        font-size: 20px;
    }
    .header.menu_over .gnb .depth02 {
        padding: 10px 12px;
    }
    .header .tnb ul li.lang {
        margin-left: 0;
    }
}
@media screen and (max-width:768px) {
    .header .gnb .depth01 > li > a {
        font-size: 18px;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='36' viewBox='0 0 41 36'%3E%3Cg id='그룹_411' data-name='그룹 411' transform='translate(-313.083 -17)'%3E%3Crect id='사각형_247' data-name='사각형 247' width='41' height='6' rx='3' transform='translate(313.083 17)' fill='%23fff'/%3E%3Crect id='사각형_248' data-name='사각형 248' width='41' height='6' rx='3' transform='translate(313.083 32)' fill='%23fff'/%3E%3Crect id='사각형_249' data-name='사각형 249' width='41' height='6' rx='3' transform='translate(313.083 47)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        position: absolute;
        right: 20px;
        top: 0;
        width: 80px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #2d2d2d;
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38'%3E%3Cg id='그룹_412' data-name='그룹 412' transform='translate(-6879.54 -3292.04)'%3E%3Crect id='사각형_248' data-name='사각형 248' width='46.806' height='6.934' rx='3' transform='translate(6884.443 3292.04) rotate(45)' fill='%232d2d2d'/%3E%3Crect id='사각형_305' data-name='사각형 305' width='46.806' height='6.934' rx='3' transform='translate(6917.54 3296.943) rotate(135)' fill='%232d2d2d'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    .header.menu_open .gnb .depth01 {
        display: block;
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
    .header .gnb .depth01 > li > a {
        font-size: 28px;
        line-height: 70px;
        position: relative;
        margin: 0 10%;
    }
    .header .gnb .depth01 > li.on > a::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.668' height='10.249' viewBox='0 0 21.668 10.249'%3E%3Cpath id='arrow-down-s-fill' d='M16.834,10,6,20.249H27.668Z' transform='translate(-6 -10)' fill='%232d2d2d'/%3E%3C/svg%3E ");
    }
    .header .gnb .depth01 > li > a::after {
        position: absolute;
        right: 80px;
        top: 30px;
        content: "";
        width: 22px;
        height: 11px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.668' height='10.249' viewBox='0 0 21.668 10.249'%3E%3Cpath id='arrow-down-s-fill' d='M16.834,20.248,6,10H27.668Z' transform='translate(-6 -10)' fill='%232d2d2d'/%3E%3C/svg%3E ");
    }
    .header .gnb .depth01 > li:last-child > a::after {
        display: none;
    }
    .header .gnb .depth01 > li.on > .depth02 {
        display: block;
    }
    .header .gnb .depth02 {
        background-color: #44564A;
        border-radius: 10px;
        padding: 20px 0;
    } 
    .header .gnb .depth02 > li > a {
        line-height: 60px;
        color: #fff;
        font-size: 21px;
    }
    .header .tnb {
        display: none;
    }
}
@media screen and (max-width:500px) {
    .header .logo {
        padding: 26px 0 20px 0;
    }
    .header .logo a {
        width: 120px;
        height: 28.85px;
    }
}
@media screen and (max-width:425px) {
    .header {
        height: 80px;
    }
    .header .logo {
        padding: 30px 0 16px 0;
    }
    .header .gnb .depth01 > li > a {
        margin: 0;
    }
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        right: 10px;
    }
    .header.menu_open .gnb .depth01 {
        margin-top: 80px;
        height: calc(100vh - 80px);
    }
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        background-size: 25px auto;
    }
    .header .gnb .depth01 > li > a {
        font-size: 22px;
        line-height: 60px;
    }
    .header .gnb .depth01 > li > a::after {
        right: 60px;
        background-size: 12px auto;
        top: 26px;
    }
    .header .gnb .depth02 {
        padding: 14px 0;
    }
    .header .gnb .depth02 > li > a {
        font-size: 18px;
        line-height: 40px;
    }
}
@media screen and (max-width:320px) {
    .header .gnb .depth02 > li > a {
        font-size: 16px;
        line-height: 36px;
    }
}

footer .footer_top {
    background-color: #F8A2B4;
    color: #fff;
    letter-spacing: -0.05em;
    position: relative; /*after의 정렬*/
}
footer .footer_top::after {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #F8A2B4;
    content: ""
}
footer .footer_top .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 20px 0;
}
footer .footer_top .mail, footer .footer_top .donation {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_top h2 {
    font-size: 20px;
    font-weight: 700;
}
footer .footer_top a {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 58px;
    border-radius: 20px;
    background-color: #8DF1B2;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_top a.mail_btn {
    background-color: #00A8FF;
}
footer .footer_sub {
    background-color: #FFFEE4;
    color: #2d2d2d;
    padding: 100px 0 113px 0;
    display: flex;
    text-align: center;
}
footer .f_logo a {
    display: block;
}
footer .sns ul {
    margin: 40px 0 30px 0;
    display: flex;
    justify-content: center;
}
footer .sns ul li {
    margin: 0 10px;
}
footer .sns ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .sns ul li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cg id='그룹_421' data-name='그룹 421' transform='translate(-875 -4292)'%3E%3Cg id='그룹_343' data-name='그룹 343' transform='translate(0 -204)'%3E%3Cpath id='패스_14417' data-name='패스 14417' d='M52.955,41.135l.729-4.752H49.125V33.3A2.376,2.376,0,0,1,51.8,30.733h2.073V26.688a25.268,25.268,0,0,0-3.68-.321c-3.755,0-6.209,2.276-6.209,6.4v3.621H39.815v4.752h4.173V52.621a16.618,16.618,0,0,0,5.137,0V41.135Z' transform='translate(845.892 4477.752)' fill='%232d2d2d' stroke='%232d2d2d' stroke-width='1'/%3E%3Cg id='타원_22' data-name='타원 22' transform='translate(875 4496)' fill='none' stroke='%232d2d2d' stroke-width='1.5'%3E%3Ccircle cx='18' cy='18' r='18' stroke='none'/%3E%3Ccircle cx='18' cy='18' r='17.25' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .sns ul li.youtube a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cg id='그룹_420' data-name='그룹 420' transform='translate(-920 -4292)'%3E%3Cg id='그룹_344' data-name='그룹 344' transform='translate(0 -204)'%3E%3Cpath id='패스_14426' data-name='패스 14426' d='M50.093,47.867a3.4,3.4,0,0,0-3.4-3.4H38a3.4,3.4,0,0,0-3.4,3.4v4.047a3.4,3.4,0,0,0,3.4,3.4h8.7a3.4,3.4,0,0,0,3.4-3.4Zm-5.114,2.327-3.9,1.929c-.153.083-.672-.028-.672-.2v-3.96c0-.176.524-.287.677-.2l3.733,2.031c.157.089.321.316.162.4' transform='translate(895.803 4464.775)' fill='%232d2d2d' stroke='%232d2d2d' stroke-width='1'/%3E%3Cg id='타원_23' data-name='타원 23' transform='translate(920 4496)' fill='none' stroke='%232d2d2d' stroke-width='1.5'%3E%3Ccircle cx='18' cy='18' r='18' stroke='none'/%3E%3Ccircle cx='18' cy='18' r='17.25' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}
footer .sns ul li.kakao a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cg id='그룹_418' data-name='그룹 418' transform='translate(-964 -4292)'%3E%3Cpath id='패스_14419' data-name='패스 14419' d='M31.362,44.731a13.889,13.889,0,0,1-2.078-.125.357.357,0,0,0-.276.068c-1.368.96-2.735,1.922-4.148,2.817-.172.109-.351.206-.528.306a.567.567,0,0,1-.2.069c-.225.03-.358-.1-.31-.327.084-.394.2-.779.312-1.166q.418-1.465.839-2.93c.025-.086.016-.126-.073-.171a10.75,10.75,0,0,1-3.466-2.707,7.916,7.916,0,0,1-1.816-3.9,7.377,7.377,0,0,1,.848-4.765,9.672,9.672,0,0,1,3.324-3.494,12.972,12.972,0,0,1,4.828-1.87,14.466,14.466,0,0,1,3.889-.17,13.044,13.044,0,0,1,6.71,2.449,8.94,8.94,0,0,1,3.037,3.706,7.348,7.348,0,0,1-.56,7.059,9.877,9.877,0,0,1-3.582,3.371,13.163,13.163,0,0,1-4.472,1.58,14.43,14.43,0,0,1-2.276.2' transform='translate(951.194 4274.554)' fill='none' stroke='%232d2d2d' stroke-width='1'/%3E%3Cpath id='패스_14420' data-name='패스 14420' d='M86.111,54.958a.778.778,0,0,1,.077-.107q.863-.866,1.728-1.729a.567.567,0,0,1,.741-.093.655.655,0,0,1,.31.727.6.6,0,0,1-.168.257c-.472.471-.942.945-1.417,1.413-.066.065-.063.1-.01.172q.79,1.039,1.573,2.083a.673.673,0,1,1-1.062.826c-.47-.616-.934-1.235-1.4-1.853a.387.387,0,0,0-.036-.048c-.055-.053-.07-.156-.156-.162-.066,0-.22.235-.22.313,0,.463,0,.927,0,1.39a.661.661,0,0,1-.556.642.671.671,0,0,1-.726-.385.692.692,0,0,1-.062-.29q0-2.295,0-4.589a.672.672,0,1,1,1.344,0c0,.439,0,.879,0,1.318v.093l.04.028' transform='translate(901.872 4254.483)' fill='%232d2d2d'/%3E%3Cpath id='제외_1' data-name='제외 1' d='M.71-2654.04a1,1,0,0,1-.147-.011.666.666,0,0,1-.478-.236.7.7,0,0,1-.057-.557,3.919,3.919,0,0,1,.217-.651l0-.012c.027-.068.054-.136.08-.2.456-1.209.926-2.445,1.369-3.608a.987.987,0,0,1,.756-.664.79.79,0,0,1,.157-.016.987.987,0,0,1,.883.645c.16.413.319.835.474,1.243l.011.03.267.7.211.555q.317.833.633,1.667a1.419,1.419,0,0,1,.107.644.426.426,0,0,1-.3.4,1.076,1.076,0,0,1-.37.072l-.053,0a.551.551,0,0,1-.558-.4c-.042-.134-.095-.267-.146-.4-.037-.092-.073-.184-.106-.275a.125.125,0,0,0-.139-.1c-.129,0-.259,0-.411,0H2.092c-.14,0-.281,0-.421,0a.113.113,0,0,0-.129.088c-.054.15-.112.3-.168.446l0,.006-.08.207A.586.586,0,0,1,.71-2654.04Zm1.9-4.282-.059.168-.012.035-.056.159-.135.383-.011.031c-.12.341-.244.693-.369,1.039-.016.043-.018.067-.008.081s.027.018.061.018h.016c.048,0,.1,0,.166,0H3.277C3.054-2657.047,2.835-2657.668,2.6-2658.322Z' transform='translate(977.326 6967.328)' fill='%232d2d2d' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='패스_14422' data-name='패스 14422' d='M32.892,56.2c0-.639,0-1.277,0-1.916,0-.1-.017-.138-.129-.134-.3.009-.6,0-.9,0a.659.659,0,1,1-.006-1.318q1.707-.005,3.413,0a.66.66,0,0,1,.185,1.3.754.754,0,0,1-.2.019c-.3,0-.6,0-.9,0-.1,0-.118.03-.118.122q0,1.911,0,3.821a.659.659,0,0,1-.463.678.67.67,0,0,1-.887-.641c0-.643,0-1.286,0-1.928' transform='translate(942.375 4254.49)' fill='%232d2d2d'/%3E%3Cpath id='패스_14423' data-name='패스 14423' d='M69.465,55.791c0-.759,0-1.517,0-2.276a.676.676,0,0,1,.619-.674.69.69,0,0,1,.733.507.936.936,0,0,1,.02.25q0,1.874,0,3.749c0,.107.027.133.132.132q.659-.009,1.318,0a.625.625,0,0,1,.631.58.614.614,0,0,1-.589.644q-1.138.014-2.276,0a.611.611,0,0,1-.587-.622c0-.763,0-1.525,0-2.288' transform='translate(913.415 4254.485)' fill='%232d2d2d'/%3E%3Cg id='타원_24' data-name='타원 24' transform='translate(964 4292)' fill='none' stroke='%232d2d2d' stroke-width='1.5'%3E%3Ccircle cx='18' cy='18' r='18' stroke='none'/%3E%3Ccircle cx='18' cy='18' r='17.25' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .sns ul li.insta a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cg id='그룹_419' data-name='그룹 419' transform='translate(-1009 -4292)'%3E%3Cg id='그룹_346' data-name='그룹 346' transform='translate(0 -204)'%3E%3Cg id='그룹_342' data-name='그룹 342' transform='translate(5 3)'%3E%3Cpath id='패스_14428' data-name='패스 14428' d='M40.81,32.251c2.763,0,3.091.01,4.182.06a5.724,5.724,0,0,1,1.922.357,3.427,3.427,0,0,1,1.964,1.964,5.731,5.731,0,0,1,.357,1.922c.05,1.091.06,1.419.06,4.182s-.01,3.091-.06,4.182a5.73,5.73,0,0,1-.357,1.922A3.427,3.427,0,0,1,46.913,48.8a5.724,5.724,0,0,1-1.922.357c-1.091.05-1.418.06-4.182.06s-3.091-.01-4.182-.06a5.724,5.724,0,0,1-1.922-.357,3.427,3.427,0,0,1-1.964-1.964,5.724,5.724,0,0,1-.357-1.922c-.05-1.091-.06-1.419-.06-4.182s.01-3.091.06-4.182a5.724,5.724,0,0,1,.357-1.922,3.427,3.427,0,0,1,1.964-1.964,5.724,5.724,0,0,1,1.922-.357c1.091-.05,1.419-.06,4.182-.06m0-1.865c-2.811,0-3.163.012-4.267.062a7.6,7.6,0,0,0-2.512.481A5.292,5.292,0,0,0,31,33.956a7.6,7.6,0,0,0-.481,2.512c-.05,1.1-.062,1.456-.062,4.267s.012,3.163.062,4.267A7.6,7.6,0,0,0,31,47.515a5.292,5.292,0,0,0,3.027,3.027,7.6,7.6,0,0,0,2.512.481c1.1.05,1.456.062,4.267.062s3.163-.012,4.267-.062a7.6,7.6,0,0,0,2.512-.481,5.292,5.292,0,0,0,3.027-3.027A7.6,7.6,0,0,0,51.1,45c.05-1.1.062-1.456.062-4.267s-.012-3.163-.062-4.267a7.6,7.6,0,0,0-.481-2.512,5.292,5.292,0,0,0-3.027-3.027,7.6,7.6,0,0,0-2.512-.481c-1.1-.05-1.456-.062-4.267-.062' transform='translate(981.423 4470.608)' fill='%232d2d2d' stroke='%232d2d2d' stroke-width='1'/%3E%3Cpath id='패스_14429' data-name='패스 14429' d='M56.451,51.062a5.315,5.315,0,1,0,5.315,5.315,5.315,5.315,0,0,0-5.315-5.315m0,8.764a3.45,3.45,0,1,1,3.45-3.45,3.45,3.45,0,0,1-3.45,3.45' transform='translate(965.782 4454.967)' fill='%232d2d2d' stroke='%232d2d2d' stroke-width='1'/%3E%3Cpath id='패스_14430' data-name='패스 14430' d='M93.031,46.341A1.242,1.242,0,1,1,91.789,45.1a1.242,1.242,0,0,1,1.242,1.242' transform='translate(935.969 4459.478)' fill='%232d2d2d' stroke='%232d2d2d' stroke-width='1'/%3E%3C/g%3E%3Cg id='타원_25' data-name='타원 25' transform='translate(1009 4496)' fill='none' stroke='%232d2d2d' stroke-width='1.5'%3E%3Ccircle cx='18' cy='18' r='18' stroke='none'/%3E%3Ccircle cx='18' cy='18' r='17.25' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .f_nav ul {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
footer .f_nav ul li.privacy {
    font-weight: 700;
    color: #0000FF;
}
footer .f_nav ul li {
    margin: 0 25px;
}
footer .f_info {
    line-height: 2;
    font-weight: 700;
    margin-bottom: 10px;
}
footer .copyright {
    color: #666;
    letter-spacing: -0.05em;
}
footer .f_info strong {
    display: block;
    font-size: 16px;
}
@media screen and (max-width:1440px) {
    footer .footer_top a {
        margin-left: 0;
        transform: scale(0.8);
    }
    footer .footer_sub {
        display: block;
    }
}
@media screen and (max-width:1024px) {
    footer .footer_top .mail, footer .footer_top .donation {
        flex-wrap: wrap;
    }
    footer .footer_top .tit, footer .footer_top .tit {
        text-align: center;
    }
    footer .footer_top .tit p {
        margin: 7px 0 20px 0;
    }
}
@media screen and (max-width:768px) {
    footer {
        height: auto !important;
        min-height: auto !important;
    }
    footer .footer_top .tit p {
        display: none;
    }
    footer .footer_top a {
        margin-top: 10px;
    }
    footer .footer_sub {
        padding: 90px 0 80px 0;
    }
    footer .f_nav ul li {
        margin: 0 10px;
    }
}
@media screen and (max-width:500px) {
    footer .f_nav ul {
        flex-wrap: wrap;
        line-height: 2.5;
        margin-bottom: 20px;
    }
    footer .footer_top .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    footer .footer_top::before {
        position: absolute;
        left: 0;
        top: 50%;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #F5F5F5;
    }
    footer .footer_top .mail, footer .footer_top .donation {
        margin: 30px 0 20px 0;
    }
    footer .f_info span {
        display: block;
    }
}