@charset "utf-8";/*이 css문서는 utf-8방식으로 인코딩 되어 있습니다. */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../fonts/NotoSans-Regular.woff') format('woff'), url('../fonts/NotoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'NotoSans-Bold';
    src: url('../fonts/NotoSans-Bold.woff') format('woff'), url('../fonts/NotoSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}/*한글웹폰트*/
/*한글웹폰트*/
*::selection {
    background-color: #1E6593;
    color: #fff;
}
*::-moz-selection { /*호환성을 위한 코드*/
    background-color: #1E6593;
    color: #fff;
}
/*font-family에 여러 폰트를 쓰는 것은 순서대로 적용이 된다.*/
.font {
    font-family : "Nanum Myeongjo", serif;
}
html, body {
    font-family: 'Noto Sans KR',"Malgun Gothic", "Apple SD Gothic Neo", "Pretendard Variable",'Nanum Myeongjo', "Noto Serif", serif;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1440px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 100%;
    overflow: hidden; /*sticky 사용할 때는 쓰면 안됨*/
}
/* Wrapper의 사이즈 1280 + 40px(좌우여백) = 1320 사이즈를 줄였을 때 부드럽게 들어가기 위해서*/
@media screen and (max-width:1440px) {
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨ss
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 60px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    } 
}
@media screen and (max-width:1320px) {
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 80px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    } 
}
@media screen and (max-width:768px) {
    html, body {
        font-size: 12px;
    }
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 20px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    }  
}
.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;    
    color: #fff;
    background: rgba(0, 0, 0, .6);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}
/*속성선택자 
a태그중에서 href="#gnb"인 태그의 스타일 */
.skipnav a[href="#gnb"] {
    background: #ddd;;
}
.skipnav a:focus {
    top: 100px;
}

/*
    작성자 : 지혜인
    날짜 : 2024.03.28
    내용 : font, skipnav, wrapper
*/