@import url(default.css);
@import url(common.css);
@import url(layout.css);

/*
    작성자 : 지혜인
    날짜 : 2024.03.28
    내용 : header, footer를 제외한 section
*/
.visual {
    position: relative;
}
.visual .swiper { 
    height: 750px;
} /* 팝업의 높이가 됨 */
.visual .swiper-slide .photo {
    width: 100%;
    height: 100%;
}
.visual .swiper-slide img { 
    display:block; width:100%; height:100%; object-fit:cover; 
} 
/* 팝업 안에 이미지를 넣었다면 이미지를 꽉차게 나타나게 하기 위해서 해당 스타일을 넣어줌 */
.visual .swiper-slide {
    position: relative;
}
.visual .swiper-slide .tit {
    position: absolute;
    left: calc(50% - 720px);
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    width: 1440px;
    color: #fff;
    
}
.visual .swiper-slide .tit strong {
    font-size: 1.3rem;
    display: block;
    font-family: 'Noto Sans KR';
    margin: 0 0 10px 9px;
}
.visual .swiper-slide .tit span {
    font-size: 3.467rem;
    font-weight: 700;
    display: block;
    letter-spacing: -0.05em;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: auto;
}
.visual .swiper .swiper_cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1440px;
    height: 750px;
    z-index: 10;
}
.visual .swiper .prev, .visual .swiper .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    margin-top: 130px;
}
.visual .swiper .prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='34.913' viewBox='0 0 18 34.913'%3E%3Cpath id='chevron_right_FILL0_wght100_GRAD0_opsz48' d='M365.922-662.524,381.65-678.34A.791.791,0,0,0,382-679a.791.791,0,0,0-.35-.655,1.007,1.007,0,0,0-.7-.349,1.007,1.007,0,0,0-.7.349l-15.466,15.466a3.362,3.362,0,0,0-.568.743,1.859,1.859,0,0,0-.218.918,1.939,1.939,0,0,0,.218.874,3.011,3.011,0,0,0,.568.786L380.252-645.4a1.063,1.063,0,0,0,.655.306.892.892,0,0,0,.743-.306,1.007,1.007,0,0,0,.35-.7,1.007,1.007,0,0,0-.35-.7Z' transform='translate(-364 680)' fill='%23fff'/%3E%3C/svg%3E ");
}
.visual .swiper .next {
    left: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='34.913' viewBox='0 0 18 34.913'%3E%3Cpath id='chevron_right_FILL0_wght100_GRAD0_opsz48' d='M380.078-662.524,364.35-678.34A.791.791,0,0,1,364-679a.791.791,0,0,1,.35-.655,1.007,1.007,0,0,1,.7-.349,1.007,1.007,0,0,1,.7.349l15.466,15.466a3.362,3.362,0,0,1,.568.743,1.859,1.859,0,0,1,.218.918,1.939,1.939,0,0,1-.218.874,3.01,3.01,0,0,1-.568.786L365.748-645.4a1.064,1.064,0,0,1-.655.306.892.892,0,0,1-.743-.306,1.007,1.007,0,0,1-.35-.7,1.007,1.007,0,0,1,.35-.7Z' transform='translate(-364 680)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .swiper .pause , .visual .swiper .play {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    margin-left: 90px;
    margin-top: 131px;
}
.visual .swiper .pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg id='그룹_372' data-name='그룹 372' transform='translate(-285 -736)'%3E%3Cg id='타원_86' data-name='타원 86' transform='translate(285 736)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='11' cy='11' r='11' stroke='none'/%3E%3Ccircle cx='11' cy='11' r='10.5' fill='none'/%3E%3C/g%3E%3Cline id='선_49' data-name='선 49' y2='8' transform='translate(293.255 743.5)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3Cline id='선_50' data-name='선 50' y2='8' transform='translate(298.745 743.5)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .swiper .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg id='그룹_373' data-name='그룹 373' transform='translate(-285 -699)'%3E%3Cg id='타원_26' data-name='타원 26' transform='translate(285 699)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='11' cy='11' r='11' stroke='none'/%3E%3Ccircle cx='11' cy='11' r='10.5' fill='none'/%3E%3C/g%3E%3Cpath id='play_pause_FILL0_wght100_GRAD0_opsz48' d='M226-584.578V-592l5.4,3.711Z' transform='translate(68.588 1298.289)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .swiper .pagination {
    position: absolute;
    bottom: 100px;
    width: 1440px;
    left: 0;
    display: flex;
    align-items: flex-end;
}
.visual .swiper .pagination .swiper-pagination-bullet {
    background-color: rgba(230 , 230, 230, 0.2);
    width: 33.33%;
    height: 3px;
    outline: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    position: relative;
    opacity: 1;
    border-radius: 0;
}
.visual .swiper .pagination .swiper-pagination-bullet::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    background-color: #fff;
}
.visual .swiper .pagination .swiper-pagination-bullet-active {
    opacity: 1;
}
.visual .swiper .pagination .swiper-pagination-bullet-active::before {
    animation-name: paging_move;
    animation-iteration-count: 1;
    animation-duration: 3.5s;
}
@keyframes paging_move { /* 애니메이션을 효과를 미리 설정함 */
	0% { width: 0; }  /* 애니메이션을 시작할때의 속성 */
	100% { width: 100%; } /* 애니메이션이 종료될때의 속성 */
}
.scroll {
    position: absolute;
    left: 50%;
    transform: translate( -50% , 0 );
    bottom: 125px;
    width:20px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    border-radius: 50px;
    border: 1px solid #fff;
}
.scroll::after {
    position: absolute;
    left: 48%;
    top: 2px;
    width:2px;
    height: 10px;
    border-radius: 10px;
    content: "";
    background-color: #fff;
    animation-name: scroll; 
    animation-duration:3s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear
}
@keyframes scroll {
    0% { transform:translate(0, 2px); opacity: 0;}
    40% { opacity: 1;}
    80% { transform:translate(0, 10px); opacity: 0;}
    100% { transform:translate(0, 0); opacity: 0;}
    }

@media screen and (max-width:1440px) {
    .in {
        max-width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .visual .swiper .swiper_cnt {
        width: 100%;
        margin: 0 20px;
    }
    .visual .swiper .pagination {
        width: calc(100% - 40px);
    }
    .visual .swiper-slide .tit {
        left: auto;
    }
}
@media screen and (max-width:1320px) {
    .visual .swiper { 
        height: 700px;
    } /* 팝업의 높이가 됨 */
    .visual .swiper .swiper_cnt {
        height: 700px;
    }
    .visual .swiper-slide .tit strong {
        font-size: 1.26rem;
    }
    .visual .swiper-slide .tit span {
        font-size: 3rem;
    }
}
@media screen and (max-width:1024px) {
    .visual .swiper { 
        height: 600px;
    } /* 팝업의 높이가 됨 */
    .visual .swiper .swiper_cnt {
        height: 600px;
    }
}