@import url(default.css);
@import url(common.css);
@import url(layout.css);

.visual {
    height: 100vh;
    background: url(../images/main/visual_bg.png) center center / cover;
    color: #fff;
}
.visual .wrapper {
    position: relative;
    height: 100%;
}
.visual .h2 {
    font-size: 0;
    line-height: 0;
}
.visual .tit {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%,-50%);
    font-size: 90px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 100%;
}
.visual .tit .text {
    display: block;
}
.visual .logo_ani {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
.visual .logo_ani .logo  {
    display: block;
    max-width: 862.7px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.visual .logo_ani .logo img {
    max-width: 100%;
}
.visual .scroll::before {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, 0);
    text-align: center;
    content: "Scoll Down";
    padding-bottom: 35px;
    width: 90px;
    height: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41.111' height='17.604' viewBox='0 0 41.111 17.604'%3E%3Cpath id='패스_42' data-name='패스 42' d='M15324.5,9400l18.883,14,18.025-14' transform='translate(-15322.401 -9397.896)' fill='none' stroke='%23ededed' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1140px) {
    .visual .tit {
        font-size: 78px;
    }
    .visual .logo_ani .logo {
        width: 75%;
    }
    .visual .scroll::before { 
        bottom: 50px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:1024px) {
    .visual .scroll::before {
        background-size: 30px auto;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:768px) {
    .visual .tit {
        font-size: 65px;
        line-height: 1.2;
    }
}
@media screen and (max-width:600px) {
    .visual .tit {
        font-size: 58px;
    }
}
@media screen and (max-width:500px) {
    .visual .tit {
        font-size: 45px;
    }
}
@media screen and (max-width:390px) {
    .visual .tit {
        font-size: 39px;
    }
}
@media screen and (max-width:340px) {
    .visual .tit {
        font-size: 35px;
    }
}
.vision {
    position: relative;
    height: 100vh;
}
.vision .tit {
    margin-top: 150px;
    text-align: center;
}
.vision .tit h2 {
    font-size: 150px;
    font-weight: 700;
    color: #9CD0FF;
}
.vision .vision_bg {
    position: absolute;
    left: 0;
    bottom: 0;
}