/*
    파일명 : layout.css
    작성자 : 지혜인
    작성일 : 2024.03.16
    속  성 : 모든 페이지의 레이아웃 요소 ( header / footer  레이아웃 요소)  
            메뉴명, sub_visual 이미지 스타일, 탭메뉴   
*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    margin-left: 15px;
}
.header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    padding: 10px 10px;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none;
}
.header .gnb .depth01 {
    display: flex;
}
.header .gnb .depth01 > li {
    width: 150px;
    text-align: center;
}
.header .gnb .depth01 > li > a {
    line-height: 100px;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.header .gnb .depth02 {
    display: none;
    height: 450px;
}
.header .gnb .depth02 > li > a {
    font-size: 18px;
    line-height: 45px;
}
.header .tnb {
    margin-right: 15px;
    display: flex;
}