.header {
    position: fixed;/*상단과 스크롤 내릴 때 고정*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #FFF8E8;
    transition: transform 0.2s;
}
.header .header_top {
    height: 100px;
}
.header .header_sub {
    height: 70px;
}
.header .header_top .logo {
    font-size: 0;
    line-height: 0;
    position: absolute; /*header를 기준으로 정렬*/
    left: 50%;
    top: 18px;
    transform: translate(-50%, 0);
    /*
        가운데 정렬을 absolute로 해야하고
        넓이가 변경될 수도 있음
        left calc(50% - 넓이의 반)으로 가운데 정렬을 하면
        넓이가 변경되면 계속 값을 변경해야함
        넓이가 변경되더라도 계속 가운데 
        left: 50%; ----- 나의 정렬기준에서 가운데 
        transform: translate(-50%, 0); ---- 나 자신 사이즈의 절반을 왼쪽으로 이동
    */
} 
.header .header_top .logo a {
    width: 120px;
    display: inline-block;
    text-align: center; 
}
.header .header_top .tnb {
    float: right;
    margin-top: 63px;
    margin-right: 16%;
    font-weight: 700;
    color: #4d4d4d;
}
.header .header_top .tnb ul {
    display: flex;
}
.header .header_top .tnb ul li {
    margin-right: 30px;
    position: relative;
}
.header .header_top .tnb ul li:last-child {
    margin-right: 0;
}
.header .header_top .tnb ul li::after {
    position: absolute;
    right: -15px;
    top: 5.2px;
    content: "";
    width: 1px;
    height: 11px;
    background-color: #D6D3D3;
    transform: rotate(15deg);
}
.header .header_top .tnb ul li:last-child::after {
    display: none;
}
.header .header_sub .gnb .gnb_open, .header .header_sub .gnb .gnb_close {
    display: none;
    font-size: 0;
    line-height: 0
}
.header .header_sub .gnb .depth01 {
    display: flex;
    justify-content: center;
}
.header .header_sub .gnb .depth01 > li {
    width: 230px;
    padding-left: 58px;
}
.header .header_sub .gnb .depth01 > li > a {
    line-height: 70px;
    font-size: 1.111rem;
    
    font-weight: 700;
}
.header .header_sub .gnb .depth02 {
    padding-top: 20px;
    display: none;
    font-weight: 700;
}
.header .header_sub .gnb .depth02 > li > a {
    display: block;
    line-height: 55px;
    white-space: nowrap; /*메뉴는 한줄*/
}
/*****************************메뉴 오버 시작****************/
@media screen and (min-width:769px) {
    .header.menu_over::before {
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        content: "";
        z-index: -1;
        width: 100%;
        height: 557px;
        background-color: #FFF8E8;
    }
    .header.menu_over::after {
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 170px;
        content: "";
        z-index: 1;
        width: 100%;
        height: 1px;
        background-color: #ddd;
    }
    .header.menu_over .header_sub .gnb .depth02 {
        display: block;
    }
    .header .header_sub .gnb .depth01 > li > a span {
        padding: 10px 10px;
        border-radius: 50px;
    }
    .header .header_sub .gnb .depth01 > li.on > a, .header .header_sub .gnb .depth01 > li > a:hover {
        color: #fff;
    }
    .header .header_sub .gnb .depth01 > li.on > a span , .header .header_sub .gnb .depth01 > li > a:hover span {
        position: relative;
        transition: 0.4s;
        background-color: #2B4836;
    }
    .header .header_sub .gnb .depth02 > li > a span {
        padding: 10px 10px;
        border-radius: 50px;
    }
    .header .header_sub .gnb .depth02 > li > a:hover span {
        background-color: #2B4836;
        color: #fff;
    }
    /****************************메뉴 오버 끝*****************/
    /****************************메뉴 고정 시작*****************/
    .header.fixed {
        height: 70px;
    }
    .header.fixed .header_top {
        height: auto;
    }
    .header.fixed .header_sub {
        height: auto;
    }
    .header.fixed .tnb {
        display: none;
    }
    .header.fixed .wrapper {
        width: auto;
        /*wrapper를 벗어나고 싶을 때 이렇게 쓰면 됨!*/
    }
    .header.fixed .header_top .logo {
        position: absolute;
        left: 15px;
        top: 15px;
        transform: translate(0, 0);
    }
    .header.fixed .header_top .logo a {
        width: 100%;
    }
    .header.fixed .header_top .logo a img {
        width: 50%;
    }
    .header.fixed .header_sub .gnb .depth01 {
        justify-content: flex-end;
        margin-left: 150px;/*왼쪽에 로고가 들어갈 만큼 여백*/
    }
    .header .header_sub .gnb .depth01 > li {
        max-width: 200px;/*최대넓이*/
        width: 16.66%;/*depth1의 넓이에 16.66%*/
    }
    .header .header_sub .gnb .depth01 > li > a {
        font-size: 1rem
    }
    .header.fixed.menu_over::before {
        height: 470px;
    }
    .header.fixed.menu_over::after {
        top: 70px;
    }
    /****************************메뉴 고정 끝*****************/
}
@media screen and (max-width:1640px) {
    .header .header_sub .gnb .depth01 > li {
        width: 190px;
        padding-left: 0;
    }
    .header .header_sub .gnb .depth01 > li > a span {
        padding: 10px 6px;
    }
    .header .header_sub .gnb .depth02 > li {
        padding-left: 10px;
    }
}
@media screen and (max-width:1440px) {
    .header .header_sub .gnb .depth01 > li {
        width: 16.66%;
    }
}
@media screen and (max-width:1320px) {
    .header .header_top .tnb {
        margin-right: 13%;
    }
}
@media screen and (max-width:1192px) {
    .header .header_sub .gnb .depth01 > li > a span {
        padding: 8px 5px;
    }
    .header .header_sub .gnb .depth02 > li {
        padding-left: 8px;
    }
}
@media screen and (max-width:1132px) {
    .header .header_top .tnb {
        margin-right: 11%;
    }
    .header .header_sub .gnb .depth01 {
        padding-left: 5%;
    }
    .header .header_sub .gnb .depth01 > li {
        padding-left: 0;
    }
    .header .header_sub .gnb .depth02 {
        padding-top: 15px;
    }
    .header .header_sub .gnb .depth02 > li > a {
        line-height: 50px;
        /*font-size: 17px;*/
    }
}
@media screen and (max-width:1024px) {
    .header .header_top .tnb {
        margin-right: 5%;
    }
    .header .header_sub .gnb .depth01 {
        padding-left: 0;
    }
    .header .header_sub .gnb .depth01 > li {
        text-align: center;
    }
    .header .header_sub .gnb .depth02 {
        padding-top: 5px;
    }
}
/*모바일로 변환*/
@media screen and (max-width:768px) {
    .header {
        height: 100px;
    }
    .header .header_top {
        height: auto;
    }
    .header .header_sub {
        height: auto;
    }
    .header .header_top .tnb {
        display: none;
        margin-top: 0;
        z-index: 10;
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .header .header_top .tnb  ul li {
        margin: 0;
        border-width: 2px 2px 2px 0;
        border-color: rgba(190, 142, 102, 1);
        border-style: solid;
    }
    .header .header_top .tnb  ul li:first-child {
        border-left-width: 2px; 
    }
    .header .header_top .tnb ul li::after {
        display: none;
    }
    .header .header_top .tnb  ul li a {
        display: block;
        font-size: 1.333rem;
        padding: 10px 20px;
        color: #BE8E66;
    }
    .header .header_top .logo {
        position: relative;
        z-index: 10;
        left: auto;
        top: auto;
        transform: translate(0, 0); 
        margin-left: -20px;
    }
    .header .header_top .logo a {
        width: auto;
        padding: 27px 0;
    }
    .header .header_top .logo a img {
        width: 70%;
    }
    .header .header_sub .gnb_wrap {
        display: none;
        position: absolute;/*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }
    .header .header_sub .gnb .gnb_open {
        display: block;
        right: 20px;
        top: 0;
        background-size: 57px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.5 14'%3E%3Cg id='그룹_33' data-name='그룹 33' transform='translate(-317.75 -17)'%3E%3Cline id='선_22' data-name='선 22' x2='31.5' transform='translate(317.75 18.5)' fill='none' stroke='%23be8e66' stroke-width='3'/%3E%3Cline id='선_23' data-name='선 23' x2='19' transform='translate(330.25 29.5)' fill='none' stroke='%23be8e66' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .header .header_sub .gnb .gnb_open, .header .header_sub .gnb .gnb_close {
        position: absolute;
        z-index: 101;
        width: 80px;
        height: 100px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .header .header_sub .gnb .gnb_close {
        right: 10px;
        top: 0;
        background-size:40px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.121' height='22.121' viewBox='0 0 22.121 22.121'%3E%3Cg id='그룹_72' data-name='그룹 72' transform='translate(-321.939 -12.939)'%3E%3Cline id='선_22' data-name='선 22' y1='20' x2='20' transform='translate(323 14)' fill='none' stroke='%23be8e66' stroke-width='3'/%3E%3Cline id='선_35' data-name='선 35' x1='20' y1='20' transform='translate(323 14)' fill='none' stroke='%23be8e66' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    /****************모바일 mobile 메뉴가 열렸을 때 시작************************/
    .header.menu_open .header_top .tnb {
        display: block;
    }
    .header.menu_open .header_sub .gnb_wrap {
        display: block;
    }
    .header.menu_open .header_sub .gnb .depth01 {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        margin-top: 100px;/*header의 높이만큼*/
        height: calc(100vh - 100px);
        overflow-x: hidden;/*좌우는 스크롤 금지*/
        overflow-y: auto; /*위아래 스크롤*/
        background-color: #BE8E66;
    }
    .header.menu_open .header_sub .gnb .depth01 > li {
        width: 100%;
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a {
        display: block;
        font-size: 1.733rem;
        line-height: 75px;
        position: relative;
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a::after {
        position: absolute;
        right: 120px;
        top: 26px;
        content: "";
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.6' height='13.6' viewBox='0 0 13.6 13.6'%3E%3Cg id='그룹_73' data-name='그룹 73' transform='translate(-267.4 -99.9)'%3E%3Cline id='선_38' data-name='선 38' x2='13.6' transform='translate(267.4 106.7)' fill='none' stroke='%23fff8e8' stroke-width='1'/%3E%3Cline id='선_39' data-name='선 39' x2='13.6' transform='translate(274.2 99.9) rotate(90)' fill='none' stroke='%23fff8e8' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .header.menu_open .header_sub .gnb .depth01 > li.on a {
        color: #fff;
    }
    .header.menu_open .header_sub .gnb .depth01 > li.on > a::after {
        background-size: 20px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.6' height='2' viewBox='0 0 13.6 2'%3E%3Cg id='그룹_73' data-name='그룹 73' transform='translate(-267.4 -105.7)'%3E%3Cline id='선_38' data-name='선 38' x2='13.6' transform='translate(267.4 106.7)' fill='none' stroke='%23171717' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a span {
        padding: 0;
    }
    .header.menu_open .header_sub .gnb .depth01 > li.on .depth02 {
        display: block;
        padding-top: 0;
    }
    .header.menu_open .header_sub .gnb .depth02 {
        background-color: #FFF8E8;
    }
    .header .header_sub .gnb .depth02 > li {
        padding-left: 0;
    }
    .header.menu_open .header_sub .gnb .depth02 > li > a {
        display: block;
        line-height: 60px;
        font-size: 1.333rem;
    }
    .header.menu_open .header_sub .gnb .depth01 > li.on .depth02 li a {
        color: #0C0103;
    }
    .header.menu_open .header_sub .gnb_open {
        display: none;
    }
    .header.menu_open .header_sub .gnb_close {
        display: block;
    }
    /****************메뉴가 열렸을 때 끝************************/
}
@media screen and (max-width:500px) {
    .header {
        height: 50px;
    }
    .header .header_top .logo a {
        padding: 8px 0;
    }
    .header .header_top .logo a img {
        width: 50%;
    } 
    /*tnb*/
    .header .header_top .tnb {
        right: 50px;
    }
    .header .header_top .tnb  ul li {
        border-width: 1px 1px 1px 0;
    }
    .header .header_top .tnb  ul li:first-child {
        border-left-width: 1px; 
    }
    .header .header_top .tnb  ul li a {
        font-size: 1.143rem;
        padding: 5px 14px;
    }
    /*tnb*/
    .header .header_sub .gnb .gnb_open, .header .header_sub .gnb .gnb_close {
        width: 60px;
        height: 50px;
    }
    .header .header_sub .gnb .gnb_open {
        background-size: 32px auto;
        right: 5px;
    }
    .header .header_sub .gnb .gnb_close {
        background-size: 20px auto;
        right: 0;
    }
    /****모바일 메뉴 오픈****/
    .header.menu_open .header_sub .gnb .depth01 {
        margin-top: 50px;/*header의 높이만큼*/
        height: calc(100vh - 50px);
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a::after {
        right: 90px;
        top: 28px;
        width: 20px;
        height: 20px;
        background-size: 18px auto;
    }
    .header.menu_open .header_sub .gnb .depth01 > li.on > a::after {
        background-size: 18px auto;
    }
    .header.menu_open .header_sub .gnb .depth02 > li > a {
        line-height: 60px;
        font-size: 1.333rem;
    }
}
@media screen and (max-width:400px) {
    .header .header_top .tnb {
        right: 40px;
    }
    .header .header_top .tnb ul li a {
        font-size: 0.857rem;
        padding: 5px 14px;
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a::after {
        right: 65px;
        top: 29px;
    }
}
@media screen and (max-width:375px) {
    .header .header_top .tnb ul li a {
        font-size: 0.857rem;
        padding: 5px 10px;
    }
    .header.menu_open .header_sub .gnb .depth01 > li > a::after {
        right: 45px;
        top: 29px;
    }
}

aside {
    position: relative;
}
aside button{
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 62px;
    height: 62px;
    background-color: #E3A1AD;
    border-radius: 100%;
    color: #474747;
    font-size: 0.833rem;
    font-weight: 700;
}
.footer {
    padding: 128px 0 116px 0;
    background-color: #1F1A12;
    color: #fff;
}
.footer .f_link ul {
    display: flex;
    justify-content: center;
}
.footer .f_link ul li {
    width: 280px;
    margin: 0 20px;
    background-color: #FFF8E8;
    border-radius: 80px;
}
.footer .f_link ul li a {
    height: 90px;
    display: flex;
    align-items: center;
    color: #0C0103;
    font-size: 1.111rem;
    font-weight: 700;
}
.footer .f_link ul li a span {
    display: inline-block;
    line-height: 1.4;
    padding: 0 0 0 123px;
    position: relative;
}
.footer .f_link ul li a span::before {
    position: absolute;
    left: 65px;
    width: 40px;
    height: 60px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .f_link ul li.link01 a span::before {
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='35.044' height='56.407' viewBox='0 0 35.044 56.407'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_104' data-name='사각형 104' width='35.044' height='56.407' transform='translate(0 0)' fill='%23be8e66'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='사각형_24' data-name='사각형 24' width='11.531' height='8' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_89' data-name='그룹 89' transform='translate(-552 -5054.796)'%3E%3Cg id='그룹_55' data-name='그룹 55' transform='translate(552 5054.797)'%3E%3Cg id='그룹_19' data-name='그룹 19' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_21' data-name='패스 21' d='M28.8,56.407H6.247A6.254,6.254,0,0,1,0,50.159V6.247A6.254,6.254,0,0,1,6.247,0H28.8a6.254,6.254,0,0,1,6.248,6.247V50.159A6.255,6.255,0,0,1,28.8,56.407M6.247,3A3.251,3.251,0,0,0,3,6.247V50.159a3.251,3.251,0,0,0,3.247,3.248H28.8a3.252,3.252,0,0,0,3.248-3.248V6.247A3.251,3.251,0,0,0,28.8,3Z' fill='%23be8e66'/%3E%3Cpath id='패스_22' data-name='패스 22' d='M33.3,11.9H2.7a1.5,1.5,0,1,1,0-3H33.3a1.5,1.5,0,1,1,0,3' fill='%23be8e66'/%3E%3Cpath id='패스_23' data-name='패스 23' d='M33.3,45.33H2.7a1.5,1.5,0,1,1,0-3H33.3a1.5,1.5,0,0,1,0,3' fill='%23be8e66'/%3E%3Cpath id='패스_24' data-name='패스 24' d='M20.983,7.945H14.06a1.5,1.5,0,0,1,0-3h6.923a1.5,1.5,0,0,1,0,3' fill='%23be8e66'/%3E%3Cpath id='패스_25' data-name='패스 25' d='M20.088,49.291a2.566,2.566,0,1,1-2.566-2.566,2.566,2.566,0,0,1,2.566,2.566' fill='%23be8e66'/%3E%3C/g%3E%3C/g%3E%3Cg id='그룹_56' data-name='그룹 56' transform='translate(563.756 5079)'%3E%3Cg id='그룹_1' data-name='그룹 1' clip-path='url(%23clip-path-2)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M34.6,148.32c.18-.091.769-.337.769-.636s-.493-.393-.8-.432a5.02,5.02,0,0,0-.833-.036c-.229.011-.342.065-.342.128s.086.08.112.08a.294.294,0,0,0,.115-.033c.037-.02.049-.061.146-.074a2.874,2.874,0,0,1,.876.035c.537.108.517.283.519.332s-.024.163-.345.393a4.379,4.379,0,0,1-.7.391c0-.04.006-.076.009-.106.02-.193.093-.633.106-.767s-.07-.152-.07-.152c-.1-.009-.111.157-.111.157s-.012.144-.041.51c-.01.127-.016.275-.019.414-.033.017-.054.034-.047.061s.029.023.046.02c0,.228,0,.421,0,.45,0,.05.011.168.053.168s.053-.066.053-.148c0-.061.007-.316.018-.523.136-.062.368-.17.491-.232' transform='translate(-32.037 -141.223)'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M57.354,165.6c-.041-.018-.084.037-.169.18s-.317.629-.428.629,0-.307-.087-.314-.3.373-.39.373,0-.376-.068-.385-.31.359-.38.349c-.053-.007-.029-.177-.03-.287a.105.105,0,0,0-.11-.11c-.112,0-.25.087-.344.328s.092.378.249.126c0,0,.11-.18.11-.136s.013.194.095.194.17-.107.209-.15.134-.175.128-.11-.045.353.108.353c.1,0,.218-.194.243-.229s.13-.225.13-.138-.031.289.1.289.294-.355.349-.446a1.988,1.988,0,0,1,.162-.271,3.783,3.783,0,0,1-.07.461c-.018.105-.069.453.034.429s.041-.174.039-.227.034-.309.055-.438.105-.453.064-.471m-1.653.567s-.174.284-.224.284-.041-.1.039-.193.152-.111.174-.107.011.017.011.017' transform='translate(-53.073 -158.864)'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M113.05,148.183c-.119,0-.22-.005-.3,0,.25-.131.78-.362.78-.575,0-.2-.4-.274-.639-.3a3.969,3.969,0,0,0-.63-.005c-.175.007-.243.057-.243.1s.066.055.086.055a.247.247,0,0,0,.088-.023c.029-.014.048-.052.123-.062a2.311,2.311,0,0,1,.536-.016c.3.029.47.164.47.248s-.076.2-.323.353a3.833,3.833,0,0,1-.424.234l-.033,0c.031-.222.081-.534.092-.646.013-.139-.055-.149-.055-.149-.093-.011-.1.162-.1.162s-.024.149-.044.53l-.006.117a.974.974,0,0,0-.146.032c-.044.017-.066.038-.065.065s.028.054.075.053l.129-.01c-.018.342-.036.708-.036.75a.291.291,0,0,0,.019.131h0s.007.029.073.013a4.288,4.288,0,0,0,.591-.243c.269-.131.632-.318.632-.519s-.21-.276-.643-.294m-.086.757a2.738,2.738,0,0,1-.46.182c-.036.009-.037-.044-.037-.045.006-.146.031-.556.051-.74.172-.014.4-.032.54-.032.242,0,.468.045.468.185s-.317.33-.562.451' transform='translate(-107.457 -141.297)'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M155.385,152.72c-.047,0-.122.037-.222.047s-.7.031-.7.031a1.888,1.888,0,0,0,.115-.226c.037-.1.094-.325-.005-.325s-.13.38-.215.555l-.55,0a1.4,1.4,0,0,0,.112-.308c0-.063-.033-.062-.045-.062s-.066,0-.139.12a1.618,1.618,0,0,0-.122.242s-.322-.013-.341-.016-.078,0-.088.04.06.053.137.058l.245.012s-.087.245-.1.3a2.914,2.914,0,0,1-.231.287.866.866,0,0,1-.334.235c-.054,0-.062-.066-.062-.066a.663.663,0,0,0,.143-.083.29.29,0,0,0,.148-.227.115.115,0,0,0-.114-.127.306.306,0,0,0-.209.117.491.491,0,0,0-.094.265l-.124.03a.085.085,0,0,0-.033-.078c-.042-.038-.132-.095-.132-.148s.06-.116.085-.148a.2.2,0,0,0,.049-.1c0-.025-.009-.049-.05-.049s-.261.235-.3.273-.2.168-.2.168-.189-.1-.189-.181.113-.159.18-.184.2-.066.2-.112-.041-.053-.067-.053a.614.614,0,0,0-.345.17,1.036,1.036,0,0,0-.207.366s-.024.048-.021.016.011-.156.013-.171.038-.136-.007-.147a.265.265,0,0,0-.178.011.546.546,0,0,0-.255.4c0,.154.112.141.119.141s.077,0,.152-.156c.028-.055.024-.064.039-.064s.013.015.017.047.018.173.081.173.077-.146.1-.222.061-.166.076-.166.049.066.1.107.108.086.108.086-.254.131-.254.2.213.045.313-.011.119-.114.112-.164.044-.061.086-.1.119-.112.127-.112,0,.033.022.066a.7.7,0,0,0,.123.12c.027.021.031.023.031.032s-.012.014-.025.016-.268.033-.268.107.224.07.24.07.156-.019.156-.121l.134-.03a.138.138,0,0,0,.147.153.478.478,0,0,0,.334-.2c.063-.07.185-.222.214-.241,0,0-.007.08-.007.13s.005.3.179.3.34-.249.425-.362a3.028,3.028,0,0,0,.186-.262.55.55,0,0,1,.112-.15c.013,0,.013.008.008.041s-.095.6-.1.659.009.083.047.083.055,0,.058-.068.117-.862.117-.862l.485-.009a4.232,4.232,0,0,0,.475-.019.077.077,0,0,0,.059-.08c0-.049-.039-.064-.086-.064m-2.443.628a.077.077,0,0,1,.081-.029c.039.027,0,.08-.012.1s-.118.12-.143.1.033-.129.074-.173m-1.483.007s-.146.33-.19.33-.024-.113.021-.2a.27.27,0,0,1,.152-.152c.044-.007.017.025.017.025m2.157.367c-.15-.037-.092-.421-.07-.48a2.469,2.469,0,0,1,.217-.35h.562c-.22.4-.589.86-.709.831' transform='translate(-144.99 -146.054)'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M.183,48.5a.183.183,0,1,0,.183.183A.183.183,0,0,0,.183,48.5' transform='translate(0 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M55,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-52.582 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M26.494,22.058c-.564-.229-.271-1.162-.15-1.39a2.758,2.758,0,0,1-1.645.957c-.829,0-1.212-1.118-1.332-1.613-.12.5-.5,1.613-1.332,1.613a2.758,2.758,0,0,1-1.645-.957c.121.228.414,1.161-.15,1.39a3.892,3.892,0,0,1-1.89-.278A3.606,3.606,0,0,1,19.8,24.1a28.018,28.018,0,0,1,3.57-.257,28.018,28.018,0,0,1,3.57.257,3.606,3.606,0,0,1,1.448-2.325,3.892,3.892,0,0,1-1.89.278' transform='translate(-17.603 -19.197)' fill='%23e80a4d'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M274.636,48.5a.183.183,0,1,0,.183.183.183.183,0,0,0-.183-.183' transform='translate(-263.289 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M219.824,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-210.706 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M137.409.367a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-131.644)' fill='%23e80a4d'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .f_link ul li.link02 a span::before {
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='35.736' height='53.406' viewBox='0 0 35.736 53.406'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_126' data-name='사각형 126' width='11.531' height='8' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='사각형_105' data-name='사각형 105' width='35.736' height='53.406' transform='translate(0 0)' fill='%23be8e66'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_90' data-name='그룹 90' transform='translate(-873 -5057.797)'%3E%3Cg id='그룹_53' data-name='그룹 53' transform='translate(884.756 5082)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_45' data-name='패스 45' d='M34.6,148.32c.18-.091.769-.337.769-.636s-.493-.393-.8-.432a5.02,5.02,0,0,0-.833-.036c-.229.011-.342.065-.342.128s.086.08.112.08a.294.294,0,0,0,.115-.033c.037-.02.049-.061.146-.074a2.874,2.874,0,0,1,.876.035c.537.108.517.283.519.332s-.024.163-.345.393a4.379,4.379,0,0,1-.7.391c0-.04.006-.076.009-.106.02-.193.093-.633.106-.767s-.07-.152-.07-.152c-.1-.009-.111.157-.111.157s-.012.144-.041.51c-.01.127-.016.275-.019.414-.033.017-.054.034-.047.061s.029.023.046.02c0,.228,0,.421,0,.45,0,.05.011.168.053.168s.053-.066.053-.148c0-.061.007-.316.018-.523.136-.062.368-.17.491-.232' transform='translate(-32.037 -141.223)'/%3E%3Cpath id='패스_46' data-name='패스 46' d='M57.354,165.6c-.041-.018-.084.037-.169.18s-.317.629-.428.629,0-.307-.087-.314-.3.373-.39.373,0-.376-.068-.385-.31.359-.38.349c-.053-.007-.029-.177-.03-.287a.105.105,0,0,0-.11-.11c-.112,0-.25.087-.344.328s.092.378.249.126c0,0,.11-.18.11-.136s.013.194.095.194.17-.107.209-.15.134-.175.128-.11-.045.353.108.353c.1,0,.218-.194.243-.229s.13-.225.13-.138-.031.289.1.289.294-.355.349-.446a1.988,1.988,0,0,1,.162-.271,3.783,3.783,0,0,1-.07.461c-.018.105-.069.453.034.429s.041-.174.039-.227.034-.309.055-.438.105-.453.064-.471m-1.653.567s-.174.284-.224.284-.041-.1.039-.193.152-.111.174-.107.011.017.011.017' transform='translate(-53.073 -158.864)'/%3E%3Cpath id='패스_47' data-name='패스 47' d='M113.05,148.183c-.119,0-.22-.005-.3,0,.25-.131.78-.362.78-.575,0-.2-.4-.274-.639-.3a3.969,3.969,0,0,0-.63-.005c-.175.007-.243.057-.243.1s.066.055.086.055a.247.247,0,0,0,.088-.023c.029-.014.048-.052.123-.062a2.311,2.311,0,0,1,.536-.016c.3.029.47.164.47.248s-.076.2-.323.353a3.833,3.833,0,0,1-.424.234l-.033,0c.031-.222.081-.534.092-.646.013-.139-.055-.149-.055-.149-.093-.011-.1.162-.1.162s-.024.149-.044.53l-.006.117a.974.974,0,0,0-.146.032c-.044.017-.066.038-.065.065s.028.054.075.053l.129-.01c-.018.342-.036.708-.036.75a.291.291,0,0,0,.019.131h0s.007.029.073.013a4.288,4.288,0,0,0,.591-.243c.269-.131.632-.318.632-.519s-.21-.276-.643-.294m-.086.757a2.738,2.738,0,0,1-.46.182c-.036.009-.037-.044-.037-.045.006-.146.031-.556.051-.74.172-.014.4-.032.54-.032.242,0,.468.045.468.185s-.317.33-.562.451' transform='translate(-107.457 -141.297)'/%3E%3Cpath id='패스_48' data-name='패스 48' d='M155.385,152.72c-.047,0-.122.037-.222.047s-.7.031-.7.031a1.888,1.888,0,0,0,.115-.226c.037-.1.094-.325-.005-.325s-.13.38-.215.555l-.55,0a1.4,1.4,0,0,0,.112-.308c0-.063-.033-.062-.045-.062s-.066,0-.139.12a1.618,1.618,0,0,0-.122.242s-.322-.013-.341-.016-.078,0-.088.04.06.053.137.058l.245.012s-.087.245-.1.3a2.914,2.914,0,0,1-.231.287.866.866,0,0,1-.334.235c-.054,0-.062-.066-.062-.066a.663.663,0,0,0,.143-.083.29.29,0,0,0,.148-.227.115.115,0,0,0-.114-.127.306.306,0,0,0-.209.117.491.491,0,0,0-.094.265l-.124.03a.085.085,0,0,0-.033-.078c-.042-.038-.132-.095-.132-.148s.06-.116.085-.148a.2.2,0,0,0,.049-.1c0-.025-.009-.049-.05-.049s-.261.235-.3.273-.2.168-.2.168-.189-.1-.189-.181.113-.159.18-.184.2-.066.2-.112-.041-.053-.067-.053a.614.614,0,0,0-.345.17,1.036,1.036,0,0,0-.207.366s-.024.048-.021.016.011-.156.013-.171.038-.136-.007-.147a.265.265,0,0,0-.178.011.546.546,0,0,0-.255.4c0,.154.112.141.119.141s.077,0,.152-.156c.028-.055.024-.064.039-.064s.013.015.017.047.018.173.081.173.077-.146.1-.222.061-.166.076-.166.049.066.1.107.108.086.108.086-.254.131-.254.2.213.045.313-.011.119-.114.112-.164.044-.061.086-.1.119-.112.127-.112,0,.033.022.066a.7.7,0,0,0,.123.12c.027.021.031.023.031.032s-.012.014-.025.016-.268.033-.268.107.224.07.24.07.156-.019.156-.121l.134-.03a.138.138,0,0,0,.147.153.478.478,0,0,0,.334-.2c.063-.07.185-.222.214-.241,0,0-.007.08-.007.13s.005.3.179.3.34-.249.425-.362a3.028,3.028,0,0,0,.186-.262.55.55,0,0,1,.112-.15c.013,0,.013.008.008.041s-.095.6-.1.659.009.083.047.083.055,0,.058-.068.117-.862.117-.862l.485-.009a4.232,4.232,0,0,0,.475-.019.077.077,0,0,0,.059-.08c0-.049-.039-.064-.086-.064m-2.443.628a.077.077,0,0,1,.081-.029c.039.027,0,.08-.012.1s-.118.12-.143.1.033-.129.074-.173m-1.483.007s-.146.33-.19.33-.024-.113.021-.2a.27.27,0,0,1,.152-.152c.044-.007.017.025.017.025m2.157.367c-.15-.037-.092-.421-.07-.48a2.469,2.469,0,0,1,.217-.35h.562c-.22.4-.589.86-.709.831' transform='translate(-144.99 -146.054)'/%3E%3Cpath id='패스_49' data-name='패스 49' d='M.183,48.5a.183.183,0,1,0,.183.183A.183.183,0,0,0,.183,48.5' transform='translate(0 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_50' data-name='패스 50' d='M55,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-52.582 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_51' data-name='패스 51' d='M26.494,22.058c-.564-.229-.271-1.162-.15-1.39a2.758,2.758,0,0,1-1.645.957c-.829,0-1.212-1.118-1.332-1.613-.12.5-.5,1.613-1.332,1.613a2.758,2.758,0,0,1-1.645-.957c.121.228.414,1.161-.15,1.39a3.892,3.892,0,0,1-1.89-.278A3.606,3.606,0,0,1,19.8,24.1a28.018,28.018,0,0,1,3.57-.257,28.018,28.018,0,0,1,3.57.257,3.606,3.606,0,0,1,1.448-2.325,3.892,3.892,0,0,1-1.89.278' transform='translate(-17.603 -19.197)' fill='%23e80a4d'/%3E%3Cpath id='패스_52' data-name='패스 52' d='M274.636,48.5a.183.183,0,1,0,.183.183.183.183,0,0,0-.183-.183' transform='translate(-263.289 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_53' data-name='패스 53' d='M219.824,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-210.706 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_54' data-name='패스 54' d='M137.409.367a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-131.644)' fill='%23e80a4d'/%3E%3C/g%3E%3Cg id='그룹_54' data-name='그룹 54' transform='translate(873 5057.797)'%3E%3Cg id='그룹_23' data-name='그룹 23' clip-path='url(%23clip-path-2)'%3E%3Cpath id='패스_26' data-name='패스 26' d='M28.891,53.406H6.847a1.5,1.5,0,0,1-1.495-1.378l-3-36.692a1.5,1.5,0,0,1,1.495-1.622H31.891a1.5,1.5,0,0,1,1.494,1.622l-3,36.692a1.5,1.5,0,0,1-1.494,1.378m-20.662-3H27.507l2.756-33.692H5.474Z' fill='%23be8e66'/%3E%3Cpath id='패스_27' data-name='패스 27' d='M34.236,16.714H1.5a1.5,1.5,0,0,1-1.5-1.5V8.356a1.5,1.5,0,0,1,1.5-1.5H34.236a1.5,1.5,0,0,1,1.5,1.5v6.858a1.5,1.5,0,0,1-1.5,1.5M3,13.714H32.736V9.857H3Z' fill='%23be8e66'/%3E%3Cpath id='패스_28' data-name='패스 28' d='M30.379,9.856H5.357A1.5,1.5,0,0,1,3.873,8.14l1-6.857A1.5,1.5,0,0,1,6.543.011l24.022,3A1.5,1.5,0,0,1,31.879,4.5V8.356a1.5,1.5,0,0,1-1.5,1.5m-23.287-3H28.879V5.823L7.63,3.169Z' fill='%23be8e66'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .f_link ul li.link03 a span::before {
    top: -10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='39' height='38.472' viewBox='0 0 39 38.472'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_24' data-name='사각형 24' width='11.531' height='8' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='사각형_106' data-name='사각형 106' width='39' height='38.472' transform='translate(0 0)' fill='%23be8e66'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_91' data-name='그룹 91' transform='translate(-1184 -5061.764)'%3E%3Cg id='그룹_51' data-name='그룹 51' transform='translate(1197.734 5070)'%3E%3Cg id='그룹_1' data-name='그룹 1' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M34.6,148.32c.18-.091.769-.337.769-.636s-.493-.393-.8-.432a5.02,5.02,0,0,0-.833-.036c-.229.011-.342.065-.342.128s.086.08.112.08a.294.294,0,0,0,.115-.033c.037-.02.049-.061.146-.074a2.874,2.874,0,0,1,.876.035c.537.108.517.283.519.332s-.024.163-.345.393a4.379,4.379,0,0,1-.7.391c0-.04.006-.076.009-.106.02-.193.093-.633.106-.767s-.07-.152-.07-.152c-.1-.009-.111.157-.111.157s-.012.144-.041.51c-.01.127-.016.275-.019.414-.033.017-.054.034-.047.061s.029.023.046.02c0,.228,0,.421,0,.45,0,.05.011.168.053.168s.053-.066.053-.148c0-.061.007-.316.018-.523.136-.062.368-.17.491-.232' transform='translate(-32.037 -141.223)'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M57.354,165.6c-.041-.018-.084.037-.169.18s-.317.629-.428.629,0-.307-.087-.314-.3.373-.39.373,0-.376-.068-.385-.31.359-.38.349c-.053-.007-.029-.177-.03-.287a.105.105,0,0,0-.11-.11c-.112,0-.25.087-.344.328s.092.378.249.126c0,0,.11-.18.11-.136s.013.194.095.194.17-.107.209-.15.134-.175.128-.11-.045.353.108.353c.1,0,.218-.194.243-.229s.13-.225.13-.138-.031.289.1.289.294-.355.349-.446a1.988,1.988,0,0,1,.162-.271,3.783,3.783,0,0,1-.07.461c-.018.105-.069.453.034.429s.041-.174.039-.227.034-.309.055-.438.105-.453.064-.471m-1.653.567s-.174.284-.224.284-.041-.1.039-.193.152-.111.174-.107.011.017.011.017' transform='translate(-53.073 -158.864)'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M113.05,148.183c-.119,0-.22-.005-.3,0,.25-.131.78-.362.78-.575,0-.2-.4-.274-.639-.3a3.969,3.969,0,0,0-.63-.005c-.175.007-.243.057-.243.1s.066.055.086.055a.247.247,0,0,0,.088-.023c.029-.014.048-.052.123-.062a2.311,2.311,0,0,1,.536-.016c.3.029.47.164.47.248s-.076.2-.323.353a3.833,3.833,0,0,1-.424.234l-.033,0c.031-.222.081-.534.092-.646.013-.139-.055-.149-.055-.149-.093-.011-.1.162-.1.162s-.024.149-.044.53l-.006.117a.974.974,0,0,0-.146.032c-.044.017-.066.038-.065.065s.028.054.075.053l.129-.01c-.018.342-.036.708-.036.75a.291.291,0,0,0,.019.131h0s.007.029.073.013a4.288,4.288,0,0,0,.591-.243c.269-.131.632-.318.632-.519s-.21-.276-.643-.294m-.086.757a2.738,2.738,0,0,1-.46.182c-.036.009-.037-.044-.037-.045.006-.146.031-.556.051-.74.172-.014.4-.032.54-.032.242,0,.468.045.468.185s-.317.33-.562.451' transform='translate(-107.457 -141.297)'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M155.385,152.72c-.047,0-.122.037-.222.047s-.7.031-.7.031a1.888,1.888,0,0,0,.115-.226c.037-.1.094-.325-.005-.325s-.13.38-.215.555l-.55,0a1.4,1.4,0,0,0,.112-.308c0-.063-.033-.062-.045-.062s-.066,0-.139.12a1.618,1.618,0,0,0-.122.242s-.322-.013-.341-.016-.078,0-.088.04.06.053.137.058l.245.012s-.087.245-.1.3a2.914,2.914,0,0,1-.231.287.866.866,0,0,1-.334.235c-.054,0-.062-.066-.062-.066a.663.663,0,0,0,.143-.083.29.29,0,0,0,.148-.227.115.115,0,0,0-.114-.127.306.306,0,0,0-.209.117.491.491,0,0,0-.094.265l-.124.03a.085.085,0,0,0-.033-.078c-.042-.038-.132-.095-.132-.148s.06-.116.085-.148a.2.2,0,0,0,.049-.1c0-.025-.009-.049-.05-.049s-.261.235-.3.273-.2.168-.2.168-.189-.1-.189-.181.113-.159.18-.184.2-.066.2-.112-.041-.053-.067-.053a.614.614,0,0,0-.345.17,1.036,1.036,0,0,0-.207.366s-.024.048-.021.016.011-.156.013-.171.038-.136-.007-.147a.265.265,0,0,0-.178.011.546.546,0,0,0-.255.4c0,.154.112.141.119.141s.077,0,.152-.156c.028-.055.024-.064.039-.064s.013.015.017.047.018.173.081.173.077-.146.1-.222.061-.166.076-.166.049.066.1.107.108.086.108.086-.254.131-.254.2.213.045.313-.011.119-.114.112-.164.044-.061.086-.1.119-.112.127-.112,0,.033.022.066a.7.7,0,0,0,.123.12c.027.021.031.023.031.032s-.012.014-.025.016-.268.033-.268.107.224.07.24.07.156-.019.156-.121l.134-.03a.138.138,0,0,0,.147.153.478.478,0,0,0,.334-.2c.063-.07.185-.222.214-.241,0,0-.007.08-.007.13s.005.3.179.3.34-.249.425-.362a3.028,3.028,0,0,0,.186-.262.55.55,0,0,1,.112-.15c.013,0,.013.008.008.041s-.095.6-.1.659.009.083.047.083.055,0,.058-.068.117-.862.117-.862l.485-.009a4.232,4.232,0,0,0,.475-.019.077.077,0,0,0,.059-.08c0-.049-.039-.064-.086-.064m-2.443.628a.077.077,0,0,1,.081-.029c.039.027,0,.08-.012.1s-.118.12-.143.1.033-.129.074-.173m-1.483.007s-.146.33-.19.33-.024-.113.021-.2a.27.27,0,0,1,.152-.152c.044-.007.017.025.017.025m2.157.367c-.15-.037-.092-.421-.07-.48a2.469,2.469,0,0,1,.217-.35h.562c-.22.4-.589.86-.709.831' transform='translate(-144.99 -146.054)'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M.183,48.5a.183.183,0,1,0,.183.183A.183.183,0,0,0,.183,48.5' transform='translate(0 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M55,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-52.582 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M26.494,22.058c-.564-.229-.271-1.162-.15-1.39a2.758,2.758,0,0,1-1.645.957c-.829,0-1.212-1.118-1.332-1.613-.12.5-.5,1.613-1.332,1.613a2.758,2.758,0,0,1-1.645-.957c.121.228.414,1.161-.15,1.39a3.892,3.892,0,0,1-1.89-.278A3.606,3.606,0,0,1,19.8,24.1a28.018,28.018,0,0,1,3.57-.257,28.018,28.018,0,0,1,3.57.257,3.606,3.606,0,0,1,1.448-2.325,3.892,3.892,0,0,1-1.89.278' transform='translate(-17.603 -19.197)' fill='%23e80a4d'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M274.636,48.5a.183.183,0,1,0,.183.183.183.183,0,0,0-.183-.183' transform='translate(-263.289 -46.523)' fill='%23e80a4d'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M219.824,19.178a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-210.706 -18.046)' fill='%23e80a4d'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M137.409.367a.183.183,0,1,0-.183-.183.183.183,0,0,0,.183.183' transform='translate(-131.644)' fill='%23e80a4d'/%3E%3C/g%3E%3C/g%3E%3Cg id='그룹_52' data-name='그룹 52' transform='translate(1184 5061.764)'%3E%3Cg id='그룹_26' data-name='그룹 26' clip-path='url(%23clip-path-2)'%3E%3Cpath id='패스_29' data-name='패스 29' d='M37.5,22.846H1.5a1.5,1.5,0,0,1,0-3h36a1.5,1.5,0,0,1,0,3' fill='%23be8e66'/%3E%3Cpath id='패스_30' data-name='패스 30' d='M29.588,38.472H9.412a1.5,1.5,0,0,1,0-3H29.588a1.5,1.5,0,0,1,0,3' fill='%23be8e66'/%3E%3Cpath id='패스_31' data-name='패스 31' d='M19.5,38.472a1.5,1.5,0,0,1-1.5-1.5V26.7a1.5,1.5,0,0,1,3,0V36.972a1.5,1.5,0,0,1-1.5,1.5' fill='%23be8e66'/%3E%3Cpath id='패스_32' data-name='패스 32' d='M37.5,28.2H1.5A1.5,1.5,0,0,1,0,26.7V1.5A1.5,1.5,0,0,1,1.5,0h36A1.5,1.5,0,0,1,39,1.5V26.7a1.5,1.5,0,0,1-1.5,1.5M3,25.2H36V3H3Z' fill='%23be8e66'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .f_sub01 {
    display: flex;
    align-items: center;
    margin : 120px 0 70px 0;
} 
.footer .f_logo {
    margin-right: 60px;
}
.footer .f_nav ul {
    display: flex;
}
.footer .f_nav ul li {
    padding: 0 30px;
    position: relative;
}
.footer .f_nav ul li.privacy {
    color: #FFB014;
    font-weight: 700;
}
.footer .f_nav ul li::before {
    position: absolute;
    right: 0;
    top: 3px;
    content: "";
    width: 1px;
    height: 13px;
    background-color: #707070;
    transform: rotate(20deg);
}
.footer .f_nav ul li:last-child::before {
    display: none;
}
.footer .f_nav ul li a {
    display: block;
}
.footer .f_sub02 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .f_sub02 .f_info {
    display: flex;
}
.footer .f_sub02 .f_info ul {
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
}
.footer .f_sub02 .f_info ul li {
    margin-bottom: 35px;
}
.footer .f_sub02 .f_info .info01 {
    width: 12.778rem;
}
.footer .f_sub02 .f_info .info02 {
    width: 17.222rem;
}
.footer .f_sub02 .f_info .info03 {
    width: 26.278rem;
}
.footer .f_sub02 .f_info .info01 ul li strong, .footer .f_sub02 .f_info .info03 ul li strong {
    width: 5.167rem;
    display: inline-block;
}
.footer .f_sub02 .f_info .info02 ul li strong {
    width: 8.722rem;
    display: inline-block;
}
.footer .f_sub02 .f_social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer .f_sub02 .f_sns ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 23px;
}
.footer .f_sub02 .f_sns ul li {
    margin-left: 15px;
}
.footer .f_sub02 .f_sns ul li a {
    display: block;
}
.footer .f_sub02 .f_sns ul li a img {
    width: 30px;
}
@media screen and (max-width:1024px) {
    .footer .f_sub02 {
        display: block;
    }
    .footer .f_sub02 .copyright {
        text-align: right;
    }
}
@media screen and (max-width:768px) {
    .footer {
        padding: 80px 0 90px 0;
    }
    .footer .f_link ul li {
        background-color: transparent;
        padding-bottom: 30px;
        border-radius: 0;
        border-bottom: 1px solid #fff;
        margin: 0;
    }
    .footer .f_link ul li a {
        height: 100%;
        color: #fff;
        text-align: center;
        justify-content: center;
    }
    .footer .f_link ul li a br {
        display: none;
    }
    .footer .f_link ul li a span {
        padding: 123px 0 0 0;
    }
    .footer .f_link ul li a span::before {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .footer .f_link ul li.link01 a span::before, .footer .f_link ul li.link02 a span::before {
        top: 30px;
    }
    .footer .f_link ul li.link03 a span::before {
        top: 45px;
    }
    .footer .f_sub01 {
        margin: 60px 0 70px 0;
        flex-direction: column;
        align-items: flex-start
    }
    .footer .f_sub01 .f_logo img {
        width: 70%;
    }
    .footer .f_sub01 .f_logo {
        margin: 0 0 20px 30px;
    }
    .footer .f_sub02 {
        margin: 0 30px;
    }
    .footer .f_sub02 .f_info {
        display: block;
    }
}
@media screen and (max-width:500px) {
    .footer {
        padding: 60px 0 70px 0;
    }
    .footer .f_nav ul {
        flex-wrap: wrap;
    }
    .footer .f_nav ul li {
        line-height: 2;
    }
    .footer .f_nav ul li::before {
        top: 8px;
    }
    .footer .f_sub01 {
        margin: 40px 0 50px 0;
    }
    .footer .f_link ul li a span {
        padding-top: 90px;
    }
    .footer .f_link ul li a span::before {
        width: 30px;
        height: 50px;
    }
    .footer .f_link ul li.link03 a span::before {
        top: 40px;
    }
}
@media screen and (max-width:425px) {
    .footer {
        padding: 40px 0 50px 0;
        font-size: 0.833rem;
    }
    .footer .f_sub01 {
        margin: 30px 0 35px 0;
    }
    .footer .f_sub01 .f_logo {
        margin: 0 0 15px 0;
    }
    .footer .f_nav ul li {
        padding: 0 15px 0 0;
    }
    .footer .f_nav ul li::before {
        right: 6px;
        top: 5px;
    }
    .footer .f_sub02 {
        margin: 0;
    }
    .footer .f_sub02 .f_info ul li {
        display: flex;
    }
}