@charset "utf-8";
@import url(defalt.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 500;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1280px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다 브라우저 넓이가 작을 때
    가로스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김.
    가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스 하기 위해서 최소 넓이를 입력 */
}

@media screen and (max-width:640px) {
    html, body {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.2;
    }
    .wrapper {
        width: auto; 
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에*/
        margin: 0 20px; 
        /* 그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
    }
    #wrap { /*id="wrap"에 적용되는 스타일 */
        min-width: auto;
        /* 홈페이지의 최소넓이를 제한하지 않음 */
    }    
} /*media*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    width: 100%;
    color: #fff;
}
.header .logo {
    float: left;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center
}
.header .gnb_open {
    display: none;
}
.header .gnb ul {
    display: flex;
}

.visual {
    height: 100vh;
    min-height: 400px;
    color: #fff;
    background: url(../images/visual_bg.png) no-repeat center center/cover;
}
.visual h2 {
    font-size: 80px;
    font-weight: 700; 
    line-height: 1.3;
    padding-top: calc(50vh - 122px);
}

@media screen and (max-width:640px) {
    .visual {
        height: 300px;
        min-height: auto;
        background: url(../images/visual_bg.png) no-repeat center center/cover;
    }
    .visual h2 {
        font-size: 22px;
        line-height: 1.5;
        padding-top: 121px;
    }
}/*media*/