/* 웹폰트 적용하는 방법 -  웹폰트란 이 폰트가 깔려있지 않은 이용자가 보이도록 사용하는 방법*/
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

body {
    font-family: 'Pretendard', serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.05em;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1280px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* pc형에서 wrapper사이즈보다 브라우저 넓이가 작을 때
    가로스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김.
    가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스 하기 위해서 최소 넓이를 입력 */
}
* {
    padding: 0;   /* 모든 태그의 여백 삭제 */
    margin: 0;
    box-sizing: border-box;
    /* padding하고 border는 넒이를 늘리는 요소인데 
    넓이를 늘리지 않도록 하는 속성 */
}
ul, ol, li {
    list-style: none;
}
a { /* a태그는 파란색에 underline이 기본적으로 생성됨 */
    text-decoration: none; /* underline제거 */
    color: inherit;
}
.header {
    height: 100px;
}
.header .logo {
    float: left;
    /* 내 자신이 감싸는 영역의 왼쪽으로 이동 */
    margin: 21px 0 0 0;
}
.header .gnb {
    float: right;
    /* 내 자신이 감싸는 영역의 오른쪽으로 이동 */
}
.header .gnb ul {
    display: flex;
    /* 내 자식 요소들이 좌우로 배치됨 */
}
.header .gnb ul li a {
    font-size: 19px;
    color: #1d1d1d;
    padding: 38px 18px 35px 18px;
    display: block;
    /* a태그는 inline태그라서 padding이 적용되지 않음.
    block 태그로 변경하여 값이 적용되도록 함.
    header의 높이가 100px이라 a태그의 높이가 100px을 넘으면 안됨 */
}

.visual {
    height: 750px;
    background: url(../images/visual_bg.png) center center no-repeat;
    /* 배경에 큰 이미지를 넣는다고 이미지가 모두 다 보이는 것은 아님
    배경이 모두 보이려면 반드시 영역에 높이를 줘야함. */
    color: #fff;
}
.visual strong {
    font-size: 15px;
    padding: 210px 0 0 114px;
    font-weight: inherit;
    display: block;
    letter-spacing: -0.01em;
}
.visual h2 {
    font-size: 40px;
    padding: 3px 0 0 110px;
    display: block;
    font-weight: inherit;
}
.visual h2 em {
    font-weight: 700;
    font-style: normal;
}
.biz h2 {
    font-size: 40px;
    text-align: center;
    margin: 135px 0 100px 0;
}
/* .biz .art와 .biz .edu 둘다에게 동일스타일을 적용할 때 사용 - 다중선택자 */
.biz .art, .biz .edu {
    display: flex; /*inner와 img가 좌우로 배치*/
    /* justify-content: space-evenly; */
}
/* .biz .edu {
    text-align: right;
} */
.biz .art {
    margin: 0 0 135px 109px;
}
.biz .edu {
    justify-content: flex-end;
    text-align: right;
    margin: 0 109px 0 0;
}
.biz .art .inner {
    margin: 0 0 0 100px;
}
.biz .edu .inner {
    margin: 0 130px 0 0;
}
/* 아트센터와 이구열 장학재단 h2를 한꺼번에 스타일 줄 수 있음.
    어차피 스타일이 동일하기 때문에 각자를 감싸는 영역 art edu를 빼고 호출
    .inner도 선택자로 잘 안부르는 편 */
.biz h3 {
    font-size: 34px;
    font-weight: 700;
    margin: 82px 0 0 0;
}
.biz .sub_tit {
    font-size: 22px;
    color: #2d2d2d;
    margin: 0 0 8px 0;
    line-height: 1.3;
}
.biz .btn_wrap {
    margin: 15px 0 0 0;
}
.biz .btn_wrap a {
    border: 1px solid rgba(61, 61, 61, 0.8);
    padding: 12px 20px 12px 20px;
    display: inline-block;
    /*padding값을 적용시키기 위해 display:block;을 주지만
    가로 100%로 넓어져서 display: inline-block;으로 변경
    display: inline-block;은 내가 주지 않은 여백이 좌우에 들어감.
    그 여백을 감안하고 좌우여백을 주면됨. */
}
.biz .art .btn_wrap a {
    margin: 0 5px 0 0;
}
.biz .art .btn_wrap a {
    margin: 0 0 0 5px;
}