/*
    파일명 : layout.css
    작성자 : 지혜인
    작성일 : 2024.02.28
    속  성 : 모든 페이지의 레이아웃 요소 ( header / footer  레이아웃 요소)  
            메뉴명, sub_visual 이미지 스타일, 탭메뉴   
*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*align-items: center;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}
.header .logo {
    margin: 18px 0 0 45px;
}
.header .logo a {
    width: 100px;
    height: 42.5px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
.header .gnb {
    margin-left: 20px;
}
.header .gnb .h_tit {
    display: none;
}
.header .gnb .gnb_open, .header .gnb .gnb_close {
    display: none; /*모바일에서만 나옴*/
}
.header .gnb ul.depth01 {
    display: flex;
    text-align: center;
}
.header .gnb ul.depth01 > li {
    width: 150px;
}
.header .gnb ul.depth01 > li > a {
    display: block;
}
.header .gnb ul.depth01 > li > a span {
    line-height: 100px;
    font-size: 22px;
    font-weight: 700;
}
.header .gnb ul.depth02 {/*메뉴 오버하면 나옴*/
    display: none;
    height: 451px; /*메뉴 오버했을 때의 배경의 높이 - header 값은 depth02 li의 높이*/
}
.header .gnb ul.depth02 > li > a {
    display: block;
    line-height: 45px;
    font-size: 18px;
}
.header .gnb ul.depth02 > li > a[target="_blank"] span {
    position: relative;
}
.header .gnb ul.depth02 > li > a[target="_blank"] span::after {
    position: absolute; 
    right: -20px;
    top: 2px;
    width: 18px;
    height: 18px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 15.75C3.3375 15.75 2.98438 15.6031 2.69063 15.3094C2.39687 15.0156 2.25 14.6625 2.25 14.25V3.75C2.25 3.3375 2.39687 2.98438 2.69063 2.69063C2.98438 2.39687 3.3375 2.25 3.75 2.25H9V3.75H3.75V14.25H14.25V9H15.75V14.25C15.75 14.6625 15.6031 15.0156 15.3094 15.3094C15.0156 15.6031 14.6625 15.75 14.25 15.75H3.75ZM7.275 11.775L6.225 10.725L13.2 3.75H10.5V2.25H15.75V7.5H14.25V4.8L7.275 11.775Z' fill='%23A91918'/%3E%3C/svg%3E ");
}
.header .tnb {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.header .tnb .lang {
    padding: 0 0 0 20px;
    position: relative;
    margin: 38px 15px 0 0;
}
.header .tnb .lang::before {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 15px;
    height: 15px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.75C6.64583 13.75 5.83854 13.5859 5.07812 13.2578C4.31771 12.9297 3.65365 12.4818 3.08594 11.9141C2.51823 11.3464 2.07031 10.6823 1.74219 9.92188C1.41406 9.16146 1.25 8.35417 1.25 7.5C1.25 6.63542 1.41406 5.82552 1.74219 5.07031C2.07031 4.3151 2.51823 3.65365 3.08594 3.08594C3.65365 2.51823 4.31771 2.07031 5.07812 1.74219C5.83854 1.41406 6.64583 1.25 7.5 1.25C8.36458 1.25 9.17448 1.41406 9.92969 1.74219C10.6849 2.07031 11.3464 2.51823 11.9141 3.08594C12.4818 3.65365 12.9297 4.3151 13.2578 5.07031C13.5859 5.82552 13.75 6.63542 13.75 7.5C13.75 8.35417 13.5859 9.16146 13.2578 9.92188C12.9297 10.6823 12.4818 11.3464 11.9141 11.9141C11.3464 12.4818 10.6849 12.9297 9.92969 13.2578C9.17448 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.4688C7.77083 12.0938 8.00521 11.7031 8.20312 11.2969C8.40104 10.8906 8.5625 10.4583 8.6875 10H6.3125C6.4375 10.4583 6.59896 10.8906 6.79688 11.2969C6.99479 11.7031 7.22917 12.0938 7.5 12.4688ZM5.875 12.2188C5.6875 11.875 5.52344 11.5182 5.38281 11.1484C5.24219 10.7786 5.125 10.3958 5.03125 10H3.1875C3.48958 10.5208 3.86719 10.974 4.32031 11.3594C4.77344 11.7448 5.29167 12.0312 5.875 12.2188ZM9.125 12.2188C9.70833 12.0312 10.2266 11.7448 10.6797 11.3594C11.1328 10.974 11.5104 10.5208 11.8125 10H9.96875C9.875 10.3958 9.75781 10.7786 9.61719 11.1484C9.47656 11.5182 9.3125 11.875 9.125 12.2188ZM2.65625 8.75H4.78125C4.75 8.54167 4.72656 8.33594 4.71094 8.13281C4.69531 7.92969 4.6875 7.71875 4.6875 7.5C4.6875 7.28125 4.69531 7.07031 4.71094 6.86719C4.72656 6.66406 4.75 6.45833 4.78125 6.25H2.65625C2.60417 6.45833 2.5651 6.66406 2.53906 6.86719C2.51302 7.07031 2.5 7.28125 2.5 7.5C2.5 7.71875 2.51302 7.92969 2.53906 8.13281C2.5651 8.33594 2.60417 8.54167 2.65625 8.75ZM6.03125 8.75H8.96875C9 8.54167 9.02344 8.33594 9.03906 8.13281C9.05469 7.92969 9.0625 7.71875 9.0625 7.5C9.0625 7.28125 9.05469 7.07031 9.03906 6.86719C9.02344 6.66406 9 6.45833 8.96875 6.25H6.03125C6 6.45833 5.97656 6.66406 5.96094 6.86719C5.94531 7.07031 5.9375 7.28125 5.9375 7.5C5.9375 7.71875 5.94531 7.92969 5.96094 8.13281C5.97656 8.33594 6 8.54167 6.03125 8.75ZM10.2188 8.75H12.3438C12.3958 8.54167 12.4349 8.33594 12.4609 8.13281C12.487 7.92969 12.5 7.71875 12.5 7.5C12.5 7.28125 12.487 7.07031 12.4609 6.86719C12.4349 6.66406 12.3958 6.45833 12.3438 6.25H10.2188C10.25 6.45833 10.2734 6.66406 10.2891 6.86719C10.3047 7.07031 10.3125 7.28125 10.3125 7.5C10.3125 7.71875 10.3047 7.92969 10.2891 8.13281C10.2734 8.33594 10.25 8.54167 10.2188 8.75ZM9.96875 5H11.8125C11.5104 4.47917 11.1328 4.02604 10.6797 3.64062C10.2266 3.25521 9.70833 2.96875 9.125 2.78125C9.3125 3.125 9.47656 3.48177 9.61719 3.85156C9.75781 4.22135 9.875 4.60417 9.96875 5ZM6.3125 5H8.6875C8.5625 4.54167 8.40104 4.10938 8.20312 3.70312C8.00521 3.29688 7.77083 2.90625 7.5 2.53125C7.22917 2.90625 6.99479 3.29688 6.79688 3.70312C6.59896 4.10938 6.4375 4.54167 6.3125 5ZM3.1875 5H5.03125C5.125 4.60417 5.24219 4.22135 5.38281 3.85156C5.52344 3.48177 5.6875 3.125 5.875 2.78125C5.29167 2.96875 4.77344 3.25521 4.32031 3.64062C3.86719 4.02604 3.48958 4.47917 3.1875 5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .lang a {
    display: block;
}
.header .tnb .lang span:hover {
    border-bottom: 1px solid #fff;
}
.header .tnb .link {
    padding: 7px 35px 7px 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 31px 30px 0 0;
    position: relative;
}
.header .tnb .link::before {
    position: absolute;
    right: 11px;
    top: 7px;
    width: 20px;
    height: 20px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .link a {
    display: block;
}
.header .tnb .link:hover {
    background-color: #C40D3F;
    border: 2px solid #C40D3F;
    transition: 0.4s;
}

/*********** 메뉴에 오버했을 때  -- Start ***********/
@media screen and (min-width:1025px) {
    .header.menu_over {
        color: #1d1d1d;
        transition: 0.6s;
    }
    .header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;/*맨 아래*/
        width: 100%;
        height: 551px;
        background-color: #fff;
        content: "";
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
    .header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        z-index: -1;/*맨 아래*/
        width: 100%;
        height: 1px;
        background-color: rgba(61, 61, 61, 0.6);
        content: "";
    }
    .header.menu_over .logo a {
        background: url(../images/common/logo_b.svg) no-repeat center center / contain;
    }
    .header.menu_over .gnb {
        position: relative;
    }
    .header.menu_over .gnb .h_tit {
        display: block;
        position: absolute;
        right: calc(50% + 375px);
        top: 112px;
        margin-right: 26px;
        font-size: 36px;
        letter-spacing: -0.08em;
        line-height: 1.2;
        color: #aaa;
        white-space: nowrap;
    }
    .header .gnb ul.depth01 > li.on > a span, .header .gnb ul.depth01 > li[data-menu="on"] > a span {/*li에 on class 추가----중요!!*/
        padding: 16px 16px;
        position: relative;
    }
    .header.menu_over .gnb ul.depth01 > li.on > a span::after {
        position: absolute;
        right: 0;
        top: 10px;
        width: 12px;
        height: 11px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.519 11C7.37496 11 7.2274 10.9766 7.08336 10.9298C6.4053 10.7025 6.05398 9.99393 6.29288 9.34884L8.55891 3.26897L1.73622 5.56522C1.05817 5.7925 0.316877 5.45492 0.0744637 4.80983C-0.164436 4.16474 0.190401 3.45949 0.868454 3.22886L10.2663 0.0702713C10.7406 -0.0868226 11.2641 0.0234774 11.6189 0.361062C11.9738 0.698647 12.0932 1.20001 11.9246 1.6479L8.74511 10.1711C8.5554 10.6791 8.05301 10.9933 7.519 10.9967V11Z' fill='%23ED2224'/%3E%3C/svg%3E ");
    }
    .header .gnb ul.depth01 > li.on > a span::before, .header .gnb ul.depth01 > li[data-menu="on"] > a span::before {
        position: absolute;
        right: 0;
        top: 74px;
        width: 100%;
        height: 5px;
        content: "";
        background-color: #A91918;
    }
    .header.menu_over .gnb ul.depth02 {
        display: block;
        padding-top: 12px;
    }
    .header.menu_over .gnb ul.depth01 > li:first-child > ul.depth02 {
        border-left: 1px solid rgba(61, 61, 61, 0.6);
    }
    .header .gnb ul.depth02 > li > a:hover, .header .gnb ul.depth02 > li.on > a, .header .gnb ul.depth02 > li[data-menu="on"] > a  {
        font-weight: 700;
    }
    .header.menu_over .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.75C6.64583 13.75 5.83854 13.5859 5.07812 13.2578C4.31771 12.9297 3.65365 12.4818 3.08594 11.9141C2.51823 11.3464 2.07031 10.6823 1.74219 9.92188C1.41406 9.16146 1.25 8.35417 1.25 7.5C1.25 6.63542 1.41406 5.82552 1.74219 5.07031C2.07031 4.3151 2.51823 3.65365 3.08594 3.08594C3.65365 2.51823 4.31771 2.07031 5.07812 1.74219C5.83854 1.41406 6.64583 1.25 7.5 1.25C8.36458 1.25 9.17448 1.41406 9.92969 1.74219C10.6849 2.07031 11.3464 2.51823 11.9141 3.08594C12.4818 3.65365 12.9297 4.3151 13.2578 5.07031C13.5859 5.82552 13.75 6.63542 13.75 7.5C13.75 8.35417 13.5859 9.16146 13.2578 9.92188C12.9297 10.6823 12.4818 11.3464 11.9141 11.9141C11.3464 12.4818 10.6849 12.9297 9.92969 13.2578C9.17448 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.4688C7.77083 12.0938 8.00521 11.7031 8.20312 11.2969C8.40104 10.8906 8.5625 10.4583 8.6875 10H6.3125C6.4375 10.4583 6.59896 10.8906 6.79688 11.2969C6.99479 11.7031 7.22917 12.0938 7.5 12.4688ZM5.875 12.2188C5.6875 11.875 5.52344 11.5182 5.38281 11.1484C5.24219 10.7786 5.125 10.3958 5.03125 10H3.1875C3.48958 10.5208 3.86719 10.974 4.32031 11.3594C4.77344 11.7448 5.29167 12.0312 5.875 12.2188ZM9.125 12.2188C9.70833 12.0312 10.2266 11.7448 10.6797 11.3594C11.1328 10.974 11.5104 10.5208 11.8125 10H9.96875C9.875 10.3958 9.75781 10.7786 9.61719 11.1484C9.47656 11.5182 9.3125 11.875 9.125 12.2188ZM2.65625 8.75H4.78125C4.75 8.54167 4.72656 8.33594 4.71094 8.13281C4.69531 7.92969 4.6875 7.71875 4.6875 7.5C4.6875 7.28125 4.69531 7.07031 4.71094 6.86719C4.72656 6.66406 4.75 6.45833 4.78125 6.25H2.65625C2.60417 6.45833 2.5651 6.66406 2.53906 6.86719C2.51302 7.07031 2.5 7.28125 2.5 7.5C2.5 7.71875 2.51302 7.92969 2.53906 8.13281C2.5651 8.33594 2.60417 8.54167 2.65625 8.75ZM6.03125 8.75H8.96875C9 8.54167 9.02344 8.33594 9.03906 8.13281C9.05469 7.92969 9.0625 7.71875 9.0625 7.5C9.0625 7.28125 9.05469 7.07031 9.03906 6.86719C9.02344 6.66406 9 6.45833 8.96875 6.25H6.03125C6 6.45833 5.97656 6.66406 5.96094 6.86719C5.94531 7.07031 5.9375 7.28125 5.9375 7.5C5.9375 7.71875 5.94531 7.92969 5.96094 8.13281C5.97656 8.33594 6 8.54167 6.03125 8.75ZM10.2188 8.75H12.3438C12.3958 8.54167 12.4349 8.33594 12.4609 8.13281C12.487 7.92969 12.5 7.71875 12.5 7.5C12.5 7.28125 12.487 7.07031 12.4609 6.86719C12.4349 6.66406 12.3958 6.45833 12.3438 6.25H10.2188C10.25 6.45833 10.2734 6.66406 10.2891 6.86719C10.3047 7.07031 10.3125 7.28125 10.3125 7.5C10.3125 7.71875 10.3047 7.92969 10.2891 8.13281C10.2734 8.33594 10.25 8.54167 10.2188 8.75ZM9.96875 5H11.8125C11.5104 4.47917 11.1328 4.02604 10.6797 3.64062C10.2266 3.25521 9.70833 2.96875 9.125 2.78125C9.3125 3.125 9.47656 3.48177 9.61719 3.85156C9.75781 4.22135 9.875 4.60417 9.96875 5ZM6.3125 5H8.6875C8.5625 4.54167 8.40104 4.10938 8.20312 3.70312C8.00521 3.29688 7.77083 2.90625 7.5 2.53125C7.22917 2.90625 6.99479 3.29688 6.79688 3.70312C6.59896 4.10938 6.4375 4.54167 6.3125 5ZM3.1875 5H5.03125C5.125 4.60417 5.24219 4.22135 5.38281 3.85156C5.52344 3.48177 5.6875 3.125 5.875 2.78125C5.29167 2.96875 4.77344 3.25521 4.32031 3.64062C3.86719 4.02604 3.48958 4.47917 3.1875 5Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb .lang span:hover {
        border-bottom: 1px solid #2d2d2d;
    }
    .header.menu_over .tnb .link {
        border: 2px solid #2d2d2d;
    }
    .header.menu_over .tnb .link::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb .link:hover {
        border: 2px solid #C40D3F;
        color: #fff;
    }
    .header.menu_over .tnb .link:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='white'/%3E%3C/svg%3E%0A");
        transition: 0.4s;
    }
}
/*********** 메뉴에 오버했을 때  -- End ***********/

/*********** 메뉴에 상단에 고정했을 때  -- start ***********/
.header.fixed {
    color: #1d1d1d;
    background-color: #fff;
}
.header.fixed .logo a {
    background: url(../images/common/logo_b.svg) no-repeat center center / contain;
}
.header.fixed .tnb .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.75C6.64583 13.75 5.83854 13.5859 5.07812 13.2578C4.31771 12.9297 3.65365 12.4818 3.08594 11.9141C2.51823 11.3464 2.07031 10.6823 1.74219 9.92188C1.41406 9.16146 1.25 8.35417 1.25 7.5C1.25 6.63542 1.41406 5.82552 1.74219 5.07031C2.07031 4.3151 2.51823 3.65365 3.08594 3.08594C3.65365 2.51823 4.31771 2.07031 5.07812 1.74219C5.83854 1.41406 6.64583 1.25 7.5 1.25C8.36458 1.25 9.17448 1.41406 9.92969 1.74219C10.6849 2.07031 11.3464 2.51823 11.9141 3.08594C12.4818 3.65365 12.9297 4.3151 13.2578 5.07031C13.5859 5.82552 13.75 6.63542 13.75 7.5C13.75 8.35417 13.5859 9.16146 13.2578 9.92188C12.9297 10.6823 12.4818 11.3464 11.9141 11.9141C11.3464 12.4818 10.6849 12.9297 9.92969 13.2578C9.17448 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.4688C7.77083 12.0938 8.00521 11.7031 8.20312 11.2969C8.40104 10.8906 8.5625 10.4583 8.6875 10H6.3125C6.4375 10.4583 6.59896 10.8906 6.79688 11.2969C6.99479 11.7031 7.22917 12.0938 7.5 12.4688ZM5.875 12.2188C5.6875 11.875 5.52344 11.5182 5.38281 11.1484C5.24219 10.7786 5.125 10.3958 5.03125 10H3.1875C3.48958 10.5208 3.86719 10.974 4.32031 11.3594C4.77344 11.7448 5.29167 12.0312 5.875 12.2188ZM9.125 12.2188C9.70833 12.0312 10.2266 11.7448 10.6797 11.3594C11.1328 10.974 11.5104 10.5208 11.8125 10H9.96875C9.875 10.3958 9.75781 10.7786 9.61719 11.1484C9.47656 11.5182 9.3125 11.875 9.125 12.2188ZM2.65625 8.75H4.78125C4.75 8.54167 4.72656 8.33594 4.71094 8.13281C4.69531 7.92969 4.6875 7.71875 4.6875 7.5C4.6875 7.28125 4.69531 7.07031 4.71094 6.86719C4.72656 6.66406 4.75 6.45833 4.78125 6.25H2.65625C2.60417 6.45833 2.5651 6.66406 2.53906 6.86719C2.51302 7.07031 2.5 7.28125 2.5 7.5C2.5 7.71875 2.51302 7.92969 2.53906 8.13281C2.5651 8.33594 2.60417 8.54167 2.65625 8.75ZM6.03125 8.75H8.96875C9 8.54167 9.02344 8.33594 9.03906 8.13281C9.05469 7.92969 9.0625 7.71875 9.0625 7.5C9.0625 7.28125 9.05469 7.07031 9.03906 6.86719C9.02344 6.66406 9 6.45833 8.96875 6.25H6.03125C6 6.45833 5.97656 6.66406 5.96094 6.86719C5.94531 7.07031 5.9375 7.28125 5.9375 7.5C5.9375 7.71875 5.94531 7.92969 5.96094 8.13281C5.97656 8.33594 6 8.54167 6.03125 8.75ZM10.2188 8.75H12.3438C12.3958 8.54167 12.4349 8.33594 12.4609 8.13281C12.487 7.92969 12.5 7.71875 12.5 7.5C12.5 7.28125 12.487 7.07031 12.4609 6.86719C12.4349 6.66406 12.3958 6.45833 12.3438 6.25H10.2188C10.25 6.45833 10.2734 6.66406 10.2891 6.86719C10.3047 7.07031 10.3125 7.28125 10.3125 7.5C10.3125 7.71875 10.3047 7.92969 10.2891 8.13281C10.2734 8.33594 10.25 8.54167 10.2188 8.75ZM9.96875 5H11.8125C11.5104 4.47917 11.1328 4.02604 10.6797 3.64062C10.2266 3.25521 9.70833 2.96875 9.125 2.78125C9.3125 3.125 9.47656 3.48177 9.61719 3.85156C9.75781 4.22135 9.875 4.60417 9.96875 5ZM6.3125 5H8.6875C8.5625 4.54167 8.40104 4.10938 8.20312 3.70312C8.00521 3.29688 7.77083 2.90625 7.5 2.53125C7.22917 2.90625 6.99479 3.29688 6.79688 3.70312C6.59896 4.10938 6.4375 4.54167 6.3125 5ZM3.1875 5H5.03125C5.125 4.60417 5.24219 4.22135 5.38281 3.85156C5.52344 3.48177 5.6875 3.125 5.875 2.78125C5.29167 2.96875 4.77344 3.25521 4.32031 3.64062C3.86719 4.02604 3.48958 4.47917 3.1875 5Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb .lang span:hover {
    border-bottom: 1px solid #2d2d2d;
}
.header.fixed .tnb .link {
    border: 2px solid #2d2d2d;
}
.header.fixed .tnb .link::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb .link:hover {
    border: 2px solid #C40D3F;
    color: #fff;
}
.header.fixed .tnb .link:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.4s;
}
/*********** 메뉴에 상단에 고정했을 때  -- End ***********/
@media screen and (max-width:1320px) {
    .header.menu_over .gnb .h_tit {
        margin-right: 27px;
        font-size: 24px;
        line-height: 1.6;
    }
}
@media screen and (max-width:1024px) {
    .header.menu_open {
        z-index: 101;
    }
    .header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        background-color: #fff;
        color: #1d1d1d;
    }
    .header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    .header .gnb .gnb_open {
        display: block;
        background-size: 36px auto;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16V13.3333H24V16H0ZM0 9.33333V6.66667H24V9.33333H0ZM0 2.66667V0H24V2.66667H0Z' fill='white'/%3E%3C/svg%3E ");
    }
    .header .gnb .gnb_open ,.header .gnb .gnb_close {
        position: absolute;
        right: 20px;
        top: 0;
        width: 100px;
        height: 100%;/*header 높이 만큼*/
        font-size: 0;
        line-height: 0;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .header .gnb .gnb_close {
        background-size: 32px auto;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.6 21.5L0.5 19.4L8.9 11L0.5 2.6L2.6 0.5L11 8.9L19.4 0.5L21.5 2.6L13.1 11L21.5 19.4L19.4 21.5L11 13.1L2.6 21.5Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
    }
    .header .gnb ul.depth01 {
        display: block;
        text-align: left;
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        padding-top: 20px;
    }
    .header .gnb ul.depth01 > li {
        width: 100%;
    }
    .header .gnb ul.depth01 > li > a span {
        padding-left: 80px;
        line-height: 80px;
        font-size: 26px;
        white-space: nowrap;
    }
    .header .gnb ul.depth01 > li > a {
        position: relative;
    }
    .header .gnb ul.depth01 > li > a::after {
        position: absolute;
        right: 80px;
        top: 30px;
        width: 20px;
        height: 20px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.09364L0.5 1.59364L1.78333 0.310303L6 4.52697L10.2167 0.310303L11.5 1.59364L6 7.09364Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth01 > li.on > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0.906364L0.5 6.40636L1.78333 7.6897L6 3.47303L10.2167 7.6897L11.5 6.40636L6 0.906364Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth01 > li.on > a span {
        color: #A91918;
    }
    .header .gnb ul.depth01 > li.on  > ul.depth02 {
        display: block;
        font-size: 24px;
        background-color: #DAD0C7;
        padding: 10px 80px;
    }
    .header .gnb ul.depth02 {
        height: auto;
    }
    .header .gnb ul.depth02 > li > a {
        line-height: 60px;
        font-size: 22px;
    }
    .header ul.depth02 > li.on > a, .header ul.depth02 > li > a span {
        font-weight: 700;
    }
    .header .tnb {
        display: none;
        font-size: 20px;
        color: #1d1d1d;
    }
    .header.menu_open .tnb {
        display: block;
        position: absolute;
        right: -80px;
        top: 45px;
        width: 70%;
    }
    .header .tnb .lang {
        padding: 0 0 0 25px;
    }
    .header .tnb .lang::before {
        width: 18px;
        height: 18px;
        background-size: 20px auto;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.75C6.64583 13.75 5.83854 13.5859 5.07812 13.2578C4.31771 12.9297 3.65365 12.4818 3.08594 11.9141C2.51823 11.3464 2.07031 10.6823 1.74219 9.92188C1.41406 9.16146 1.25 8.35417 1.25 7.5C1.25 6.63542 1.41406 5.82552 1.74219 5.07031C2.07031 4.3151 2.51823 3.65365 3.08594 3.08594C3.65365 2.51823 4.31771 2.07031 5.07812 1.74219C5.83854 1.41406 6.64583 1.25 7.5 1.25C8.36458 1.25 9.17448 1.41406 9.92969 1.74219C10.6849 2.07031 11.3464 2.51823 11.9141 3.08594C12.4818 3.65365 12.9297 4.3151 13.2578 5.07031C13.5859 5.82552 13.75 6.63542 13.75 7.5C13.75 8.35417 13.5859 9.16146 13.2578 9.92188C12.9297 10.6823 12.4818 11.3464 11.9141 11.9141C11.3464 12.4818 10.6849 12.9297 9.92969 13.2578C9.17448 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.4688C7.77083 12.0938 8.00521 11.7031 8.20312 11.2969C8.40104 10.8906 8.5625 10.4583 8.6875 10H6.3125C6.4375 10.4583 6.59896 10.8906 6.79688 11.2969C6.99479 11.7031 7.22917 12.0938 7.5 12.4688ZM5.875 12.2188C5.6875 11.875 5.52344 11.5182 5.38281 11.1484C5.24219 10.7786 5.125 10.3958 5.03125 10H3.1875C3.48958 10.5208 3.86719 10.974 4.32031 11.3594C4.77344 11.7448 5.29167 12.0312 5.875 12.2188ZM9.125 12.2188C9.70833 12.0312 10.2266 11.7448 10.6797 11.3594C11.1328 10.974 11.5104 10.5208 11.8125 10H9.96875C9.875 10.3958 9.75781 10.7786 9.61719 11.1484C9.47656 11.5182 9.3125 11.875 9.125 12.2188ZM2.65625 8.75H4.78125C4.75 8.54167 4.72656 8.33594 4.71094 8.13281C4.69531 7.92969 4.6875 7.71875 4.6875 7.5C4.6875 7.28125 4.69531 7.07031 4.71094 6.86719C4.72656 6.66406 4.75 6.45833 4.78125 6.25H2.65625C2.60417 6.45833 2.5651 6.66406 2.53906 6.86719C2.51302 7.07031 2.5 7.28125 2.5 7.5C2.5 7.71875 2.51302 7.92969 2.53906 8.13281C2.5651 8.33594 2.60417 8.54167 2.65625 8.75ZM6.03125 8.75H8.96875C9 8.54167 9.02344 8.33594 9.03906 8.13281C9.05469 7.92969 9.0625 7.71875 9.0625 7.5C9.0625 7.28125 9.05469 7.07031 9.03906 6.86719C9.02344 6.66406 9 6.45833 8.96875 6.25H6.03125C6 6.45833 5.97656 6.66406 5.96094 6.86719C5.94531 7.07031 5.9375 7.28125 5.9375 7.5C5.9375 7.71875 5.94531 7.92969 5.96094 8.13281C5.97656 8.33594 6 8.54167 6.03125 8.75ZM10.2188 8.75H12.3438C12.3958 8.54167 12.4349 8.33594 12.4609 8.13281C12.487 7.92969 12.5 7.71875 12.5 7.5C12.5 7.28125 12.487 7.07031 12.4609 6.86719C12.4349 6.66406 12.3958 6.45833 12.3438 6.25H10.2188C10.25 6.45833 10.2734 6.66406 10.2891 6.86719C10.3047 7.07031 10.3125 7.28125 10.3125 7.5C10.3125 7.71875 10.3047 7.92969 10.2891 8.13281C10.2734 8.33594 10.25 8.54167 10.2188 8.75ZM9.96875 5H11.8125C11.5104 4.47917 11.1328 4.02604 10.6797 3.64062C10.2266 3.25521 9.70833 2.96875 9.125 2.78125C9.3125 3.125 9.47656 3.48177 9.61719 3.85156C9.75781 4.22135 9.875 4.60417 9.96875 5ZM6.3125 5H8.6875C8.5625 4.54167 8.40104 4.10938 8.20312 3.70312C8.00521 3.29688 7.77083 2.90625 7.5 2.53125C7.22917 2.90625 6.99479 3.29688 6.79688 3.70312C6.59896 4.10938 6.4375 4.54167 6.3125 5ZM3.1875 5H5.03125C5.125 4.60417 5.24219 4.22135 5.38281 3.85156C5.52344 3.48177 5.6875 3.125 5.875 2.78125C5.29167 2.96875 4.77344 3.25521 4.32031 3.64062C3.86719 4.02604 3.48958 4.47917 3.1875 5Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
    }
    .header .tnb .link {
        padding: 7px 40px 7px 15px;
        border-color: #1d1d1d;
    }
    .header .tnb .link::before {
        top: 6px;
        width: 22px;
        height: 22px;
        background-size: 25px auto;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 15.75V8.71875L1.65 9.75L0.75 8.55L9 2.25L17.25 8.55L16.35 9.73125L15 8.71875V15.75H3ZM4.5 14.25H13.5V7.575L9 4.14375L4.5 7.575V14.25ZM6 11.25C5.7875 11.25 5.60938 11.1781 5.46563 11.0344C5.32188 10.8906 5.25 10.7125 5.25 10.5C5.25 10.2875 5.32188 10.1094 5.46563 9.96563C5.60938 9.82188 5.7875 9.75 6 9.75C6.2125 9.75 6.39062 9.82188 6.53438 9.96563C6.67813 10.1094 6.75 10.2875 6.75 10.5C6.75 10.7125 6.67813 10.8906 6.53438 11.0344C6.39062 11.1781 6.2125 11.25 6 11.25ZM9 11.25C8.7875 11.25 8.60938 11.1781 8.46563 11.0344C8.32188 10.8906 8.25 10.7125 8.25 10.5C8.25 10.2875 8.32188 10.1094 8.46563 9.96563C8.60938 9.82188 8.7875 9.75 9 9.75C9.2125 9.75 9.39062 9.82188 9.53438 9.96563C9.67813 10.1094 9.75 10.2875 9.75 10.5C9.75 10.7125 9.67813 10.8906 9.53438 11.0344C9.39062 11.1781 9.2125 11.25 9 11.25ZM12 11.25C11.7875 11.25 11.6094 11.1781 11.4656 11.0344C11.3219 10.8906 11.25 10.7125 11.25 10.5C11.25 10.2875 11.3219 10.1094 11.4656 9.96563C11.6094 9.82188 11.7875 9.75 12 9.75C12.2125 9.75 12.3906 9.82188 12.5344 9.96563C12.6781 10.1094 12.75 10.2875 12.75 10.5C12.75 10.7125 12.6781 10.8906 12.5344 11.0344C12.3906 11.1781 12.2125 11.25 12 11.25Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
    }
    .header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16V13.3333H24V16H0ZM0 9.33333V6.66667H24V9.33333H0ZM0 2.66667V0H24V2.66667H0Z' fill='%232d2d2d'/%3E%3C/svg%3E ");
    }
}/*@media*/
@media screen and (max-width:768px) {
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 9px 0 0 28px;
    }
    .header .logo a {
        width: 65px;
        height: 28px;
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    }
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        width: 60px;
    }
    .header .gnb .gnb_open {
        right: 0;
        width: 60px;
        background-size: 24px auto;
    }
    .header .gnb .gnb_close {
        background-size: 24px auto;
    }
    .header .gnb ul.depth01 {
        margin-top: 50px;
        height: calc(100vh - 50px);
        padding-top: 8px;
    }
    .header .gnb ul.depth01 > li > a span {
        padding-left: 50px;
    }
    .header .gnb ul.depth01 > li > a::after {
        right: 40px;
    }
    .header .tnb {
        font-size: 16px;
    }
    .header.menu_open .tnb {
        top: 17px;
        right: -45px;
    }
    .header .tnb .lang::before {
        left: 8px;
        top: 3px;
        width: 16px;
        height: 16px;
        background-size: 16px auto;
    }
    .header .tnb .link {
        padding: 7px 36px 7px 11px;
    }
    .header .tnb .link::before {
        width: 18px;
        height: 18px;
        background-size: 22px auto;
    }
}
@media screen and (max-width:640px) {   
    .header .gnb .gnb_open, .header .gnb .gnb_close {
        right: 0;
    }
    .header .gnb ul.depth01 > li > a::after {
        right: 20px;
        width: 18px;
        height: 18px;
        background-size: 18px auto;
    }
}
@media screen and (max-width:500px) {
    .header .gnb .gnb_wrap {
        width: 80%;
    }
    .header .gnb ul.depth01 > li > a span {
        padding-left: 30px;
    }
    .header .gnb ul.depth01 > li > a::after {
        right: 22px;
        top: 13px;
    }
    .header .gnb ul.depth01 > li > a span {
        font-size: 18px;
        line-height: 40px;
    }
    .header .gnb ul.depth01 > li > a::after {
        top: 15px;
        width: 15px;
        height: 15px;
        background-size: 15px auto;
    }
    .header.menu_open .tnb {
        right: 30px;
    }
    .header .gnb ul.depth01 > li.on > ul.depth02 {
        padding: 8px 50px;
    }
    .header .gnb ul.depth02 > li > a {
        font-size: 15px;
        line-height: 40px;
    }
}
@media screen and (max-width:375px) {
    .header .tnb {
        font-size: 15px;
    }
    .header.menu_open .tnb {
        top: 17px;
        right: 15px;
    }
    .header .tnb .lang {
        margin: 38px 8px 0 0
    }
    .header .tnb .lang::before {
        left: 8px;
        top: 3px;
        width: 15px;
        height: 15px;
        background-size: 15px auto;
    }
    .header .tnb .link {
        padding: 5px 30px 5px 8px;
    }
    .header .tnb .link::before {
        right: 8px;
        width: 16px;
        height: 16px;
        background-size: 16px auto;
    }
}
.sub_visual {
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.sub_visual.sub01 {
    background-image: url(../images/common/sub_visual01.png);
}
.sub_visual.sub02 {
    background-image: url(../images/common/sub_visual02.png);
}
.sub_visual.sub03 {
    background-image: url(../images/common/sub_visual03.png);
}
.sub_visual.sub04 {
    background-image: url(../images/common/sub_visual04.png);
}
.sub_visual.sub05 {
    background-image: url(../images/common/sub_visual05.png);
}
.sub_visual .sub_tit {
    padding: 240px 0 150px 0;
    text-align: center;
}
.sub_visual .sub_tit h1 {
    font-size: 26px;
    font-weight: 700;
}
.sub_visual .sub_tit strong {
    display: block;
    font-size: 45px;
}
.sub_visual .sub_tit span {
    display: block;
    font-size: 26px;
    letter-spacing: -0.05em;
}
.lnb {
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #666;
    height: 48px;
}
.lnb ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.lnb ul li {
    padding-right: 18px;
}
.lnb ul li a {
    display: block;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 50px;
    white-space: nowrap;
}
.lnb ul li.on a, .lnb ul li a:hover {
    color: #fff;
    font-weight: 700;
    background-color: #271916;
}
@media screen and (max-width:768px) {
    .sub_visual .sub_tit {
        padding: 220px 0 150px 0;
    }
    .sub_visual .sub_tit h1 {
        font-size: 20px;
    }
    .sub_visual .sub_tit strong {
        margin-top: 15px;
        font-size: 40px;
    }
    .sub_visual .sub_tit span {
        font-size: 22px;
    }
    .lnb {
        font-size: 20px;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .lnb ul {
        margin-top: 22px;
        justify-content: normal;
    }
    .lnb ul li {
        padding-right: 12px;
    }
    .lnb ul li a {
        line-height: 45px;
        padding: 0 15px;
    }
}
@media screen and (max-width:500px) {
    .sub_visual {
        height: 273px;
    }
    .sub_visual .sub_tit {
        padding: 63px 0 100px 0;
    }
    .sub_visual .sub_tit h1 {
        font-size: 15px;
    }
    .sub_visual .sub_tit strong {
        font-size: 24px;
    }
    .sub_visual .sub_tit span {
        font-size: 15px;
    }
    .lnb {
        font-size: 16px;
    }
    .lnb ul {
        justify-content: flex-start;
    }
}

.contents {
    min-height: 200px;
}

.footer {
    background-color: #282828;
    padding: 75px 0 55px 0;
    color: #fff;
}
.footer .wrapper {
    position: relative;
}
.footer .family {
    position: absolute;
    right: 0;
    top: 0;
}
.footer .family ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 20px 0 20px 25px;
    z-index: 100;
}
.footer .family ul li a {
    display: block;
    line-height: 30px;
}
.footer .family ul li a:hover {
    text-decoration-line: underline;
}
.footer .family .open , .footer .family .close {
    padding: 8px 64px 10px 25px;
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}
.footer .family .close {
    display: none;
}
.footer .family .open::after , .footer .family .close::after {
    position: absolute;
    right: 15px;
    top: 7px;
    content: "";
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .family .open::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.3751L6 9.3751L7.4 7.9751L12 12.5751L16.6 7.9751L18 9.3751L12 15.3751Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .family .close::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8.6249L6 14.6249L7.4 16.0249L12 11.4249L16.6 16.0249L18 14.6249L12 8.6249Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .family.on .open {
    display: none;/*숨김*/
}
.footer .family.on .close {
    display: block;/*보임*/
}
.footer .family.on ul {
    display: block;/*보임*/
}
.footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;/*줄바꿈허용*/
}
.footer .f_nav ul li {
    padding-right: 45px;
    position: relative;
}
.footer .f_nav ul li::after {
    position: absolute;
    top: 9px;
    right: 22px;
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}
.footer .f_nav ul li:last-child::after {
    display: none;
}
.footer .f_nav ul .privacy {
    font-weight: 700;
}
.footer .f_info {
    margin: 20px 0 110px 0;
}
.footer .copyright {
    color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width:1024px) {
    .footer {
        padding: 50px 0 55px 0;
    }
    .footer .family {
        position: relative;
        right: auto;
        top: auto;
        display: flex;
        justify-content: center;
    }
    .footer .family .open , .footer .family .close {
        padding: 8px 100px 10px 18px;
        margin-bottom: 60px;
        text-align: left;
    }
    .footer .family ul {
        left: calc(50% - 107.94px);
        width: 215.88px;
        bottom: 102px;
    }
    .footer .f_info {
        margin: 20px 0 60px 0;
    }
}
@media screen and (max-width:768px){
    .footer .family {
        display: block;
    }
    .footer .family .open , .footer .family .close {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .family ul {
        left: 0;
        bottom: 40px;
        width: 100%;
    }
    .footer .family .open::after, .footer .family .close::after {
        width: 20px;
        height: 20px;
    }
    .footer .f_nav ul {
        width: 225px;
    }
    .footer .f_nav ul li {
        padding-right: 31px;
        line-height: 22px;
    }
    .footer .f_nav ul li:nth-child(3)::after {
        display: none;
    }
    .footer .f_info {
        margin: 10px 0 30px 0;
    }
}